.main-section {
  width: 106rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  margin: 0 auto;
  margin-top: 4rem;
}

@media (max-width: 1199px) {
  .main-section {
    width: 100%;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}
