:root {
  --black: #000;
  --linkbrary-primary: #6d6afe;
  --linkbrary-white: #fff;
  --gra-purpleblue-to-skyblue: linear-gradient(
    91deg,
    #6d6afe 0.12%,
    #6ae3fe 101.84%
  );
  --gray-light: #f5f5f5;
  --linkbrary-bg: #f0f6ff;
  --linkbrary-gray-100: #373740;
  --linkbrary-gray-10: #e7effb;
  --linkbrary-gray-20: #ccd5e3;
}

* {
  box-sizing: border-box;
  margin: 0;
}
html {
  /* 10px = 1rem; */
  font-size: 62.5%;
}

body {
  padding-top: 24rem;
  background: var(--linkbrary-bg);
}

.redirection-text {
  display: flex;
  flex-direction: row;
  column-gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.redirection-text a {
  color: var(--Linkbrary-primary);
}

form {
  display: flex;
  flex-direction: column;
  width: 50rem;
  row-gap: 3.2rem;
}

label {
  width: 100%;
  text-align: start;
}

label input {
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 5px solid var(--linkbrary-gray-20);
}
input:focus {
  outline: none;
  border: 5px solid var(--linkbrary-primary);
}
.password-container {
  position: relative;
}

.eye-on-image {
  position: absolute;
  bottom: 15px;
  right: 18px;
}

.social-login {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-end-end-radius: 8px;
  background: var(--linkbrary-gray-10);
}

.social-login p {
  font-size: 14px;
  font-weight: 700;
}

.social-login #google {
  margin-right: 10px;
}

/* PC */

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* Tablet 사이즈에서 디자인은 PC사이즈와 동일합니다. */
  body {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}

/* mobile */

@media screen and (min-width: 375px) and (max-width: 767px) {
  body {
    /*  좌우 여백 32px 제외 */
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  /* 내부 요소들의 너비는 기기의 너비가 커지는 만큼 커지지만 400px을 넘지 않습니다 400px을 넘지 않습니다  */
  form {
    width: 100%;
    max-width: 400px;
  }
}
