@import url(./reset.css);
@import url(./root.css);
@import url(./valiable.css);

html {
    font-size:62.5%; /* 16px기준 62.5%= 10px; */
}

header {
    display: flex;
    padding: 20px 200px;
    align-items: center;
    justify-content: space-between;
    background-color: #F0F6FF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

header a {
    display: inline-block;
    width: 133px;
}
header a img {
    width: 100%;
    height: auto;
}

.header-login a {
    display: inline-block;
    padding: 16px 20px;
    background:linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
    border-radius: 8px;
    color: #F5F5F5;
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 88px;
    text-align: center;
}

main {
    padding-top: 93px;
}

.section-title {
    background-color: #F0F6FF;
    padding:0 30px;
}

.section-title-wrap {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding-top: 7rem;
}

.section-title-wrap h2 {
    text-align: center;
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 125% */
}

.section-title-wrap h2 span {
    background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
    background-clip: text;   /* 밑에 3줄 코드 배경색 그라디언트를 글자로 덮어씌움  */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-title-wrap a {
    display: inline-block;
    width: 350px;
    text-align: center;
    padding: 16px 20px;
    border-radius: 0.8rem;
    background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
    text-decoration: none;
    color: #F5F5F5;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section-title-wrap .section-title-add-link {
    width: 1118px;
    height: 539px;
    background-image: url('../img/png/image25.png'), linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, #F0F6FF 94.76%);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 89px;
}

.section-article-wrap {
    width: 100%;
    margin: 0 auto;
    max-width: 99.8rem;
    padding: 12rem 0;
}

.section-article .section-article-introduce {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15.7rem;
    
}

.section-article .section-article-introduce:not(:last-child) {
    padding-bottom:10rem;
}


.section-article-introduce-first, 
    .section-article-introduce-second, 
    .section-article-introduce-third,
    .section-article-introduce-fourth{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    width: 29.1rem;
}

.section-article-introduce-first h3,
.section-article-introduce-second h3,
.section-article-introduce-third h3,
.section-article-introduce-fourth h3 {
    font-size: 4.8em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}

.section-article-introduce-first h3 span {
    background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-article-introduce-first-text,
.section-article-introduce-second-text,
.section-article-introduce-third-text,
.section-article-introduce-fourth-text  {
    color: #6B6B6B;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}


.section-article-introduce .section-article-bg {
    width: 550px;
    height: 450px;
    border-radius: 15px;
}

.section-article-introduce .section-article-bg img {
    width: 100%;
    height: auto;
}

.section-article-introduce-reverse {
    flex-direction: row-reverse;
}



.section-article-introduce-second h3 span {
    background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.section-article-introduce-third h3 span {
    background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.section-article-introduce-fourth h3 span {
    background: var(--fandom-k-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


footer {
    background: var(--the-julge-black, #111322);
    height:  164px;
}

.footer-connect {
    display: flex;
    align-items: center;
    padding: 32px 104px 0px 104px;
}

.footer-connect .footer-connect-year {
    color:#676767;
    flex-grow:1;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}
.footer-connect .footer-connect-faq {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-grow:2;
    gap:30px;
    list-style: none;
}

.footer-connect .footer-connect-faq li a {
    color: #CFCFCF;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-connect .footer-connect-sns, .footer-connect .footer-connect-year {
    flex-basis: 300px;
} 

.footer-connect .footer-connect-sns {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow:1;
    gap:12px;
}

.footer-connect .footer-connect-sns li {
    width: 20px;
    height: 20px;
}

.footer-connect .footer-connect-sns li img {
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 1200px) {
    header {
        padding: 20px 200px
    }
    .section-title-wrap .section-title-add-link {
        width: 650px;
        height: 383px;
        margin-top: 29px;
    }
    .section-article-wrap {
        max-width: 69.8rem;
        padding: 8rem 0 17rem;
    }

    .section-article-introduce .section-article-bg {
        width: 385px;
        height: 315px;
    }

    .section-article .section-article-introduce {
        gap: 5.1rem;
    }

    .section-article-introduce-first, 
    .section-article-introduce-second, 
    .section-article-introduce-third,
    .section-article-introduce-fourth {
        width: 26.2rem;
    }
} 

@media screen and (max-width: 767px) {
    header {
        padding: 13px 32px;
    }
    header a {
        width: 88.667px;
    }
    header a img {
        width: 100%;
        height: auto;
    }
    .header-login a {
        padding: 10px 16px;
        width: 80px;
        height: 37px;
        font-size: 14px;
    }
    main {
        padding-top: 63px;
    }
    .section-title-wrap {
        max-width: 32.5rem;
        padding-top: 2.8rem;
        gap: 2.4rem;
    }
    .section-title-wrap h2 {
        font-size: 3.2rem;
        line-height: 42px;

    }
    .section-title-wrap a {
        width: 200px;
        padding: 10px 16px;
        font-size: 1.4rem;
    }
    .section-title-wrap .section-title-add-link {
        width: 303px;
        height: 179px;
        margin-top: 13.5px;
    }
    section.section-article {
        padding: 4rem 3.2rem 8rem;
    }
    .section-article-wrap {
        padding: 0;
    }
    .section-article .section-article-introduce {
        flex-direction: column;
        align-items: flex-start;
    }
    .section-article-introduce-first,
    .section-article-introduce-second, 
    .section-article-introduce-third, 
    .section-article-introduce-fourth {
        width: 100%;
    }
    .section-article-introduce .section-article-bg {
        width: 100%;
        height: auto;
    }
    .footer-connect {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 32px 32px 0px;
    }
    .footer-connect .footer-connect-year {
        grid-row: 2/ span 2;
        padding-top: 60px;
    }
    .footer-connect .footer-connect-faq  {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 390px) {

    .section-article-introduce-first, 
    .section-article-introduce-second, 
    .section-article-introduce-third, 
    .section-article-introduce-fourth {
        gap: 20px;
    }

    .section-article-introduce-first h3,
    .section-article-introduce-second h3,
    .section-article-introduce-third h3,
    .section-article-introduce-fourth h3{
        font-size: 2.4rem;
    }
    .section-article-introduce-first-text,
    .section-article-introduce-second-text,
    .section-article-introduce-third-text,
    .section-article-introduce-fourth-text {
        font-size: 1.5rem;
    }
    .section-article .section-article-introduce {
        gap:2.4rem;
    }
    .section-article .section-article-introduce:not(:last-child) {
        padding-bottom: 8.2rem;
    }
}

