@media screen and (min-width: 375px) {
  .nav {
    position: sticky;
    top: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo sign";
    align-items: center;
    padding: 1.6rem 3.2rem;
    background-color: var(--Gray1-80);
  }

  .logo {
    width: 10rem;
    height: auto;
  }

  .sign {
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    background-image: linear-gradient(90deg, #6d6afe, #6ae3fe);
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--White);
  }

  .sign--smallsize {
    justify-self: end;
    width: 8rem;
  }
  .sign--largesize {
    width: 20rem;
  }

  .section {
    display: grid;
    place-items: center;
  }
  .section--grid-header {
    grid-template: repeat(3, auto) / 100%;
    grid-template-areas:
      "title"
      "sign"
      "img";
    gap: 2.5rem;
    padding-top: 4rem;
  }
  .section--grid-main {
    grid-template: repeat(3, auto) / 100%;
    grid-template-areas:
      "title"
      "img"
      "text";
    place-items: start;
    row-gap: 2rem;
    padding: 4rem 3.2rem;
  }
  .section--background-color-blue {
    background-color: var(--Gray1);
  }
  .section__head-title {
    text-align: center;
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
  .section__text {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 150%;
    color: var(--Gray5);
  }

  .section__title {
    font-size: 2.4rem;
    font-weight: 700;
  }
  .section__img {
    width: 100%;
    height: auto;
  }

  .footer {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-template-areas:
      "info sns"
      "copy .";
    row-gap: 6rem;
    margin-top: 4rem;
    padding: 3.2rem;
    background: var(--Black);
  }

  .footer__content {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--Gray5);
  }

  .text--display {
    display: block;
  }
  .text--gradient-color1 {
    background: linear-gradient(90deg, #6d6afe, #ff9f9f);
    color: transparent;
    -webkit-background-clip: text;
  }
  .text--gradient-color2 {
    background: linear-gradient(90deg, #fe8a8a, #a4ceff);
    color: transparent;
    -webkit-background-clip: text;
  }
  .text--gradient-color3 {
    background: linear-gradient(270deg, #6fbaff, #ffd88b);
    color: transparent;
    -webkit-background-clip: text;
  }
  .text--gradient-color4 {
    background: linear-gradient(270deg, #fe578f, #68e8f9);
    color: transparent;
    -webkit-background-clip: text;
  }
  .text--gradient-color5 {
    background: linear-gradient(180deg, #6d7ccd, rgba(82, 133, 130, 0.22));
    color: transparent;
    -webkit-background-clip: text;
  }
  .gap10 {
    gap: 1.2rem;
  }
  .gap30 {
    gap: 3rem;
  }
  .grid--logo {
    grid-area: logo;
  }
  .grid--title {
    grid-area: title;
  }
  .grid--sign {
    grid-area: sign;
  }
  .grid--img {
    grid-area: img;
  }
  .grid--text {
    grid-area: text;
  }
  .grid--copy {
    grid-area: copy;
  }
  .grid--info {
    grid-area: info;
  }
  .grid--sns {
    justify-self: end;
    grid-area: sns;
  }
  .color--gray3 {
    color: var(--Gray3);
  }
}

@media screen and (min-width: 768px) {
  .nav {
    grid-template-columns: calc(50vw - 40rem) 1fr 1fr calc(50vw - 40rem);
    grid-template-areas: ". logo sign .";
  }
  .logo {
    width: 13rem;
  }
  .sign {
    padding: 1.2rem 1.6rem;
    font-size: 1.8rem;
  }
  .sign--smallsize {
    width: 11rem;
  }
  .sign--largesize {
    padding: 2rem 1.6rem;
    width: 35rem;
  }

  .section--grid-header {
    gap: 4rem;
  }
  .section--grid-main {
    grid-template: auto auto / calc(50vw - 41rem) 30rem 1fr calc(50vw - 41rem);
    grid-template-areas:
      ". title img ."
      ". text  img .";
    row-gap: 1rem;
  }
  .section--grid-reverse {
    grid-template: auto auto / calc(50vw - 41rem) 1fr 30rem calc(50vw - 41rem);
    grid-template-areas:
      ". img title ."
      ". img text .";
  }

  .section__head-title {
    font-size: 6.4rem;
    line-height: 8rem;
  }
  .section__title {
    font-size: 4.8rem;
    font-weight: 700;
  }
  .section__text {
    font-size: 1.6rem;
  }
  .section__img {
    width: 75rem;
  }
  .img--smallsize {
    justify-self: end;
    width: 38.5rem;
    height: 31.5rem;
  }

  .footer {
    grid-template: 1fr / 1fr 1fr 1fr;
    grid-template-areas: "copy info sns";
    padding: 3.2rem 10rem 11.2rem;
  }

  .grid--title {
    align-self: self-end;
  }
  .grid--img-reverse {
    justify-self: start;
  }

  .grid--info {
    justify-self: center;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    padding: 2rem 20rem;
    grid-template-columns: calc(50vw - 96rem) 1fr 1fr calc(50vw - 96rem);
    grid-template-areas: ". logo sign .";
  }

  .section--grid-main {
    grid-template: auto auto / calc(50vw - 50rem) 30rem 1fr calc(50vw - 50rem);
    grid-template-areas:
      ". title img ."
      ". text  img .";
  }

  .text--display {
    display: inline;
  }
  .section__img {
    width: 120rem;
  }
  .img--smallsize {
    width: 55rem;
    height: 45rem;
  }

  .footer {
    grid-template: 1fr / calc(50vw - 96rem) 1fr 1fr 1fr calc(50vw - 96rem);
    grid-template-areas: ". copy info sns .";
    padding: 3.2rem 10rem 11.2rem;
  }
}
