.header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  background-color: var(--Gray1-80);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 20rem;
  width: 100%;
  height: 9.4rem;
  max-width: 192rem;
}

.signin,
.signup {
  display: inline-block;
  padding: 1.6rem 2rem;
  height: 5.4rem;
  border-radius: 0.8rem;
  background-image: linear-gradient(90deg, #6d6afe, #6ae3fe);
  text-decoration: none;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--White);
}

a.header-logo {
  width: 13.3rem;
  height: 2.4rem;
}

a.signin {
  width: 12.8rem;
}
a.signup {
  width: 35rem;
}

main {
  display: flex;
  flex-direction: column;
}

.first-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 7rem 0 0;
  background-color: var(--Gray1);
}

.section-first h1 {
  margin: 0;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
}

.section-first span {
  background: linear-gradient(90deg, #6d6afe, #ff9f9f);
  color: transparent;
  -webkit-background-clip: text;
}

.first-img-container {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 120rem;
  height: 59rem;
  padding-top: 5rem;
}

.first-img {
  position: absolute;
  top: 5rem;
  width: 100%;
  border-radius: 2.5rem;
  box-shadow: 0rem 0.4rem 2.5rem 0rem rgba(0, 0, 0, 0.08);
}

.second-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16rem;
  padding: 12rem 0 5rem;
}

.second-text h2,
.third-text h2,
.forth-text h2,
.fifth-text h2 {
  margin: 0;
  font-size: 4.8rem;
  font-weight: 700;
}

.second-text p,
.third-text p,
.forth-text p,
.fifth-text p {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}

.second-text span {
  background: linear-gradient(90deg, #fe8a8a, #a4ceff);
  color: transparent;
  -webkit-background-clip: text;
}

.second-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55rem;
  height: 45rem;
  overflow: hidden;
  background-color: var(--Gray1);
  border-radius: 1.5rem;
}

.second-img {
  display: inline-flex;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28rem;
  height: 28rem;
}

.card img {
  width: 100%;
}

.third-content,
.forth-content,
.fifth-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16rem;
  padding: 5rem 0 5rem;
}

.third-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55rem;
  height: 45rem;
  overflow: hidden;
  background-color: var(--Gray1);
  border-radius: 1.5rem;
}

.third-img img {
  width: 41.4rem;
  height: 27rem;
}

.third-text span {
  background: linear-gradient(270deg, #6fbaff, #ffd88b);
  color: transparent;
  -webkit-background-clip: text;
}

.forth-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/sectionfirst-img.png);
  background-position: center;
  background-size: 170%;
  background-repeat: no-repeat;
  border-radius: 2.5rem;
}

.forth-img div {
  position: relative;
  width: 55rem;
  height: 45rem;
  border-radius: 2.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0rem 0.4rem 2.5rem 0rem rgba(0, 0, 0, 0.08);
}

.forth-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.forth-text span {
  background: linear-gradient(90deg, #6d7ccd, rgba(82, 136, 133, 0.22));
  color: transparent;
  -webkit-background-clip: text;
}

.fifth-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55rem;
  height: 45rem;
  overflow: hidden;
  background-color: var(--Gray1);
  border-radius: 1.5rem;
}

.fifth-img img {
  position: absolute;
  top: 5.5rem;
  left: 6rem;
  width: 62rem;
  height: 58rem;
}

.fifth-text span {
  background: linear-gradient(277deg, #fe578f -9.84%, #68e8f9 107.18%);
  color: transparent;
  -webkit-background-clip: text;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 12rem;
  background: var(--Black);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10rem 6rem;
  width: 100%;
  max-width: 192rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.footer-content div {
  display: flex;
  gap: 2rem;
  color: var(--Gray5);
}

.footer-content a {
  text-decoration: none;
  color: var(--White);
}

.sns {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}
