body {
  background: var(--background);
}

header {
  display: flex;
  background: var(--background);
  padding: 2rem 20rem;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  max-width: 192rem;
  position: fixed;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#logoImg {
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}

.defaultBtn {
  border-radius: 0.8rem;
  background: linear-gradient(91deg, var(--primary) 0.12%, #6ae3fe 101.84%);
  color: #f5f5f5;
  padding: 1.6rem 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#loginBtn {
  width: 12.8rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--white);
}

section {
  display: flex;
  width: 99.8rem;
  justify-content: space-between;
  padding-top: 7rem;
}

#topSection {
  flex-direction: column;
  padding-top: 7rem;
  background: var(--background);
  width: 100%;
  gap: 4rem;
  align-items: center;
  margin-top: 9.4rem;
}

.contentSection {
  padding: 5rem 0;
  align-items: center;
}

.contentSection:last-child {
  margin-bottom: 12rem;
}

.contentSection > .sectionSubTitleMobile {
  display: none;
}

#mainTitle {
  color: #000;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem;
  text-align: center;
}

#noDisplayInPcBr {
  display: none;
}

#mainTitle > span {
  background: linear-gradient(91deg, var(--primary) 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#addBtn {
  width: 35rem;
}

.sectionTitleContainer {
  display: flex;
  flex-direction: column;
  width: 29.1rem;
  gap: 1rem;
}

.sectionTitleContainer > .sectionTitle {
  color: #000;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.sectionTitle > span {
  background-image: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 4.8rem;
}

#secondSection span {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
}

#thirdSection span {
  background-image: linear-gradient(
    99deg,
    #6d7ccd 69.76%,
    rgba(82, 136, 133, 0.22) 92.69%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

#fourthSection span {
  background-image: linear-gradient(271deg, #fe578f -40.84%, #68e8f9 27.18%);
  background-clip: text;
  -webkit-background-clip: text;
}

.sectionTitleContainer > .sectionSubTitle {
  color: #6b6b6b;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}

footer {
  background: var(--black);
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 3.2rem 10.4rem 6.4rem;
  align-items: center;
  box-sizing: border-box;
}

footer > .contentContainer {
  height: 6.4rem;
  align-items: flex-start;
  max-width: 171.2rem;
}

#leftItem {
  color: #676767;
  text-align: center;
}

.footerItem {
  font-family: Arial;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6rem;
}

#centerItemContainer {
  display: flex;
  gap: 3rem;
}

.centerItem {
  cursor: pointer;
  color: #cfcfcf;
}

#snsItemContainer {
  display: flex;
  gap: 1.2rem;
}

#snsItemContainer > a {
  height: 2rem;
}

#snsItemContainer img {
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1199px) {
  main {
    padding-top: 3rem;
  }

  section {
    width: 69.8rem;
  }

  section img {
    width: 38.5rem;
    height: 31.5rem;
  }

  #topSection {
    padding-top: 3.9rem;
  }

  #noDisplayInPcBr {
    display: block;
  }

  #topSection img {
    width: 69.8rem;
    height: 34.3rem;
  }

  .sectionTitleContainer {
    width: 26.2rem;
  }
}

@media (max-width: 767px) {
  header {
    padding: 1.3rem 3.2rem;
    width: 100vw;
  }

  header img {
    width: 8.8rem;
    height: 1.6rem;
  }

  .defaultBtn {
    padding: 1rem 1.6rem;
    color: #f5f5f5;
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  #loginBtn {
    width: 8rem;
  }

  #noDisplayInPcBr {
    display: block;
  }

  main {
    padding-top: 0;
  }

  section {
    width: 100vw;
    flex-direction: column;
    box-sizing: border-box;
  }

  .contentSection {
    padding: 4rem 3.2rem;
  }

  section img {
    width: 100%;
    height: fit-content;
  }

  #topSection {
    margin-top: 6.3rem;
    padding: 2.8rem 3.2rem 0;
    gap: 2.4rem;
  }

  #mainTitle {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }

  #topSection img {
    width: 100%;
    height: fit-content;
  }

  #addBtn {
    width: 20rem;
  }

  .contentSection > .sectionSubTitleMobile {
    display: block;
    font-size: 1.5rem;
    width: 100%;
    color: #6b6b6b;
    font-weight: 500;
    line-height: 2.3rem;
    margin-top: 1.6rem;
  }

  .sectionTitleContainer {
    width: 100%;
    margin-bottom: 2rem;
  }

  .sectionTitleContainer br {
    display: none;
  }

  .sectionTitleContainer .sectionTitle {
    font-size: 2.4rem;
  }

  .sectionTitleContainer span {
    font-size: 2.4rem;
  }

  .sectionTitleContainer .sectionSubTitle {
    display: none;
  }

  #secondSection,
  #fourthSection {
    flex-direction: column-reverse;
  }

  #fourthSection {
    margin-bottom: 4rem;
  }

  footer {
    padding: 3.2rem;
  }

  footer .contentContainer {
    height: 9.6rem;
    flex-wrap: wrap;
  }

  #leftItem {
    order: 3;
    align-self: flex-end;
  }
}
