* {
  box-sizing: border-box;
}

a,
abbr,
body,
button,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
iframe,
img,
label,
legend,
li,
ol,
p,
td,
th,
ul {
  border: 0;
  font-size: 100%;
  font-weight: normal;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

a,
abbr {
  font-weight: inherit;
}

input,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

body,
button,
input,
select,
td,
textarea,
th {
  color: #000;
  font-family: Pretendard, sans-serif;
  word-break: keep-all;
}

body,
button {
  background: #fff;
  line-height: 1;
}

html {
  font-size: 62.5%;
}

a,
button {
  cursor: pointer;
}

.a11y {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), url("./woff2/Pretendard-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url("/public/fonts/pretendard/Pretendard-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("/public/fonts/pretendard/Pretendard-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("/public/fonts/pretendard/Pretendard-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("/public/fonts/pretendard/Pretendard-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url("/public/fonts/pretendard/Pretendard-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url("/public/fonts/pretendard/Pretendard-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url("/public/fonts/pretendard/Pretendard-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url("/public/fonts/pretendard/Pretendard-Thin.woff2") format("woff2");
}
.gnb {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f0f6ff;
}
.gnb__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  padding: 2rem 20rem;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gnb__inner {
    max-width: 80rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}
@media screen and (max-width: 767px) {
  .gnb__inner {
    max-width: 80rem;
    padding: 1.3rem 3.2rem;
  }
}
.gnb__logo {
  margin-right: 0.5rem;
}
@media screen and (max-width: 767px) {
  .gnb__logo-img {
    width: 8.8rem;
  }
}
.gnb__signin {
  width: 12.8rem;
  margin-left: 0.5rem;
}
@media screen and (max-width: 767px) {
  .gnb__signin {
    width: 8rem;
  }
}

.footer {
  width: 100%;
  background-color: #111322;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 16rem;
  max-width: 192rem;
  margin: 0 auto;
  padding: 3.2rem 10.4rem 6.4rem;
}
@media screen and (max-width: 767px) {
  .footer__inner {
    display: grid;
    grid-template-columns: 18rem 11.6rem;
    grid-template-rows: 1.8rem 1.8rem;
    row-gap: 6rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}
.footer__copyright {
  font-family: Arial;
  font-size: 1.6rem;
  font-weight: 400;
  color: #676767;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    grid-column: 1;
    grid-row: 2;
  }
}
.footer__extra-page {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
@media screen and (max-width: 767px) {
  .footer__extra-page {
    grid-column: 1;
    grid-row: 1;
    justify-content: flex-start;
  }
}
.footer__link {
  font-family: Arial;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  color: #cfcfcf;
}
.footer__sns {
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
}
@media screen and (max-width: 767px) {
  .footer__sns {
    grid-column: 2;
    grid-row: 1;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f6ff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}
.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.form__input-text {
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
}
.form__input-box {
  width: 100%;
  height: auto;
  margin-top: 1.2rem;
  padding: 1.8rem 1.5rem;
  border: 0.1rem solid #ccd5e3;
  border-radius: 0.8rem;
}
.form__input-box:focus {
  outline-color: #6d6afe;
}
.form__password-toggle {
  position: absolute;
  top: 4.7rem;
  right: 1.5rem;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 2rem;
  border-radius: 0.8rem;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  font-size: 1.8rem;
  font-weight: 600;
  color: #f5f5f5;
}
@media screen and (max-width: 767px) {
  .button {
    padding: 1rem 1.6rem;
    font-size: 1.4rem;
  }
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 7rem 3.2rem 0rem;
  background-color: #f0f6ff;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section {
    padding-top: 3.9rem;
  }
}
@media screen and (max-width: 767px) {
  .main-section {
    padding-top: 2.8rem;
  }
}
.main-section__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section__title {
  width: 72rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.25;
}
.main-section__title--grad {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section__title {
    width: 48.5rem;
  }
}
@media screen and (max-width: 767px) {
  .main-section__title {
    width: 26rem;
    font-size: 3.2rem;
  }
}
.main-section__signup {
  width: 35rem;
  margin: 4rem;
}
@media screen and (max-width: 767px) {
  .main-section__signup {
    width: 20rem;
    margin: 2.4rem;
  }
}
.main-section__frame {
  width: 120rem;
  height: 59rem;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section__frame {
    width: 65rem;
    height: 33rem;
  }
}
@media screen and (max-width: 767px) {
  .main-section__frame {
    width: 100%;
    height: auto;
  }
}
.main-section__img {
  width: 100%;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  width: 100%;
  padding-top: 12rem;
  padding-bottom: 17rem;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-container {
    padding-top: 8rem;
  }
}
@media screen and (max-width: 767px) {
  .section-container {
    gap: 8rem;
    padding: 4rem 3.2rem 8rem;
  }
}

.section {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  -moz-column-gap: 15.7rem;
       column-gap: 15.7rem;
  row-gap: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section {
    -moz-column-gap: 5.1rem;
         column-gap: 5.1rem;
  }
}
@media screen and (max-width: 767px) {
  .section {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 0;
  }
}
.section__title {
  align-self: flex-end;
  width: 29.1rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.03rem;
}
.section:first-child .section__title--grad {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
}
.section:nth-child(2) .section__title--grad {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
}
.section:nth-child(3) .section__title--grad {
  background: linear-gradient(99deg, #6d7ccd 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
}
.section:nth-child(4) .section__title--grad {
  background: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
}
.section-container .section .section__title--grad {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section:nth-child(odd) .section__title {
  grid-column: 1;
  grid-row: 1;
}
.section:nth-child(even) .section__title {
  grid-column: 2;
  grid-row: 1;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section__title {
    width: 26.2rem;
  }
}
@media screen and (max-width: 767px) {
  .section__title {
    width: 30rem;
    font-size: 2.4rem;
  }
  .section-container .section .section__title {
    grid-column: 1;
    grid-row: 1;
  }
}
.section__desc {
  width: 27.8rem;
  color: #6b6b6b;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}
.section:nth-child(odd) .section__desc {
  grid-column: 1;
  grid-row: 2;
}
.section:nth-child(even) .section__desc {
  grid-column: 2;
  grid-row: 2;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section__desc {
    width: 26.2rem;
  }
}
@media screen and (max-width: 767px) {
  .section__desc {
    width: 100%;
    font-size: 1.5rem;
  }
  .section-container .section .section__desc {
    grid-column: 1;
    grid-row: 3;
  }
}
.section__frame {
  width: 55rem;
  height: 45rem;
}
.section:nth-child(odd) .section__frame {
  grid-column: 2;
  grid-row: 1/3;
}
.section:nth-child(even) .section__frame {
  grid-column: 1;
  grid-row: 1/3;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section__frame {
    width: 38.4rem;
    height: 31.5rem;
  }
}
@media screen and (max-width: 767px) {
  .section__frame {
    margin-top: 2rem;
    margin-bottom: 1.6rem;
    width: 100%;
    height: auto;
  }
  .section-container .section .section__frame {
    grid-column: 1;
    grid-row: 2;
  }
}
.section__img {
  width: 100%;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  max-width: 40rem;
  height: auto;
  padding: 0 3.2rem;
}
.auth__logo img {
  width: 21rem;
}
.auth__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
}
.auth__redirect {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}
.auth__redirect-link {
  font-weight: 600;
  line-height: normal;
  text-decoration: underline;
  color: #6d6afe;
}
.auth .button {
  padding: 1.6rem 2rem;
  font-size: 1.8rem;
}
.auth__social {
  display: flex;
  width: 100%;
  padding: 1.2rem 2.4rem;
  justify-content: space-between;
  align-items: center;
  border: 0.1rem solid #ccd5e3;
  border-radius: 0.8rem;
  background-color: #e7effb;
}
.auth__social-text {
  font-size: 1.4rem;
  font-weight: 400;
  color: #373740;
}
.auth__social-logos {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.auth__social-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
}
.auth__social-logo--google {
  border: 0.1rem solid #ccd5e3;
  background-color: #fff;
}
.auth__social-logo--google img {
  width: 2.2rem;
  height: 2.2rem;
}
.auth__social-logo--kakaotalk {
  background-color: #f5e14b;
}
.auth__social-logo--kakaotalk img {
  width: 2.6rem;
  height: 2.4rem;
}/*# sourceMappingURL=main.css.map */