* {
  box-sizing: border-box;
}

a,
abbr,
body,
button,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
iframe,
img,
label,
legend,
li,
ol,
p,
td,
th,
ul {
  border: 0;
  font-size: 100%;
  font-weight: normal;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

a,
abbr {
  font-weight: inherit;
}

input,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

body,
button,
input,
select,
td,
textarea,
th {
  color: #000;
  font-family: Pretendard, sans-serif;
}

body {
  background: #fff;
  line-height: 1;
}

html {
  font-size: 62.5%;
}

a, button {
  cursor: pointer;
}

.a11y {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.gnb {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #F0F6FF;
}
.gnb__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  padding: 2rem 20rem;
}
@media screen and (max-width: 1199px) {
  .gnb__inner {
    max-width: 80rem;
    padding: 2rem 3.2rem;
  }
}
.gnb__logo {
  flex-shrink: 0;
  margin-right: 0.5rem;
}
.gnb__signin {
  flex-shrink: 0;
  width: 12.8rem;
  margin-left: 0.5rem;
}

.footer {
  width: 100%;
  background-color: #111322;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  padding: 3.2rem 10.4rem 6.4rem;
}
.footer__copyright {
  flex-shrink: 0;
  font-family: Arial;
  font-size: 1.6rem;
  font-weight: 400;
  color: #676767;
}
.footer__extra-page {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  gap: 3rem;
  margin: 0 20px;
}
.footer__link {
  font-family: Arial;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  color: #CFCFCF;
}
.footer__sns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  gap: 1.2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #F0F6FF;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}
.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.form__input-text {
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
}
.form__input-box {
  width: 40rem;
  margin-top: 1.2rem;
  padding: 1.8rem 1.5rem;
  border: 0.1rem solid #CCD5E3;
  border-radius: 0.8rem;
}
.form__input-box:focus {
  outline-color: #6D6AFE;
}
.form__password-toggle {
  position: absolute;
  top: 4.7rem;
  right: 1.5rem;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 2rem;
  border-radius: 0.8rem;
  background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  font-size: 1.8rem;
  font-weight: 600;
  color: #F5F5F5;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 7rem;
  background-color: #F0F6FF;
}
.main-section__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section__title {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.25;
  word-break: keep-all;
}
@media screen and (max-width: 1199px) {
  .main-section__title {
    width: 47.5rem;
  }
}
.main-section__title--grad {
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-section__signup {
  width: 35rem;
  margin: 4rem;
}
.main-section__frame {
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  width: 111.8rem;
  height: 59rem;
  padding: 5rem 4.1rem 0;
  background-color: transparent;
}
@media screen and (max-width: 1199px) {
  .main-section__frame {
    width: 65rem;
    height: 33rem;
  }
}
.main-section__img {
  width: 111.8rem;
  height: 70.7rem;
  background-image: url("/public/images/main-screen.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0.4rem 2.5rem 0 rgba(0, 0, 0, 0.08);
  border-radius: 2.5rem;
}
@media screen and (max-width: 1199px) {
  .main-section__img {
    width: 65rem;
    height: 38.3rem;
  }
}
.main-section__dim {
  position: absolute;
  top: 0;
  width: 111.8rem;
  height: 65.9rem;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 67.68%, #F0F6FF 94.76%);
}
@media screen and (max-width: 1199px) {
  .main-section__dim {
    width: 65rem;
    height: 37rem;
  }
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  width: 100%;
  padding-top: 12rem;
  padding-bottom: 17rem;
}

.section {
  display: flex;
  align-items: center;
  gap: 15.7rem;
}
.section__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 0;
}
.section__title {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -0.03rem;
}
.section-container :first-child .section__title--grad {
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
}
.section-container :nth-child(2) .section__title--grad {
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
}
.section-container :nth-child(3) .section__title--grad {
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
}
.section-container :nth-child(4) .section__title--grad {
  background: linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%);
}
.section-container .section .section__title--grad {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section__desc {
  color: #6B6B6B;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}
.section__frame {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 55rem;
  height: 45rem;
}
.section__img {
  width: 100%;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.auth__logo img {
  width: 21rem;
}
.auth__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.auth__redirect {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}
.auth__redirect-link {
  font-weight: 600;
  line-height: normal;
  text-decoration: underline;
  color: #6D6AFE;
}
.auth__social {
  display: flex;
  width: 40rem;
  padding: 1.2rem 2.4rem;
  justify-content: space-between;
  align-items: center;
  border: 0.1rem solid #CCD5E3;
  border-radius: 0.8rem;
  background-color: #E7EFFB;
}
.auth__social-text {
  font-size: 1.4rem;
  font-weight: 400;
  color: #373740;
}
.auth__social-logos {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.auth__social-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
}
.auth__social-logo--google {
  border: 1px solid #CCD5E3;
  background-color: #FFF;
}
.auth__social-logo--google img {
  width: 2.2rem;
  height: 2.2rem;
}
.auth__social-logo--kakaotalk {
  background-color: #F5E14B;
}
.auth__social-logo--kakaotalk img {
  width: 2.6rem;
  height: 2.4rem;
}/*# sourceMappingURL=main.css.map */