/* user agent stylesheet 초기화 */

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pretendard";
}

html,
body {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
}

:root {
  --Primary: hsl(241, 99%, 71%);
  --Red: hsl(2, 100%, 67%);
  --Black: hsl(233, 33%, 10%);
  --White: hsl(0, 0%, 100%);

  --base-Gray1: 216, 100%, 97%;
  --Gray1: hsl(var(--base-Gray1));
  --Gray1-80: hsla(var(--base-Gray1), 80%);

  --Gray2: hsl(216, 71%, 95%);
  --Gray3: hsl(217, 29%, 85%);
  --Gray4: hsl(218, 11%, 66%);
  --Gray5: hsl(240, 4%, 25%);
}
