body {
  background-color: var(--grayF0);
}

main {
  display: flex;
  padding: 23.8rem 0px 25.2rem 0px;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1199px) {
    padding: 20rem 40rem;
  }

  @media (max-width: 767px) {
    max-width: 40rem;
    margin: 0 auto;
    padding: 12rem 3.2rem;
  }
}

section {
  width: 40rem;
}

label {
  font-size: 1.4rem;
}

input {
  position: relative;
  width: 100%;
  padding: 1.8rem 1.5rem;
  border: 1px solid gray;
  margin-top: 1.2rem;
  border-radius: 8px;
  font-size: 1.6rem;
}

input:focus {
  border: 1px solid var(--primary);
}

/* title */
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 21rem;
  height: 3.8rem;
}

.title .text {
  display: flex;
  gap: 8px;
}

.title .link {
  color: var(--primary);
  text-decoration: underline;
}

.signin.text,
.signup.text {
  font-size: 1.6rem;
}

/* input */
.singin-form {
  width: 100%;
  margin: 3rem 0 3rem 0;
}

.email {
  font-size: 1.4rem;
}

.email-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.password {
  margin-top: 2.4rem;
  font-size: 1.4rem;
}

.password-input,
.password-check-input {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
  margin-top: 2.4rem;
  gap: 12px;
}

.password-input::after,
.password-check-input::after {
  content: url("../icon/eye-off.svg");
  position: absolute;
  bottom: 18px;
  right: 15px;
}

/* login */
.login.button {
  width: 100%;
  margin-top: 30px;
  padding: 1.6rem 2rem;
  border: none;
  background: linear-gradient(91deg, var(--primary) 0.12%, #6ae3fe 101.84%);
  color: #fff;
  border-radius: 8px;
  font-size: 1.8rem;
}

/* social login */
.social.border {
  display: flex;
  padding: 1.2rem 2.4rem;
  border: 1px solid var(--grayCC);
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.social.text {
  font-size: 1.4rem;
}

.social.button {
  display: flex;
  gap: 16px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile Size */
@media (max-width: 767px) {
  .header {
    width: 100%;
  }

  .social.login {
    width: 100%;
  }
}
