.container-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3.2rem;
}

.re-password-container {
  position: relative;
}

.register-button {
  width: 100%;
  height: 70px;
  border: none;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--gray-light);
  font-family: Pretendard;
  font-size: 1.8rem;
  font-weight: 600;
}
