
.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F6FF;
    gap: 3rem;
    font-size: 1.6rem;

}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.header__logo-img{
    width: 21rem;
    height: 4rem;;
}
header p{
    margin: 0;
    font-weight: 400;
}
.header__signup-link{
    margin-left: 0.8rem;
    font-weight: 600;
}

.form__signin{
    display: flex;
    width: 40rem;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.form__signin label{
    font-size: 1.4rem;
}
.form__signin input{
    margin: 1.2rem 0 2.4rem;
    padding: 1.8rem 1.5rem;
    border: 0.1rem solid var(--linkbrary-gray-20);
    border-radius: 0.8rem;
}
.form__signin input:focus{
    border: var(--linkbrary-primary-color);
}
.btn-signin{
    padding: 1.6rem 2rem;
    border:none;
    background : var(--gra-purpleblue-to-skyblue);
    color: var(--grey-light);
    border-radius: 0.8rem;
    font-size: 1.8rem;
}

.social-signin{
    display: flex;
    padding: 1.2rem 2.4rem;
    border: 0.1rem solid var(--linkbrary-gray-20, #CCD5E3);
    background: var(--linkbrary-gray-10, #E7EFFB);
    color: var(--linkbrary-gray-100, #373740);
    justify-content: space-between;
    align-items: center;
    border-radius: 0.8rem;
    margin-top: 3rem;
    font-size: 1.4rem;
    font-weight: 400;

}

.social-siginin-icons{
    display: flex;
    gap: 1.6rem;

}

.social-signin-icons img{
    width: 4.4rem;
    height: 4.4rem;
}

.password-eye{
    position: relative;
    top: -6rem;
    left: 36.5rem;
    width:1.6rem;
    height: 1.6rem;
    fill: white;
}