*{
    box-sizing: content-box;
}
/* 심화 : color 변수로 지정하기 */
:root{
    --linkbrary-bg : #f0f6ff;
    --linkbrary-primary-color :#6D6AFE;
    --gra-purpleblue-to-skyblue:linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
    --grey-light: #F5F5F5;
    --linkbrary-gray-20: #CCD5E3;
    --linkbrary-gray-10: #E7EFFB;
    --linkbrary-gray-100: #373740;
}
html{
    height: 100%;
    font-size: 62.5%;
    /*10px*/
}

body{
    display: flex;
    background-color:var(--linkbrary-bg) ;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F6FF;
    gap: 30px;
    font-size: 1.6rem;
    margin-top: 100px;
    margin-bottom: 100px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header__logo-img{
    width: 21rem;
    height: 4rem;;
}
header p{
    margin: 0;
    font-weight: 400;
}
.header__signup-link{
    margin-left: 8px;
    font-weight: 600;
}

.form__signin{
    display: flex;
    width: 40rem;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.form__signin label{
    font-size: 14px;
}
.form__signin input{
    margin: 12px 0 24px;
    padding: 18px 15px;
    border: 1px solid var(--linkbrary-gray-20);
    border-radius: 8px;
}
.form__signin input:focus{
    border: var(--linkbrary-primary-color);
}
.btn-signin{
    padding: 16px 20px;
    border:none;
    background : var(--gra-purpleblue-to-skyblue);
    color: var(--grey-light);
    border-radius: 8px;
    font-size: 1.8rem;
}

.social-signin{
    display: flex;
    padding: 12px 24px;
    border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
    background: var(--linkbrary-gray-10, #E7EFFB);
    color: var(--linkbrary-gray-100, #373740);
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin-top: 30px;
    font-size: 1.4rem;
    font-weight: 400;

}

.social-siginin-icons{
    display: flex;
    gap: 16px;

}

.social-signin-icons img{
    width: 4.4rem;
    height: 4.4rem;
}

.password-eye{
    position: relative;
    top: -6rem;
    left: 36.5rem;
    width:1.6rem;
    height: 1.6rem;
    fill: white;
}