/******** header ********/
header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: var(--grayF0);
}

nav {
    display: flex;
    position: fixed;
    width: 100%;
    height: 9.4rem;
    padding: 0px 20rem;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.login.btn {
    width: 128px;
    padding: 16px 20px;
    background: linear-gradient(90deg, var(--primary), #6AE3FE);
    color: var(--white);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
}

/******** 공통 ********/
.section {
    display: flex;
    padding: 129px 50px 0;
    justify-content: center;
    align-items: center;
    gap: 157px;
}

.content.title {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}

.content {
    color: #6B6B6B;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    align-self: stretch;
}

/******** section1 ********/
.background-section {
    display: flex;
    padding-top: 12rem;
    flex-direction: column;
    align-items: center;
    background-color: var(--grayF0);
}

.background-section .background-content {
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}

.background-section .main.title {
    background: linear-gradient(90deg, var(--primary), #FF9F9F);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.background-section .linkadd.btn {
    width: 350px;
    padding: 16px 20px;
    margin: 40px 0;
    background: linear-gradient(90deg, var(--primary), #6AE3FE);
    color: #F5F5F5;
    text-align: center;
    top: 270px;
    left: 785px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    border-radius: 8px;
}

.background-section .img.cover {
    overflow: hidden;
    width: 1200px;
    height: 590px;
    margin-top: 50px;
}

.background-section .img.cover .dim {
    height: 100%;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, var(--grayF0) 94.76%);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

.background-section .img.cover .img.main {
    width: 100%;
    height: 120%;
    background: url("/images/img1.png");
    text-align: center;
    flex-shrink: 0;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
}

/******** section2 ********/
.text {
    display: flex;
    width: 291px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.wantlink {
    background: linear-gradient(90deg, #fe8a8a, #a4ceff);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.images {
    display: inline-flex;
    overflow: hidden;
    position: relative;
    width: 550px;
    height: 450px;
    align-items: center;
    gap: -12px;
    border-radius: 15px;
    background-color: var(--grayF0);
    justify-content: center;
    align-items: center;
}

.images img {
    width: 279px;
    height: 280px;
}

.images .img.frame {
    position: absolute;
    width: 244px;
    height: 247px;
    border: 2px solid var(--primary);
    top: 98px;
    flex-shrink: 0;
    border-radius: 11px;
}

.images .img.down {
    position: absolute;
    width: 46px;
    height: 46px;
    top: 220px;
    left: 205px;
    flex-shrink: 0;
}

/******** section3 ********/
.folder.name.back {
    display: flex;
    width: 550px;
    padding: 114px 68px 66px 68px;
    background: var(--grayF0);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.folder.name img {
    width: 414px;
    height: 270px;
    flex-shrink: 0;
}

.manage {
    background: linear-gradient(90deg, #ffd88b, #6fbaff);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

/******** section4 ********/

/* todo : 배경 사이즈 크기가 맞지 않음 */
.savelink.img {
    background: url("/images/img1.png"), lightgray 50% ;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 170%;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

.savelink.img .dim {
    position: relative;
    width: 570px;
    height: 489px;
    background: rgba(0, 0, 0, 0.40);
    border-radius: 25px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

.savelink.img .dim .popup {
    position: absolute;
    width: 416px;
    height: 271px;
    flex-shrink: 0;
    top: 121px;
    left: 77px;
}

.share {
    background: linear-gradient(90deg, #6D7DCE, #93A8C9);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

/******** section5 ********/
.search.img {
    overflow: hidden;
    position: relative;
    width: 550px;
    height: 450px;
    border-radius: 15px;
    background-color: var(--grayF0);
}

.search.img img {
    position: absolute;
    width: 619px;
    height: 584px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 48.72%, #000 128.17%);
    top: 55px;
    left: 60px;
    flex-shrink: 0;
    border-radius: 15px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

.search.img .dim
{
    position: absolute;
    width: 619px;
    height: 584px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 48.72%, #000 128.17%);
    top: 55px;
    left: 60px;
    flex-shrink: 0;
    border-radius: 15px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

.search.text {
    display: inline;
    background: var(--fandom-k-gra-blue-to-pink, linear-gradient(271deg, #99BAD8 -9.84%, #68E8F9 107.18%));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

/******** footer ********/
footer {
    height: 280px;
    border-radius: 30px;
    padding-top: 120px;
    box-shadow: 0px 0px 16px 0px #00000005;
}

footer .footer.background {
    display: flex;
    height: 160px;
    padding: 32px 104px 64px 104px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    background-color: #111322;
}

.footer.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.name {
    display: flex;
    color: #676767;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}

.option {
    display: flex;
    width: 181px;
    color: #cfcfcf;
    text-align: left;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    gap: 30px;
}

.social {
    display: flex;
    gap: 12px;
}