:root {
    --primary: #6D6AFE;
    --red: #FF5B56;
    --black: #111322;
    --white: #FFFFFF;
    --gray37: #373740;
    --gray9F: #9FA6B2;
    --grayCC: #CCD5E3;
    --grayE7: #E7EFFB;
    --grayF0: #F0F6FF;
}