/* 
9주차 기본 요구사항
모달에 흐림 효과는 #000000 색상에 opacity 0.4로 설정해 주세요.
모달은 화면의 수평, 수직 가운데로 배치해 주세요. */

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* 모달에 흐림 효과는 #000000 색상에 opacity 0.4로 설정 */
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.modal__container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 15px;
}

.cancel__button {
  position: absolute;
  border-radius: 9999px;
  top: 5px;
  right: 10px;
  border: white;
  background: var(--gray20);
}
.title {
  font-size: 2rem;
}
.input {
  border: 1px solid var(--gray20);
  width: 85%;
  height: 30px;
}
/* 얘왜 안된지? */
.input:focus {
  border: 1px solid var(--gray20);
  outline: none;
}

.button {
  border: none;
  width: 90%;
  height: 30px;
  border-radius: 5px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
}

.button__red {
  border: none;
  width: 90%;
  height: 30px;
  border-radius: 5px;
  background: #ff5b56;
}
