@import url('../../../../styles/global.css');

.dialog-input {
  width: 280px;
  padding: 18px 15px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-30);
  background: var(--color-white);
}
