/* Tablet : 768 ~ 1199px */
@media (max-width : 1199px){
    /* header */
    header{
        padding : 20px 32px;
    }
    header div{
        width : 799px;
    }
    .linkbrary_logo{
        height : 24px;
    }
    .blue_btn{
        padding : 16px 20px;
        font-size : 1.8rem;
        width : 12.8rem;
    }
    /* main content */
    .main_content{
        max-width : 698px;
    }
    .main_text{
        display : flex;
        flex-direction: column;
        padding-top : 150px;
        font-size : 6.4rem;
        line-height : 8rem;
    }
    .main_content a{
        width : 350px;
        text-align: center;
    }
    .img_box{
        width: 650.303px;
        height: 350px;
    }
    /* contents */
    .contents_box{
        max-width : 698px;
        grid-template-rows : 0.5fr 1fr 1fr 0.5fr;
    }
    .contents_img{
        width: 385px;
        height: 315px;
    }
    .save,
    .share{
        grid-template-columns : 262px 31px 385px;
        grid-template-areas: 
        ". . img"
        "text . img"
        "detail . img"
        ". . img"
        ;
    }
    .folder,
    .search{
        grid-template-columns : 385px 31px 262px;
        grid-template-areas: 
        "img . ."
        "img . text"
        "img . detail"
        "img . ."
        ;
    }
    .contents_detail{
        width : 260px;
    }
    .folder img,
    .share img{
        width : 300px;
        top : 70px;
        left : 45px;
    }
    .search img{
        width : 420px;
    }
}