@import "/assets/reset.css";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root{
    --grey-10 : #E7EFFB;
    --grey-20 : #CCD5E3;
    --grey-100 : #373740;
    --grey-light : #F5F5F5;
    --background : #F0F6FF;
    --primary-color : #6D6AFE;
    --gra-purpleblue-to-skyblue : linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
}

*{
    box-sizing : border-box;
}

html{
    font-size : 62.5%;
}

body{
    background: var(--background);
    font-family: Pretendard;
    display : flex;
    justify-content: center;
}

a:hover,
button:hover{
    cursor: pointer;
}

.container{
    width : 400px;
    margin-top : 80px;
    display : flex;
    flex-direction: column;
    align-items: center;
    gap : 30px;
}

header{
    display : flex;
    flex-direction: column;
    align-items: center;
    gap : 16px;

    font-size: 1.6rem;
}

.linkbrary_logo{
    width: 210.583px;
    height: 38px;
}

header span{
    color: black;
    font-weight : 400;
}

header a{
    color: var(--primary-color);
    font-weight : 600;
}

main{
    width : 100%;
}

form{
    font-size : 1.4rem;
    display : flex;
    flex-direction: column;
    gap : 24px;
}

.input_box{
    display : flex;
    flex-direction: column;
    gap : 12px;
}

.pw_wrapper{
    position : relative;
}

.eye_icon{
    position : absolute;
    bottom : 18px;
    right : 20px;
    cursor : pointer;
}

input{
    width : 100%;
    padding : 18px 15px;
    border-radius: 8px;
    border: 1px solid var(--grey-20);
    background: white;
}

input::placeholder{
    color: #9FA6B2;
    font-family: Pretendard;
    font-size: 1.2rem;
}

input:focus{
    outline: 1px solid var(--primary-color);
}

.login_button,
.signup_button{
    /* margin : 30px 0; */
    padding : 16px 20px;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue);
    border : none;

    color: var(--grey-light);
    font-family: Pretendard;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
}

footer{
    width : 100%;
    padding : 12px 24px;
    border-radius: 8px;
    border: 1px solid var(--grey-20);
    background: var(--grey-10);

    display : flex;
    justify-content: space-between;
    align-items: center;
}

footer p{
    color: var(--grey-100);
    font-size: 1.4rem;
}

.social_icon_box{
    display : flex;
    gap : 16px;
}

.social_icon{
    width : 42px;
    height : 42px;
}

.error_msg{
    color : red;
}

.error_box{
    outline: 1px solid red;
}

@media (max-width : 767px){
    .container{
        width : 100%;
        max-width : 400px;
        margin : 80px 32px;
    }
}