@import "/assets/reset.css";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*{
    box-sizing : border-box;
}

html{
    font-size : 62.5%;
}

body{
    background: var(--linkbrary-bg, #F0F6FF);
    font-family: Pretendard;
    display : flex;
    justify-content: center;
}

a:hover,
button:hover{
    cursor: pointer;
}

.container{
    width : 400px;
    margin-top : 80px;
    display : flex;
    flex-direction: column;
    align-items: center;
    gap : 30px;
}

header{
    display : flex;
    flex-direction: column;
    align-items: center;
    gap : 16px;

    font-size: 1.6rem;
}

.icon_logo{
    width: 210.583px;
    height: 38px;
}

header span{
    color: var(--black, #000);
    font-weight : 400;
}

header a{
    color: var(--linkbrary-primary-color, #6D6AFE);
    font-weight : 600;
}

main{
    width : 100%;
}

form{
    font-size : 1.4rem;
    display : flex;
    flex-direction: column;
    gap : 24px;
}

.main_box{
    display : flex;
    flex-direction: column;
    gap : 12px;
}

.pw_wrapper{
    position : relative;
}

.icon_eye{
    position : absolute;
    bottom : 18px;
    right : 20px;
}

.input_box{
    width : 100%;
    padding : 18px 15px;
    border-radius: 8px;
    border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
    background: var(--linkbrary-white, #FFF);
}

.input_box::placeholder{
    color: var(--linkbrary-gray-100, #373740);
    font-family: Pretendard;
    font-size: 1.6rem;
}

input:focus{
    outline: 1px solid var(--linkbrary-primary-color, #6D6AFE);
}

.button_login,
.button_signup{
    /* margin : 30px 0; */
    padding : 16px 20px;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
    border : none;

    color: var(--grey-light, #F5F5F5);
    font-family: Pretendard;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
}

footer{
    width : 100%;
    padding : 12px 24px;
    border-radius: 8px;
    border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
    background: var(--linkbrary-gray-10, #E7EFFB);

    display : flex;
    justify-content: space-between;
    align-items: center;
}

footer p{
    color: var(--linkbrary-gray-100, #373740);
    font-size: 1.4rem;
}

.social_icon_box{
    display : flex;
    gap : 16px;
    justify-content: center;
    align-items: center;
}

.social_icon{
    width : 42px;
    height : 42px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.kakao{
    background-image: url("/assets/images/kakaotalk.svg");
}

.google{
    background-image: url("/assets/images/google.svg");
}

.error{
    color : red;
}

.error_box{
    outline: 1px solid red;
}

@media (max-width : 767px){
    .container{
        width : 100%;
        max-width : 400px;
        margin : 80px 32px;
    }
}