.add-form-container {
  background-color: var(--linkbrary-bg, #f0f6ff);
}

.add-link-form {
  position: relative;
  width: 90%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add-link-button {
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  text-align: center;
  width: 80px;
  padding: 10px 16px;
  border: none;
  color: white;
  position: absolute;
  top: 7rem;
  right: 2rem;
}

.add-link-input {
  width: 100%;
  height: 6rem;
  margin: 6rem auto;
  border: none;
  border-radius: 8px;
  padding: 0 50px;
}

.add-link-icon {
  position: absolute;
  top: 8rem;
  left: 2rem;
  width: 15px;
  height: 15px;
}
