* {
  box-sizing: border-box;
}

:root{
  --primary_color:#6D6AFE;
  --red_color: #FF5B56;
  --black_color:#111322;
  --white_color:#FFFFFF;
  --gray_color_1:#3E3E43;
  --gray_color_2:#9FA6B2;
  --gray_color_3:#CCD5E3;
  --gray_color_4:#E7EFFB;
  --gray_color_5:#F0F6FF;
}

html {
  font-family: Pretendard, Arial;
  word-break: keep-all;
  font-size: 10px;
  font-family: Pretendard;
  font-style: normal;    
}

body {
  font-size:1rem;
  margin:0;
}

header{
  display:flex;
  justify-content: center;
  align-items: center;
  background: var(--gray_color_5);
  position:sticky;
  top:0;
  z-index:1;
}

.header_container {
  width:152rem;
  height: 5.4rem;
  background:gray;
  margin: 2rem 20rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gray_color_5);
}

.site_logo {
  width: 13.3rem;
  height: 2.4rem;
}

.link {
  display: flex;
  height: 5.4rem;
  padding: 1.6rem 2.0rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, var(--primary_color) 0.12%, #6AE3FE 101.84%));
  color: var(--grey-light, #F5F5F5);
  font-family: Pretendard;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.login.link {
  width: 12.8rem;
}

main {
  min-height: calc(100vh - 16rem);
}

.intro_section_container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0;
  background: #F0F6FF;
}

.intro_section {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 7rem 36rem 0;
  width: 120rem;
  height: 88.3rem;
  background: var(--gray_color_5);
}

.intro_title {
  width: 70.8rem;
  height: 16rem;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  margin: 0 auto;
}

.intro_title .intro_color_font_1 {
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.add_link.link {
  width: 35rem;
  margin: 4rem auto;
}

.image_box {
  width: 120rem;
  height: 59rem;
  background:var(--gray_color_5);;
  position: relative;
  overflow: hidden;
}

.intro_img {
  width: 111.8rem;
  height: 65.9rem;
  border-radius: 25px;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, var(--gray_color_5) 94.76%);
  position: absolute;
  top: 5rem;
  right: 4.1rem;
  left: 4.1rem;
  bottom: 11.9rem;
}

.main_section_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12rem 46.1rem;
}

.main_section {
  width: 99.8rem;
  height: 45rem;
  background: var(--white_color);
  margin-bottom: 10rem;
  display:flex;
  justify-content:space-between;
  align-items: center;
  gap: 14.7rem;
}

.main_section.last {
  margin-bottom: 5rem;
}

.main_section_description {
  width: 29.1rem;
  height: 19.8rem;
  display:flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.description_title {
  color: #000;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.03rem;
}

.description_title .color_font_2 {
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description_title .color_font_3 {
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description_title .color_font_4 {
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description_title .color_font_5 {
  background: var(--fandom-k-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description_text {
  color: #6B6B6B;
  font-family: Pretendard;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%; 
}

.description_image{
  width: 55rem;
  height: 45rem;
}

footer {
  display:flex;
  flex-direction: column;
}



.footer-container{
  height: 160px;
  background: var(--black_color);
  display:flex;
  justify-content: center;

}

.footer-content {
  display:flex;
  width:100%;
  height: 24px;
  margin: 32px 104px 64px;
  justify-content: space-between;
  align-items: center;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-copyright {
  color: #676767;  
}

.footer-policy-faq {
  
  display:flex;
  justify-content: space-between;
  gap: 30px;
}

.footer-policy-faq a {
  color: #CFCFCF;
  text-decoration: none;
}

.footer-logo-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.footer-logo-link a {
  width: 20px;
  height: 20px;
}

a:hover {
  cursor: pointer;
}

















