.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 18px 15px;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
}

.input::placeholder {
  color: #9fa6b2;
}

.input:focus {
  border-color: #6d6afe;
}

.errorInput {
  width: 100%;
  padding: 18px 15px;
  border-radius: 8px;
  border: 1px solid #ff5b56;
}

.toggleButton {
  position: absolute;
  top: 17px;
  right: 13px;
}

.errorMsg {
  font-size: 14px;
  color: #ff5b56;
  margin-top: 6px;
}
