@import '@/styles/global.scss';

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout {
  @extend .center;
  height: 100vh;
  padding: 23.9rem 0 25.2rem 0;
  background: $color-light-blue;
}

.container {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.navigator {
  @extend .center;
  gap: 1.6rem;
  color: $color-black;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.form {
  @extend .center;
  gap: 2.4rem;
}

.sns {
  width: 100%;
}
