/* -- tagButtons -- */
.tag_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 40px;
}

.tag_container {
  display: flex;
  gap: 8px;
  white-space: nowrap;
}

.tag {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #6d6afe;
  background: #fff;
}

.tag.checked {
  border-radius: 5px;
  border: 1px solid #6d6afe;
  background: #6d6afe;
  color: white;
}

.tag-InnerText {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 79px;
  height: 19px;
  text-align: center;
}
.tag-InnerText_text {
  color: #6d6afe;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
  letter-spacing: -0.3px;
}
