.wrapper {
  display: flex;
  width: 9rem;
  padding: 1.15rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  cursor: pointer;
}

.text {
  color: var(--gray-warm);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
