:root{
    --primary: #6D6AFE;
    --red: #FF5B56;
    --black: #111322;
    --white: #fff;
    --gray: #3E3E43;
}
.btn{
    color: var(--white);
    background-image:
            linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
    border-radius: 0.5rem;
    padding: 1.6rem 2rem;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    width: 12.8rem;
    text-align: center;
    cursor:pointer;
    font-size: 1.8rem;
}