* {
  box-sizing: border-box;
  font-family: "Pretendard";
}
:root {
  --grey-light: #f5f5f5;
  --gra-purpleblue-to-skyblue: linear-gradient(
    91deg,
    #6d6afe 0.12%,
    #6ae3fe 101.84%
  );

  --linkbrary-primary-color: #6d6afe;
  --fandom-k-gra-blue-to-pink: linear-gradient(
    271deg,
    #fe578f -9.84%,
    #68e8f9 107.18%
  );
  --the-julge-black: #111322;
}
html {
  /* 10px = 1rem; */
  font-size: 62.5%;
}

body {
  margin: 0;
  /* 아래처럼 하면은 딱 section만큼의  넓이를 가진다*/
}
nav {
  background-color: #edf7ff;
  position: sticky;
  z-index: 1;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* 1rem은 16px 브라우저의 기본 font 16px이기떄문 */
  height: 9.4rem;
  /*  “Linkbrary” 로고의 왼쪽 여백 `200px` “로그인" 버튼의 오른쪽 여백 `200px`이 유지 */
  padding: 0 20rem;
  width: 100%;
}

/* 없애주면은 linkbrary와 로그인 사이의 버튼이겹치쥬*/
/* nav a:first-of-type {
  margin-right: 5rem;
} */
/* 정답지에서는 .cta랑 같은거 */
button {
  color: var(--grey-light);
  background: var(--gra-purpleblue-to-skyblue);
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
  height: 5rem;
}

/* 로그인버튼 */
button.login-button {
  width: 12rem;
}

/* 링크추가하기버튼 */
button.link-add-button {
  width: 30rem;
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0f6ff;
  padding-top: 4.5rem;
}

.header-content h1 {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem;
  color: #000;
}

/*  */
.header-content img {
  margin-top: 6.5rem;
}
span#emphasize {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  padding-top: 10rem;
  padding-bottom: 12rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

/* 공통 */
.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.text-container .title {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -5px;
  margin-bottom: 0;
}

.text-container .emphasize {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  /* 아래것을 해야 배경색이 아니라 글씨에다가 색이 칠해진다 */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-container .description {
  color: #6b6b6b;
  font-size: 2rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -1px;
}

.image-container {
  background: #f0f6ff;
  border-radius: 15px;
  /* width: 100%; */
  /* 얘를 설정안해주면은 이미지가 너무 커진다.. */
  width: 55rem;
  /* image-container */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section.contents {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* card와 text 컨테이너 영역을 157px로 해준다 */
  column-gap: 15.7rem;
}

/* section2 */
#section2-image1 {
  width: 100%;
}

.contents-two .text-container .emphasize {
  background-image: linear-gradient(117deg, #fe8a8a 2.29%, #a4ceff 100%);
}

/* 섹션3 */

#section3-image1 {
  width: 100%;
}

.contents-three .text-container .emphasize {
  background-image: linear-gradient(304deg, #6fbaff 0%, #ffd88b 100%);
}

/* section04 */
#section4-image1 {
  width: 100%;
}

.contents-four .text-container .emphasize {
  background-image: linear-gradient(133deg, #2945c7 0%, #dbe1f8 100%);
}
/* section5 */

#section5-image1 {
  width: 100%;
}

.contents-five .text-container .emphasize {
  background-image: linear-gradient(304deg, #6fbaff 0%, #ffd88b 100%);
}
/* footer섹션! */
a {
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10.4rem;
  background: var(--the-julge-black);
  height: 16rem;
  /* 애가  */
  column-gap: 1rem;
}

.codeit-title {
  color: #676767;
  font-size: 1.6rem;
  font-weight: 400;
  min-width: 12rem;
}

.policy-text {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  min-width: 17rem;
}

.policy-text p {
  color: #cfcfcf;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
}

.icons {
  display: flex;
  flex-direction: row;
  column-gap: 2.5rem;
}

/* media types */

/* PC */
@media screen and (min-width: 1200px) {
  /* PC, Tablet 사이즈의 이미지 크기는 고정값을 사용하세요. */
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* 

   ""
   “로그인” 버튼 사이의 간격은 유지하고 좌우 여백이 줄어듭니다.      
   
   */
  nav {
    padding-right: 3.2rem;
    padding-left: 3.2rem;
  }

  /* PC, Tablet 사이즈의 이미지 크기는 고정값을 사용하세요. */
}

/* mobile */

@media screen and (min-width: 375px) and (max-width: 767px) {
  /* Mobile 사이즈의 이미지는 좌우 여백 32px을 제외하고 이미지 영역이 꽉 찰 수 있도록 해주세요.
  (이때 가로가 커지는 비율에 맞춰 세로도 커지면 됩니다.) */
  br {
    display: none !important;
  }
  nav {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .header-content {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .header-content img {
    width: 100%;
  }

  /* body부문 */
  .container {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .image-container {
    width: 100%;
  }

  section.contents {
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: stretch;
    position: relative;
  }

  .text-container .title {
    font-size: 2.6rem;
    font-weight: 900;
  }

  .text-container .description {
    font-size: 1.8rem;
    font-weight: 700;
    position: absolute;
    bottom: -2.2rem;
    width: 100%;
  }

  /* even영역 */
  section.contents:nth-child(even) .image-container {
    order: 2;
  }
}
