* {
  box-sizing: border-box;
  font-family: "Pretendard";
}
:root {
  --grey-light: #f5f5f5;
  --gra-purpleblue-to-skyblue: linear-gradient(
    91deg,
    #6d6afe 0.12%,
    #6ae3fe 101.84%
  );

  --linkbrary-primary-color: #6d6afe;
  --fandom-k-gra-blue-to-pink: linear-gradient(
    271deg,
    #fe578f -9.84%,
    #68e8f9 107.18%
  );
  --the-julge-black: #111322;
}
html {
  /* 10px = 1rem; */
  font-size: 62.5%;
}

body {
  margin: 0;
}
nav {
  background-color: #edf7ff;
  position: sticky;
  z-index: 1;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 9.4rem;
  padding: 0 20rem;
  width: 100%;
}

button {
  color: var(--grey-light);
  background: var(--gra-purpleblue-to-skyblue);
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
  height: 5rem;
}

/* 로그인버튼 */
button.login-button {
  width: 12rem;
}

/* 링크추가하기버튼 */
button.link-add-button {
  width: 30rem;
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0f6ff;
  padding-top: 4.5rem;
}

.header-content h1 {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem;
  color: #000;
}

/*  */
.header-content img {
  margin-top: 6.5rem;
}
span#emphasize {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  padding-top: 10rem;
  padding-bottom: 12rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

/* 공통 */
.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.text-container .title {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -5px;
  margin-bottom: 0;
}

.text-container .emphasize {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-container .description {
  color: #6b6b6b;
  font-size: 2rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -1px;
}

.image-container {
  background: #f0f6ff;
  border-radius: 15px;

  width: 55rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section.contents {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  column-gap: 15.7rem;
}

/* section2 */
#section2-image1 {
  width: 100%;
}

.contents-two .text-container .emphasize {
  background-image: linear-gradient(117deg, #fe8a8a 2.29%, #a4ceff 100%);
}

/* 섹션3 */

#section3-image1 {
  width: 100%;
}

.contents-three .text-container .emphasize {
  background-image: linear-gradient(304deg, #6fbaff 0%, #ffd88b 100%);
}

/* section04 */
#section4-image1 {
  width: 100%;
}

.contents-four .text-container .emphasize {
  background-image: linear-gradient(133deg, #2945c7 0%, #76777a 100%);
}
/* section5 */

#section5-image1 {
  width: 100%;
}

.contents-five .text-container .emphasize {
  background-image: linear-gradient(304deg, #6fbaff 0%, #ffd88b 100%);
}
/* footer섹션! */
a {
  text-decoration: none;
}

.footer {
  /* border: 5px solid blue;
  display: flex;
  flex-direction: row;
  background: var(--the-julge-black);
  /*   justify-content가 flex-item들의 width를 지정하니까 먹힌다. 뚜렷이 보인다. */
  /* width를 지정안해도 되긴하는데, 그만큼의 contesnts가 작기떄문에 눈에 잘 안 보이는것일뿐 */
  /* justify-content: space-between;
  align-items: center;  */

  display: grid;
  justify-content: stretch;
  align-items: center;
  background: var(--the-julge-black);
  grid-template-columns: repeat(10, 1fr);
  /* grid-template-rows: 1fr 1fr; */
}

.codeit-title {
  color: #676767;
  font-size: 1.6rem;
  font-weight: 400;
  grid-column: 2 /4;
  justify-self: center;
  font-size: 2rem;
}

.policy-text {
  grid-column: 5/7;
  justify-self: center;
}

.policy-text a {
  color: #cfcfcf;
  font-size: 2rem;
  font-weight: 400;
}

.policy-text a:first-child {
  margin-right: 3rem;
}

.icons {
  grid-column: span 3 / -1;
  justify-self: center;
  font-size: 2rem;
}

.icons a:not(:last-child) {
  margin-right: 1.5rem;
}

/* media types */

/* PC */
@media screen and (min-width: 1200px) {
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .policy-text {
    grid-column: 5/8;
    justify-self: center;
  }
}

/* mobile */

@media screen and (min-width: 375px) and (max-width: 767px) {
  /* Mobile 사이즈의 이미지는 좌우 여백 32px을 제외하고 이미지 영역이 꽉 찰 수 있도록 해주세요.
  (이때 가로가 커지는 비율에 맞춰 세로도 커지면 됩니다.) */
  br {
    display: none !important;
  }
  nav {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .header-content {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .header-content img {
    width: 100%;
  }

  /* body부문 */
  .container {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .image-container {
    width: 100%;
  }

  section.contents {
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: stretch;
    position: relative;
  }

  .text-container .title {
    font-size: 2.6rem;
    font-weight: 900;
  }

  .text-container .description {
    font-size: 1.8rem;
    font-weight: 700;
    position: absolute;
    bottom: -2.2rem;
    width: 100%;
  }
  /* odd영역 */

  section.contents:nth-child(odd) .image-container {
    margin-bottom: 3rem;
    border: 5px solid red;
  }

  /* even영역 */
  section.contents:nth-child(even) .image-container {
    order: 2;
  }

  .footer {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .codeit-title {
    order: 3;
    justify-self: stretch;
  }
  .policy-text {
    grid-column: 2/7;
    justify-self: start;
  }

  .icons {
    grid-column: 7/-1;
  }
}
