*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:pretendard;
}

.header-login-btn, .main-page h2, .section-cards h2, .section-cards .content p, footer .footer-label,#copyright{
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    white-space: nowrap;
}

/* -- header -- */
header{
    display: flex;
    width: 100%;
    padding: 20px 200px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background: var(--linkbrary-bg, #F0F6FF);
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    white-space: nowrap;
}

.header-login-btn{
    cursor:pointer;
    display: flex;
    width: 128px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--linkbrary-gradation, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
    color: var(--grey-light, #F5F5F5);
    /* font-family: 'Pretendard'; */
    font-size: 18px;
    font-weight: 600;
}


/* -- main section -- */
.main-page{
    display: flex;
    width: 100%;
    padding: 70px 360px 0px 360px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    background: #F0F6FF;
    position: relative;
}

.main-page .btn-add-link{
    cursor:pointer;
    text-decoration:none;
    display: flex;
    width: 350px;
    margin-bottom:40px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    gap: 10px;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
}

.main-page h2{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px; /* 125% */
}

.main-page h2 span{
    background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.main-image{
    border-radius: 25px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, #F0F6FF 94.76%);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

.main-page img{
    width: 1118px;
    flex-shrink: 0;
    border-radius: 25px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, #F0F6FF 94.76%);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}


/* -- card sections -- */
.section-cards{
    width:100%;
    display: flex;
    padding: 50px 461px 50px 461px;
    justify-content: center;
    align-items: center;
    gap:157px;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.section-cards .imgs-content{
    width: 550px;
    height: 450px;
    border-radius: 15px;
    background: #F0F6FF;
    display:flex;
    align-items: center;   
}

.section-cards .card-image{
    width:550px; 
    height:450px;
}

.section-cards#section1{
    margin-top:-210px;
    padding-top:120px;
}

.section-cards#section2, #section4{
    flex-direction: row-reverse;
}

.section-cards .content{
    display: flex;
    align-items: center;
    gap: 157px;
}

.section-cards h2{
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.3px;
}

.type1 {
    background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
}

.type2 {
    background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
}

.type3 {
    background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
}

.type4 {
    background: var(--fandom-k-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
}

.gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.section-cards .content p{
    color: #6B6B6B;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%; /* 24px */
}

.section-cards .txt-content{
    display: flex;
    width: 291px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.section-cards .img-decorated{
    border-radius: 11px;
    border: 2px solid var(--linkbrary-primary-color, #6D6AFE);
}

.section-cards .icon-download{
    width: 46px;
    height: 46px;
    flex-shrink: 0;
}

/* -- footer -- */
footer{
    display: flex;
    height: 160px;
    padding: 32px 104px 64px 104px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    background: var(--the-julge-black, #111322);
    margin-top:120px;
}

footer #footer-container{
    display: flex;
    width:100%;
    justify-content: space-between;
}

footer #label-container{
    display: flex;
    width: 181.111px;
    align-items: flex-start;
    gap: 30px;
}

footer .footer-label,#copyright{
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
}

footer .footer-label,#copyright{
    color: #CFCFCF;
}

footer #sns-container{
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
footer .sns-icon{
    width: 20px;
    height: 20px;
    text-decoration: none;
    color:#ffffff;
}
footer #copyright{
    color: #676767;
    text-align: center;
    
}

footer h5,a{
    cursor:pointer;
    text-decoration:none;
}