* {
    box-sizing: border-box;
  }
  
  :root {
    --color-primary: #6D6AFE;
    --color-red: #FF5B56;
    --color-black: #111322;
    --color-white: #FFFFFF;
    --color-gray5:#3E3E43;
    --color-gray4:#9FA6B2;
    --color-gray3:#CCD5E3;
    --color-gray2:#E7EFFB;
    --color-gray1:#F0F6FF;
    --grey-light: #F5F5F5
  }
  
  html {
    word-break: keep-all;
    font-size: 62.5%;
    font-family: 'Noto Sans Korean', 'Poppins', 'sans-serif';
  }