@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');




/* Layouts */



/* Commons */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Pretendard";
}

img {
    vertical-align: top;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Components */


.l_wrapper {
    display: flex;
    width: 1440px;
    padding: 238px 0px 252px 0px;
    justify-content: center;
    align-items: center;
    background:#F0F6FF;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    /* background-color: red; */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.logo img {
    width: 210.583px;
    height: 38px;
}

.logo-inner {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.logo-inner span {
    color: #000;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.logo-signup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo-signup a {
    color: #6D6AFE;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.logo-signup::after {
    content: "";
    height: 1px;
    align-self: stretch;
    background:#6D6AFE;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

form > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

form .tit {
    color:  #000;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

form .input {
    display: flex;
    width: 400px;
    padding: 18px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--linkbrary-primary-color, #6D6AFE);
    background: var(--linkbrary-white, #FFF);
    position: relative;
}

form .input .text {
    display: flex;
    align-items: center;
    flex: 1 0 0;
    border-color: transparent;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

form .input img {
    position: absolute;
    right: 15px;
}

.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.submit a {
    display: flex;
    width: 400px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
}

.submit a span {
    color: var(--grey-light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


footer {
    display: flex;
    width: 400px;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #CCD5E3;
    background: #E7EFFB;
}

footer > span {
    color: var(--linkbrary-gray-100, #373740);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer .option {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

footer .option-btn {
    width: 42px;
    height: 42px;
    position: relative;
}

footer .option-btn > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
}

footer .option-btn a img {
    width: 42px;
    height: 42px;
}

footer .option-btn > div img {
    width: 22px;
    height: 22px;
}

footer .option-btn img:nth-child(2) {
    width: 22px;
    height: 22px;
    position: absolute;
    inset: 0;
    margin: auto;
}