
/* -- default setting -- */
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:Pretendard;
}

:root{
    --color-primary:#6D6AFE;
    --color-white:#FFF;
    --color-black:#000;
    --color-gray-1:#CCD5E3;
    --color-gray-2:#373740;
    --color-gray-3:#F5F5F5;
    --color-gray-4:#E7EFFB;
}

.default-font{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    width: 100%;
    height: 100%;
    padding: 238px 0px 252px 0px;
}

/* -- main -- */
.container-main{
    flex-direction: column;
    gap:16px;
}

#icon-logo{
    width: 210.583px;
    height: 38px;
}

.div-intent-signup{
    display: flex;
    gap:8px;
}

.txt1{
    color: var(--color-black);
    line-height: 24px; /* 150% */    
}

.intent-signup{
    color: var(--color-primary);
    font-weight: 600;
    text-decoration: underline;
}

/* -- sign-in form -- */
.signin-form{
    display: flex;
    flex-direction: column;
    gap:30px;
}

.div-input{
    display: flex;
    flex-direction:column;
    gap:12px;
}

.input{
    width: 400px;
    padding: 18px 15px;
    border-radius: 8px;
    border: 1px solid var(--color-gray-1);
    background: var(--color-white);
    color: var(--color-gray-2);
    line-height: 24px; /* 150% */
}

.input:focus{
    border: 1px solid var(--color-primary);
    background: var(--color-white);
}

.input:focus-visible{
    outline: none;
}

.email{
    margin-bottom:24px;
}

/* -- sign-in btn -- */
.btn-signin{
    width: 400px;
    padding: 16px 20px;
    gap: 10px;
    color: var(--color-gray-3);
    font-size: 18px;
    font-weight: 600;
    margin-bottom:32px;
    border-radius: 8px;
    background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
}
    
/* -- social login -- */
.container-social-login{
    width: 400px;
    padding: 12px 24px;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid var(--color-gray-1);
    background: var(--color-gray-4);
}

.txt-social-login{
    color: var(--color-gray-2);
    font-size: 14px;
}

#content{
    display: flex;
    align-items: flex-start;
    gap: 16px;   
}

.btn-social-login{
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    position:relative;
}

.btn-google, .btn-kakao{
    width: 22px;
    height: 22px;
    position:absolute;
    margin-top:10px;
    margin-left:-33px;
    z-index: 2;
}

@media (max-width:465px) {

    .input{
        width:100%;
    }
    section{
        margin:auto 30;
    }

    .btn-signin{
        width:100%;
    }
    .container-social-login{
        width:100%;
    }
    main{
        width:100%;
    }
}