body,
main,
.login-form,
.input-box,
#loginBtn,
.social-login,
.social-logo,
.login-button {
  display: flex;
  align-items: center;
}

body,
.input-box,
#loginBtn,
.social-login {
  justify-content: center;
}

body {
  padding-top: 238px;
  background: var(--color-bg);
}

main {
  gap: 32px;
}

main,
.login-form,
.signup-link,
.login-input,
.input {
  flex-direction: column;
}

.login-form {
  gap: 30px;
}

header {
  gap: 16px;
}

.logo {
  width: 210.583px;
  height: 38px;
}

.signup,
.input-text,
#loginBtn,
.social-login span {
  font-family: "Pretendard";
  font-style: normal;
}

.signup {
  gap: 8px;
  font-size: 16px;
}

.signup span {
  font-weight: 400;
  line-height: 150%;
  color: var(--color-black-20);
}

.signup,
.signup-link,
.login-input,
.input {
  display: flex;
  align-items: flex-start;
}

.signup-link a {
  font-weight: 600;
  line-height: 150%;
  color: var(--color-primary);
  text-decoration: none;
}

.signup-link div {
  align-self: stretch;
  height: 1px;
  background: var(--color-primary);
}

.login-input {
  gap: 12px;
}

.input-text {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--color-black-20);
}

.input-box {
  padding: 18px 15px;
  border: 1px solid var(--color-gray-20);
  background: var(--color-white);
}

.input-box:focus {
  outline: 1px solid var(--color-primary);
}

.pwd-input {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.input-box {
  padding-right: 40px;
}

.toggleVisibility {
  margin-left: -30px;
  cursor: pointer;
}

.input-box.error {
  outline: none;
  border: 1px solid var(--color-red);
}

.error-message {
  visibility: hidden;
  color: var(--color-red);
  font-family: "Pretendard";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.input-box,
#loginBtn,
.social-login {
  width: 100%;
  border-radius: 8px;
}

.login-button {
  gap: 16px;
}

#loginBtn {
  gap: 10px;
  padding: 16px 20px;
  border: none;
  background: var(--gra-purpleblue-to-skyblue);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: var(--color-grey-light);
  cursor: pointer;
}

.social-login {
  justify-content: space-between;
  padding: 12px 24px;
  border: 1px solid var(--color-gray-20);
  background: var(--color-gray-10);
}

.social-login span {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--color-gray-100);
}

.social-logo {
  gap: 16px;
}

.google,
.kakao,
.circle {
  width: 42px;
  height: 42px;
}

.google,
.kakao {
  position: relative;
}

.circle {
  flex-shrink: 0;
}

.google-img,
.kakao-img {
  flex-shrink: 0;
  position: absolute;
  top: 10px;
}

.google-img {
  left: 10px;
  width: 22px;
  height: 22px;
}

.kakao-img {
  left: 8px;
  width: 26px;
  height: 24px;
}

/* mobile */

@media (min-width: 375px) and (max-width: 464px) {
  body {
    padding-left: 32px;
    padding-right: 32px;
  }
  main,
  .login-form,
  .login-input,
  .input-box,
  #loginBtn,
  .social-login,
  .login-button,
  .input {
    width: 100%;
  }
}

/* Tablet */

@media (min-width: 465px) {
  .input-box,
  #loginBtn,
  .social-login {
    width: 400px;
  }
}

/* Desktop */

@media (min-width: 1200px) {
  .input-box,
  #loginBtn,
  .social-login {
    width: 400px;
  }
}
