@import url(common.css);

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 238px 0px 252px;
  height: 100vh;
  background: var(--color-bg);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
input {
  width: 400px;
  padding: 18px 15px;
  border: 1px solid var(--color-gray-30);
  border-radius: 8px;
  background: var(--color-white);
  outline: none;
}
input:focus {
  border: 1px solid var(--color-primary);
}
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  border-radius: 8px;
  background: var(--color-cta-bg);
  color: var(--color-cta-font);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
} 

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .logo {
  margin-bottom: 16px;
}
.container p {
  color: var(--color-black);
  font-weight: 400;
  line-height: 150%;
}
.container .sign-up {
  color: var(--color-primary);
  font-weight: 600;
}
.input-box {
  margin: 30px 0;
}
.input-box label {
  display: block;
  font-size: 0.875rem;
  color: var(--color-black);
  margin-bottom: 12px;
}
.input-password {
  background: var(--color-white) url(images/eye-off.svg) no-repeat center right 15px;
}
.input-box input[type='email'] {
  margin-bottom: 24px;
}
.btn-login {
  width: 400px;
  border: none;
  margin-bottom: 32px;
}

.social-login {
  width: 400px;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: var(--color-gray-20);
  border: 1px solid var(--color-gray-30);
}
.social-login p {
  color: #373740;
  font-size: 0.875rem;
}
.sns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.sns a {
  width: 42px;
  height: 42px;
  display: inline-block;
}
