@import "globalStyle.css";

html {
  font-size: 10px; /* 1rem = 10px / 1.2rem = 12px / 1.4rem = 14px */
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pretendard";
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40rem;
  height: 62.8rem;
  gap: 3rem;
}
.linkbrary-text {
  width: 21.058rem;
  height: 3.8rem;
}
#email-input,
#password-input {
  width: 40rem;
  height: 6rem;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
  padding: 1.8rem 1.5rem;
}
#email-input:focus,
#password-input:focus {
  border-color: #6d6afe;
  outline: none; /* 검정색 없애기 */
}
input {
  margin-top: 0.5rem;
}
.password,
.password-check {
  position: relative;
}

.eyes-off {
  position: absolute;
  top: 4.5rem;
  right: 1.8rem;
}
.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 5.4rem;
  background: linear-gradient(90deg, #6d6afe, #6ae3fe);
  color: #fff;
  border-radius: 8px;
  padding: 1.8rem 2rem;
  gap: 1rem;
}
.sns-login {
  width: 40rem;
  height: 6.6rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2.4rem;
  border: 0.1rem solid #ccd5e3;
}
.sns-icons {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}
.icon {
  width: 4.2rem;
  height: 4.2rem;
}
