* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #F0F6FF;
  font-family: Pretendard;
  font-style: normal;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  display: inline-flex;
  padding: 20px 200px;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  width: 100%;
}

header img {
  width: 133px;
  height: 24px;
}

#login {
  display: flex;
  width: 128px;
  margin: 0 0 0 auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

header button {
  width: 100%;
  padding: 16px 20px;
  border: 0;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  color: var(--grey-light, #F5F5F5);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

#overview {
  display: flex;
  width: 1200px;
  margin: 70px auto 0px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
  
  overflow: hidden;
}

#overview p {
  color: #000;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
}

#overview span {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px; /* 125% */

  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

#overview button {
  display: flex;
  width: 350px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 0;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  
  color: var(--grey-light, #F5F5F5);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

#overview img {
  position: relative;
  top: 50px;

  display: flex;
  width: 1118px;
  height: 659px;
  flex-shrink: 0;

  border-radius: 25px;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, #F0F6FF 94.76%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

#content-save {
  display: flex;
  padding: 120px 0 50px;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  gap: 157px;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.image-content {
  display: flex;
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background: #F0F6FF;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
#content-save img {
  width: 244px;
  height: 239px;
  flex-shrink: 0;
  border-radius: 11px;
}

#content-save span {
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
  background-color: #FFFFFF;
}

.subtitle {
  color: #6B6B6B;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  background-color: #FFFFFF;
}

#content-manage {
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  gap: 157px;
}

#content-manage img {
  width: 414px;
  height: 270px;
  flex-shrink: 0;
}

#content-manage span {
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#content-sharing {
  position: relative;
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  gap: 157px;
}

#content-sharing span {
  background: linear-gradient(99deg, #6D7CCD 29.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#content-sharing .text-content {
  z-index: 0;
  background-color: #FFFFFF;
}

#content-sharing .image-content {
  z-index: 0;
  background-color: #FFFFFF;
  position: relative;
  width: 570px;
  height: 469px;
}

#content-sharing-img1 {
  z-index: -1;
  position: absolute;
  top: -63px;
  left: -178px;
  bottom: -78px;
  right: -206px;
  width: 934px;
  height: 591px;
  flex-shrink: 0;
}

#content-sharing-img2 {
  z-index: 1;
  position: absolute;
  top: 127px;
  left: 77px;
  width: 416px;
  height: 271px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0);
}

#shadow {
  position: absolute;
  inset: 0;
  width: 570px;
  height: 469px;
  flex-shrink: 0;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.40);
  overflow: hidden;
}

#content-search {
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
  gap: 157px;
  background-color: #FFFFFF;
  position: relative;
}

#content-search .image-content {
  position: relative;
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background: #F0F6FF;
  overflow: hidden;
}

#content-search-img {
  position: absolute;
  top: 55px;
  left: 60px;
  width: 619px;
  height: 584px;
  flex-shrink: 0;
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 48.72%, #000 128.17%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

#contents-05 span {
  background: var(--fandom-k-gra-blue-to-pink, linear-gradient(271deg, #FE578F -90.84%, #68E8F9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  padding-top: 120px;
  background: #FFFFFF;
  
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

#container {
  background: var(--the-julge-black, #111322);
  display: flex;
  height: 160px;
  padding: 32px 104px 64px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}

#footer1 {
  color: #676767;
  background: var(--the-julge-black, #111322);
}

#footer2 {
  background: var(--the-julge-black, #111322);
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

#footer2 p {
  color: #CFCFCF;
  background: var(--the-julge-black, #111322);
}

#footer3 {
  display: flex;
  gap: 12px;
  background: var(--the-julge-black, #111322);
}

.icon {
  width: 20px;
  height: 20px;
  background: var(--the-julge-black, #111322);
  
}