@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

:root {
	--LINKBRARY--COLOR--PRIMARY: #6d6afe;
	--LINKBRARY--COLOR--RED: #ff5b56;
	--LINKBRARY--COLOR--BLACK: #111322;
	--LINKBRARY--COLOR--WHITE: #ffffff;
	--LINKBRARY--COLOR--GRAY1: #3e3e43;
	--LINKBRARY--COLOR--GRAY2: #9fa6b2;
	--LINKBRARY--COLOR--GRAY3: #ccd5e3;
	--LINKBRARY--COLOR--GRAY4: #e7effb;
	--LINKBRARY--COLOR--GRAY5: #f0f6ff;
	--LINKBRARY--GRA--PURPLEBLUE: linear-gradient(
		91deg,
		#6d6afe 0.12%,
		#6ae3fe 101.84%
	);
	--LINKBRARY--GRA--PURPLEPINK: linear-gradient(
		91deg,
		#6d6afe 17.28%,
		#ff9f9f 74.98%
	);
}

/* GLOBAL FONT */
* {
	font-family: Pretendard;
}

/* HTML */
html {
	/* 유저의 브라우저 폰트 사이즈 설정에 따라 루트 폰트 사이즈가 달라지도록, 루트 폰트 크기를 명시하지 않음 */
}

/* GLOBAL SECTION */
.section {
	display: grid;
	gap: 0.625rem 9.813rem; /* 10px 157px */
	justify-content: center;
}

.section__title {
	grid-row: 1 / 2;
	align-self: end;

	color: #000;
	font-size: 3rem; /* 48px */
	font-weight: 700;
	letter-spacing: -0.01875rem; /* -0.3px */
}

.section__description {
	grid-row: 2 / 3;
	align-self: start;

	color: #6b6b6b;
	font-size: 1rem; /* 16px */
	font-weight: 500;
	line-height: 1.5;
}

.section__img-wrapper {
	width: 34.375rem; /* 550px */
	height: 28.125rem; /* 450px */

	grid-row: 1 / 3;

	border-radius: 0.9375rem; /* 15px */

	overflow: hidden;
}

/* HEADER */
.header {
	background-color: var(--LINKBRARY--COLOR--GRAY5);

	position: sticky;
	top: 0;
	z-index: 9;
}

.header__nav {
	max-width: 120rem; /* 1920px */
	height: 5.875rem; /* 94px */
	padding: 0 12.5rem; /* 200px */
	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo img {
	width: 8.3125rem; /* 133px */
}

.header__login {
	padding: 1rem 1.25rem; /* 16px 20px */

	border-radius: 0.5rem; /* 8px */

	background: var(--LINKBRARY--GRA--PURPLEBLUE);

	color: var(--LINKBRARY--COLOR--WHITE);
}

/* MAIN */
#main {
	padding-top: 4.375rem; /* 70px */

	background-color: var(--LINKBRARY--COLOR--GRAY5);

	overflow: hidden;

	text-align: center;
}

.main__title {
	margin-bottom: 2.5rem; /* 40px */

	font-size: 4rem; /* 64px */
	font-weight: 700;
	line-height: 1.25;
}

.main__title--gradient {
	background: linear-gradient(
		91deg,
		var(--LINKBRARY--COLOR--PRIMARY) 17.28%,
		#ff9f9f 74.98%
	);
	background-clip: text;
	-webkit-background-clip: text;

	color: transparent;
	-webkit-text-fill-color: transparent;
}

.main__link-container {
	margin-bottom: 5.5625rem; /* 89px */
}

.main__link {
	display: inline-block;

	width: 21.875rem; /* 350px */
	padding: 1rem 1.25rem; /* 16px 20px */
	border-radius: 0.5rem; /* 8px */

	background: var(--LINKBRARY--GRA--PURPLEBLUE);

	position: relative;

	color: var(--LINKBRARY--COLOR--WHITE);
	text-align: center;
}

.main__img-container {
	width: fit-content;
	height: 36.875rem; /* 590px */
	margin: 0 auto;

	position: relative;
}

.main__img-container::before {
	content: "";

	width: 100%;
	height: 100%;
	background: linear-gradient(
		180deg,
		rgba(196, 196, 196, 0) 67.68%,
		var(--LINKBRARY--COLOR--GRAY5) 125.4%
	);

	position: absolute;
	bottom: 0;
	right: 0;
}

.main__img-container img {
	border-radius: 1.5625rem; /* 25px */
	box-shadow: 0.25rem 0.5rem 1.875rem 0 rgba(0, 0, 0, 0.08);
}

/* SAVE */
.save__container {
	padding: 7.5rem 0 3.125rem 0; /* 120px 0 50px 0 */
}

.save__title--gradient {
	background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
	background-clip: text;
	-webkit-background-clip: text;

	color: transparent;
	-webkit-text-fill-color: transparent;
}

.save__img-container {
	padding: 6.375rem 0 6.8125rem 0; /* 102px 0 109px 0 */

	background: var(--LINKBRARY--COLOR--GRAY5);

	display: flex;
	justify-content: center;
}

.save__img--icon {
	position: relative;
}

.save__img--icon::before {
	background: url("public/icons/link.svg") no-repeat 0px 0px;
	content: "";
	display: inline-block;
	height: 2.875rem; /* 46px */
	width: 2.875rem; /* 46px */

	position: absolute;
	bottom: 0;
	right: 0;
}

/* MANAGE */
.manage__container {
	padding: 3.125rem 0; /* 50px 0 */
}

.manage__img-wrapper {
	background: var(--LINKBRARY--COLOR--GRAY5);

	display: flex;
	align-items: center;
	justify-content: center;
}

.manage__title--gradient {
	background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
	background-clip: text;
	-webkit-background-clip: text;

	color: transparent;
	-webkit-text-fill-color: transparent;
}

/* SHARE */
.share__container {
	padding: 3.125rem 0; /* 50px 0 */
}

.share__img-wrapper {
	border-radius: 1.5625rem; /* 25px */
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("public/images/main-img.png") no-repeat center/58.5rem; /* 936px */
	box-shadow: 0.25rem 1rem 6.25rem 0 rgba(0, 0, 0, 0.08);

	display: flex;
	align-items: center;
	justify-content: center;
}

.share__title--gradient {
	background: linear-gradient(
		99deg,
		#6d7ccd 19.76%,
		rgba(82, 136, 133, 0.22) 52.69%
	);
	background-clip: text;
	-webkit-background-clip: text;

	color: transparent;
	-webkit-text-fill-color: transparent;
}

/* SEARCH */
.search__container {
	padding: 3.125rem 0; /* 50px 0 */
	margin-bottom: 7.5rem; /* 120px */
}

.search__img-wrapper {
	padding: 3.4375rem 0 0 3.75rem; /* 55px 0 0 60px */

	background: var(--LINKBRARY--COLOR--GRAY5);
}

.search__img-wrapper img {
	border-radius: 0.9375rem; /* 15px */
	box-shadow: 0.25rem 1rem 6.25rem 0 rgba(0, 0, 0, 0.08);
}

.search__title--gradient {
	background: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
	background-clip: text;
	-webkit-background-clip: text;

	color: transparent;
	-webkit-text-fill-color: transparent;
}

/* FOOTER */
.footer {
	background-color: var(--LINKBRARY--COLOR--BLACK);
}

.footer__wrapper {
	max-width: 120rem; /* 1920px */
	height: 1.25rem; /* 20px */
	padding: 2rem 6.5rem 6.75rem; /* 32px 104px 108px */
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
}

.copyright {
	color: rgba(103, 103, 103, 1);
}

.footer__menu-wrapper a {
	color: rgba(207, 207, 207, 1);
}

.footer__menu-wrapper a:first-child {
	margin-right: 1.875rem; /* 30px */
}

.footer__sns-wrapper a:not(:last-child) {
	margin-right: 0.75rem; /* 12px */
}

/* TABLET */
@media screen and (max-width: 48rem) {
	/* 768px */
	.section {
		gap: 0.625rem 3.188rem; /* 10px 51px */
	}

	.section__img-wrapper {
		width: 24rem; /* 384px */
	}
}

/* MOBILE */
@media screen and (max-width: 24.375rem) {
	/* 390px */
	.section {
		display: flex;
		flex-direction: column;
		gap: 0;
	}

	.section__title {
		align-self: unset;

		order: 1;
	}

	.section__title br {
		display: none;
	}

	.section__description {
		align-self: unset;
		order: 3;
	}
	.section__description br {
		display: none;
	}

	.section__img-wrapper {
		width: 20.3125rem; /* 325px */

		order: 2;
		align-self: center;
	}
}
