@import "reset.css";

  body{
    background-color: var(--color-gray1);
    margin:0;
  }
  a{
    text-decoration: none;
  }
  button{
    cursor: pointer;
  }

  main{
    display: flex;
    flex-direction: column;
    flex-grow:0;
  }

  /* header css 작성 */
  header{
    background-color: var(--color-gray1);
    padding: 2rem 0;
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .link-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 2rem;
    border: none;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue);
  }
  .link-button .a-label{
    color: var(--grey-light);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0 1rem;    
  }
  header .spacing{
    width: 20rem;
  }
  header .spacing-center{
    flex-grow: 1;
    flex-shrink: 0;
  }

  @media(max-width: 1199px){
    header .spacing{
      min-width: 3.2rem;
    }
    header .spacing-center{
      min-width: 50rem;
    }
  }
  @media(max-width: 768px){
    header .spacing{
      width: 3.2rem;
    }
    header .spacing-center{
      min-width: 3rem;
    }
  }

  

  /* section 1 css코드 */
  .main-section{
    padding: 7rem 36rem 0 36rem;
    display: flex;
    flex-direction: column;
    gap:4rem;
    justify-content: space-between;
    align-items: center;
  }
  .main-section .section-title{
    text-align: center;
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 8rem;
    min-width: 77rem;
  }
  .main-section .section-title .gradient-text{
    background: linear-gradient(91deg, var(--color-primary) 17.28%, #FF9F9F 74.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .signup-button{
    width:35rem;
  }
  .main-section .sample-web{
    position: relative;
    top: 5rem;
    z-index: -1;
  }

  /* .section 2. cards list */
  /* card 요소 공통 부분들 */
  .cards{
    background-color: var(--color-white);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 12rem 0 20rem;
    gap: 15rem;
    align-items: center;
    margin: 0;
  }
  .cards .card{
    display: flex;
    flex-direction: row;
    height:40rem;
    border: none;
  }
  .card.card-reverse{
    flex-direction: row-reverse;
  }
  .card .spacing{
    margin: 0;
    padding: 7.5rem;
  }
  .card .card-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35rem;
  }
  .card .card-title{
    color: #000;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.03rem;
  }
  .card-content{
    color: #6B6B6B;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
    padding: 1rem;
  }
  .card .images{
    border-radius: 15px;
    background: var(--color-gray1);
    display: flex;
    flex-wrap: nowrap;
    padding:0;
    gap:1rem;
    align-items: center;
    flex-grow: 2;
  }
  .card-img-tablet{
    width: 55rem;
  }
  .card-img-mobile{
    display: none;
  }
  @media(max-width:767px){
    .main-section{
      padding: 0 3.2rem;
    }
    .main-section img{
      width: 100%;
    }
    .cards{
      gap: 5rem;
    }
    .cards .card{
      flex-direction: column;
      padding: 3.2rem;
      height: auto;
    }
    .card .spacing{
      padding: 0 3.2rem 3rem;
    }
    .card img{
      width: 100%;
    }
    .card .card-article{
      width: 100%;
    }
    .card .card-title{
      white-space: nowrap;
    }
    .card .card-img-tablet{
      display: none;
    }
    .card .card-img-mobile{
      display: block;
      margin: 2rem 0;
    }
  }

  /* 1번 카드 css 코드 */
  .card-title .color-link{
    background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* 2번 카드 css 코드 */
  .card-title .color-manage{
    background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* 3번 카드 css 코드 */
  .card-title .color-share{
    background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* 4번 카드 css 코드 */
  .card-title .color-search{
    background: var(--fandom-k-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/* footer css 작성 */
footer{
  background: var(--the-julge-black, var(--color-black));
  padding:3rem 10.4rem 9rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer.logo{
  color: #676767;
  text-align: center;
}
.footer.link{
  display: flex;
  gap:1rem;
  justify-content: center;
  align-items: center;
}
.footer.link a{
  color: #CFCFCF;
}
.footer.sns{
  display: flex;
  gap: 1.2rem;
  justify-content: space-between;
  align-items: center;
}
