@use '../utils' as *;

.search-bar {
  padding: 1.5rem 1.6rem;
  width: 100%;
  border: none;
  border-radius: 1rem;
  background-color: $grey-light;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;

  @include tablet {
    font-size: 1.6rem;
  }

  @include pc {
    font-size: 1.6rem;
  }
}
