@import "/assets/reset.css"; /* 브라우저 기본 margin 없애기 위해서 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root{
    --bg : #F0F6FF;
    --gra-purpleblue-to-skyblue : linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
    --grey-light : #F5F5F5;
    --grey : #6B6B6B;
    --grey-10 : #CFCFCF;
    --grey-70 : #676767;
    --the-julge-black : #111322;
}

*{
    box-sizing : border-box;
}

html{
    color : black;
    margin : 0 auto;
    font-family: Pretendard;
    font-size : 62.5%; /* 크롬 기준 10px */
}

a :hover{
    cursor: pointer;
}

/* header */
header{
    width : 100%;
    padding : 20px 200px;
    background: var(--bg);
    position : fixed;
    top : 0px;
    left : 0px;
    right : 0px;
    z-index : 1;
}
.header_container{
    width : 100%;
    max-width : 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blue_btn{
    display: flex;
    padding : 16px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue);

    color: var(--grey-light);
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
}
.login_btn{
    width : 128px;
}

/* main */
.add_link_btn {
    width : 350px;
}
main{
    width: 100%;
    margin : 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    background: var(--bg);
    overflow : hidden;
}
.main_text{
    padding-top : 170px;
    text-align: center;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 125%;
}
.main_grd {
    background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main_img{
    margin : 50px 41px 0px;
    width : 1118px;
    height : 590px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color : white;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
    background-image: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, #F0F6FF 94.76%)
    ,url('/assets/images/main.png');
    background-repeat: no-repeat;
    background-position : top;
    background-size : cover;
}

/* contents */
.contents_box{
    width : 100%;
    max-width : 998px;
    margin : 0 auto;
    padding : 50px 10px;
    display: grid;
    grid-template-rows : repeat(4, 1fr);
    gap : 10px;
}
.save,
.share{
    grid-template-columns : 30% 10% 55%;
    grid-template-areas: 
    ". . img"
    "text . img"
    "detail . img"
    ". . img"
    ;
}
.folder,
.search{
    grid-template-columns : 55% 10% 30%;
    grid-template-areas: 
    "img . ."
    "img . text"
    "img . detail"
    "img . ."
    ;
}
.contents_title{
    grid-area : text;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}
.contents_detail{
    grid-area : detail;
    color: var(--grey);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
    word-break: keep-all;
    width : 277px;
}
.contents_img{
    grid-area : img;
    width : 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-size : contain;
}

/* contents-01 : save */
.save_grd{
    background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 
.save .contents_img{
    background-image : url('/assets/images/contents_01.svg');
}

/* contents-02 : folder */
.folder_grd{
    background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.folder .contents_img{
    background-image : url('/assets/images/contents_02.svg');
}

/* contents-03 : share */
.share_grd{
    background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.share .contents_img{
    background-image : url('/assets/images/contents_03.svg');
}

/* contents-04 : search */
.search_grd{
    background: var(--fandom-k-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.search .contents_img{
    background-image : url('/assets/images/contents_04.svg');
}

/* footer */
footer{
    background: var(--the-julge-black);
    width : 100%;
    height: 160px;
}
.footer_container{
    padding: 32px 104px 64px 104px;
    width : 100%;
    max-width : 1920px;
    margin : 0 auto;
    display: flex;
    justify-content: space-between;
}
footer a{
    text-decoration: none;
    color: var(--grey-10);
    font-family: Arial;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}
.ppf{
    display : flex;
    gap : 30px;
}
.link_icon{
    display : flex;
    gap : 12px;
}
.sources{
    color: var(--grey-70);
    font-family: Arial;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}