.folder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 40px;
}

.folder-search {
  display: flex;
  width: 1060px;
  padding: 15px 16px;
  align-items: center;
  border-radius: 10px;
  background-color: #f5f5f5;
  gap: 8px;
}

@media (max-width: 1124px) {
  .folder-search {
    width: 100%;
  }
}

.folder-wrapper {
  display: flex;
  width: 1060px;
  justify-content: space-between;
}
@media (max-width: 1124px) {
  .folder-wrapper {
    width: 100%;
  }
}

.folder-div {
  display: flex;
  gap: 10px;
}

.folder-plus {
  color: #6d6afe;
  text-align: center;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.useful {
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

.useful-wrapper {
  display: flex;
  width: 1060px;
  justify-content: space-between;
}
@media (max-width: 1124px) {
  .useful-wrapper {
    width: 100%;
  }
}

.useful-img-div {
  display: flex;
  gap: 12px;
}

.useful-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #9fa6b2;
  font-size: 14px;

  font-weight: 600;
}

.no-link {
  display: flex;
  height: 100px;
  padding: 41px 0px 35px 0px;
  justify-content: center;
  align-items: center;

  color: #000;
  text-align: center;
  font-weight: 400;
  line-height: 24px;
}
