.Footer_wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: #111322;
}

.Footer {
  height: 64px;
  display: grid;
  padding: 32px 104px 64px;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 1.6rem;
  grid-template-areas: "copyright directLink icons";
  gap: 60px;

  @media (max-width: 767px) {
    grid-template-areas:
      "directLink icons"
      "copyright .";
    padding: 32px 32px 64px;
  }
}

.Footer_copyright {
  flex-shrink: 0;
  color: #676767;
  grid-area: copyright;
}

.Footer_directLink {
  flex-shrink: 0;
  display: flex;
  gap: 30px;
  grid-area: directLink;
}

.link_policy,
.link_policy:visited {
  flex-shrink: 0;
  color: #cfcfcf;
  text-decoration: none;
}

.link_faq,
.link_faq:visited {
  color: #cfcfcf;
  text-decoration: none;
}

.Footer_icons {
  display: flex;
  gap: 12px;
  grid-area: icons;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
