.modal-background {
  position: fixed;
  z-index: 3;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-wrapper {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  padding: 32px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 15px;
  border: 1px solid #ccd5e3;
  background: #fff;
}

.modal-div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.modal-delete-header {
  display: flex;
  width: 280px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.modal-header {
  color: #373740;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modal-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.modal-share-wrapper {
  display: flex;
  width: 280px;
  align-items: flex-start;
  justify-content: space-around;
  gap: 15px;
}

.modal-link-url {
  color: #9fa6b2;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.modal-folder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.modal-folder-wrapper {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 8px;
  width: 264px;
  justify-content: space-between;
  align-items: center;
}

.modal-folder-wrapper:hover .modal-link-check {
  display: block;
}
.modal-folder-wrapper:hover {
  border-radius: 8px;
  background: #f0f6ff;
}
.modal-folder-wrapper:hover .modal-folder-div {
  color: #6d6afe;
}

.modal-link-check {
  display: none;
}
.modal-folder-div {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #373740;
  font-weight: 400;
  line-height: 24px;
}
.modal-input {
  outline: none;
  display: flex;
  width: 280px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #6d6afe;
  background: #fff;
}
.modal-link-cnt {
  color: #9fa6b2;
  font-size: 14px;
  font-weight: 400;
}
.modal-blue-button {
  border: none;
  display: flex;
  width: 280px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: #f5f5f5;
  font-weight: 600;
}

.modal-red-button {
  border: none;
  display: flex;
  width: 280px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #ff5b56;
  color: #f5f5f5;
  font-weight: 600;
}
.modal-share-div {
  display: flex;
  border: none;
  cursor: pointer;
  background-color: white;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.modal-share-name {
  color: #373740;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
}
.closeImg {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}
