:root {
    --primary-color: #6d6afe;
    --red-color: #ff5b56;
    --black: #111322;
    --most-dark-gray: #3e3e43;
    --dark-gray: #9fa6b2;
    --gray: #ccd5e3;
    --light-gray: #e7effb;
    --most-light-gray: #f0f6ff;
  }