* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pretendard";
}

html,
body {
  font-size: 62.5%; /*10px*/
}

a {
  color: inherit; /*부모 요소의 글씨 색상 상속 받기*/
  text-decoration: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

/*버튼 스타일 초기화*/
button {
  border: none;
  padding: unset;
  background-color: unset;
  cursor: pointer;
}
