@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
  background: #f0f6ff;
}

.container {
  margin-top: 23.8rem;
  margin-bottom: 11.6rme;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin: 0;
  width: 40rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0;
  height: fit-content;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
  background:  #e7effb;
  padding: 1.2rem 2.4rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.logo-image {
  width: 21rem;
}

.logo-description > a {
  font-weight: 600;
  color: #6d6afe;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.email-form > label, 
.password-form > label
.re-password-form > label {
  font-size: 1.4rem;
  line-height: normal;
  color: #000;
}

input:focus {
  border-color: #6d6afe;
}

.email-form > input, 
.password-form > input,
.re-password-form > input {
  padding: 1.8rem 1.5rem;
  margin-top: 1.2rem;
  color: #373740;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
  background:#fff;
}

.inputSpan {
  color: #FF5B56;
  font-size: 1.4rem;
  font-weight: 400;
}

.InputEvent{
  margin-bottom : 0.6rem;
  border: 1px solid #FF5B56 !important;
}

.content {
  border: none;
  width: 100%;
  display: flex;
}

.password-form,
.re-password-form {
  position: relative;
}

.eye-button {
  position: absolute;
  top : 4.5rem;
  right: 1rem;
  width: 1.6rem;
  height: 1.6rem;
}

.login-button {
  display: flex;
  width: 40rem;
  padding: 1.6rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: #f5f5f5;
}

.social-icon {
  display: flex;
  gap: 1.6rem;
  background-color: #e7effb;
}

.circle > a {
  text-decoration: none;
}

.icon-circle{
  border-radius: 50%;
  width: 4.2rem;
  height: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google {
  background-color: #fff;
}

.kakao {
  background-color: #f5e14b;
}

.icon {
  width: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 태블릿 화면에 적용 */
@media(max-width:1199px){
  .container{
    margin-top : 20rem;
  }
}

/* 모바일 화면에 적용 */
@media(max-width:767px){
  .container{
    margin-top : 12rem;
    padding-left: 3.3rem;
    padding-right: 3.2rem;
  }
  .inner-container {
    width : 32.5rem;
  }
  .login-button {
    width: 32.5rem;
  }
}