:root{
  --linkbrary-bg: #F0F6FF;
  --linkbrary-primary-color : #6D6AFE;
  --black : #000;
  --linkbrary-gray-20 : #CCD5E3;
  --linkbrary-white : #FFF;
  --gra-purpleblue-to-skyblue: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  --grey-light : #F5F5F5;
  --linkbrary-gray-10 : #E7EFFB;
  --linkbrary-gray-100 : #373740;
  --fandom-k-gra-blue-to-pink : linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%);
  --the-julge-black : #111322;
}
