.container {
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.input {
  width: 100%;
  padding: 1.8rem 1.5rem;
  background-color: var(--linkbrary--color--white);
  border-radius: 8px;
  border: 1px solid var(--linkbrary--color--gray3);

  &:focus {
    border: 1px solid var(--linkbrary--color--primary);
  }
}

.icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.error-msg {
  color: var(--linkbrary--color--red);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
}
