.container {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  width: 100%;
  max-width: 40rem;
}

.label {
  font-size: 1.4rem;
}

.inputWrapper {
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
}

.inputContainer {
  position: relative;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.8rem 1.5rem;
  border: 0.1rem solid var(--linkbrary-gray-20, #ccd5e3);
  width: 100%;
  background: var(--linkbrary-white, #fff);
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--linkbrary-gray-100, #373740);
  border-radius: 0.8rem;
}

.input:focus {
  border: 0.1rem solid var(--linkbrary-primary-color, #6d6afe);
}

.input.invalid {
  border: 0.1rem solid var(--linkbrary-red, #ff5b56);
}

.passwordIcon {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  cursor: pointer;
  transform: translateY(-50%);
}

.invalidMessage {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--linkbrary-red, #ff5b56);
}

/* Tablet 화면 크기 (768px 이상 ~ 1199px 이하) */
@media screen and (min-width: 768px) and (max-width: 1199px) {
}

/* Mobile 화면 크기 (375px 이상 ~ 767px 이하) */
@media screen and (max-width: 767px) {
}
