.root {
  background: linear-gradient(91deg, var(--primary) 0.12%, #6ae3fe 101.84%);
  display: block;
  color: #f5f5f5;
  padding: 1.6rem 2rem;
  font-size: 1.8rem;
  border-radius: 0.8rem;
  font-weight: 600;
  text-align: center;
}
