.container {
  /* display: grid;
  border: 5px solid blue;
  grid-template-columns: repeat(9, 1fr);
  padding-left: 3.4rem;
  padding-right: 3.4rem; */

  /* width: calc(100% - 20rem); */
  /* display: flex;
  justify-content: space-between;

  margin: 3rem auto;
  padding: 1rem; */

  /* tablet */
  /* border: 5px solid red;
  display: grid;
  grid-template-columns: 80rem 20rem; */
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }

  /* table2 */
  @media (min-width: 1124px) {
  }

  /* descktop*/
  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40rem);
    margin: 3rem auto;
    padding: 1rem;
  }
}

.sub__container {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* &button:nth-child(1) {
    border: 5px solid red;
  } */
  /* display: flex;
  column-gap: 1rem; */
  /* tablet */
  @media (min-width: 768px) {
  }

  /* table2 */
  @media (min-width: 1124px) {
  }

  /* descktop*/
  @media (min-width: 1200px) {
  }
}

.add__button {
  /* 이건 안됨 */
  border: 5px solid red;

  @media (max-width: 767px) {
    position: fixed;
    border-radius: 15px;

    left: 50%;
    bottom: 110px;
    transform: translateX(-50%);
  }
  @media (min-width: 768px) {
  }
  /* table2 */
  @media (min-width: 1124px) {
  }

  /* descktop*/
  @media (min-width: 1200px) {
  }
}

/* 아이템버튼들 하나하 */
@media (min-width) {
  .sub__container button:nth-child(1) {
    grid-row: 1/2;
    grid-column: 2/4;
  }

  /* 유용한글 */
  .sub__container button:nth-child(2) {
    grid-row: 2/3;
    grid-column: 2/4;
  }

  /* 나만의장소 */
  .sub__container button:nth-child(3) {
    grid-row: 2/3;
    grid-column: 4/6;
  }

  .sub__container button:nth-child(4) {
    grid-row: 1/2;
    grid-column: 6/8;
  }
  .sub__container button:nth-child(5) {
    grid-row: 1/2;
    grid-column: 4/6;
  }

  /* 글겾차기 */
  .sub__container button:nth-child(6) {
    grid-row: 1/2;
    grid-column: 8/10;
  }
}

/* 모바일 */
@media (max-width: 765px) {
  .sub__container button:nth-child(1) {
    grid-row: 1/2;
    grid-column: 2/4;

    @media (min-width: 768px) {
    }

    /* table2 */
    @media (min-width: 1124px) {
    }

    /* descktop*/
    @media (min-width: 1200px) {
    }
  }

  /* 유용한글 */
  .sub__container button:nth-child(2) {
    grid-row: 2/3;
    grid-column: 2/4;
    @media (min-width: 768px) {
    }

    /* table2 */
    @media (min-width: 1124px) {
    }

    /* descktop*/
    @media (min-width: 1200px) {
    }
  }

  /* 나만의장소 */
  .sub__container button:nth-child(3) {
    grid-row: 2/3;
    grid-column: 4/6;
    @media (min-width: 768px) {
    }

    /* table2 */
    @media (min-width: 1124px) {
    }

    /* descktop*/
    @media (min-width: 1200px) {
    }
  }

  .sub__container button:nth-child(4) {
    grid-row: 1/2;
    grid-column: 6/8;
    @media (min-width: 768px) {
    }

    /* table2 */
    @media (min-width: 1124px) {
    }

    /* descktop*/
    @media (min-width: 1200px) {
    }
  }
  .sub__container button:nth-child(5) {
    grid-row: 1/2;
    grid-column: 4/6;
    @media (min-width: 768px) {
    }

    /* table2 */
    @media (min-width: 1124px) {
    }

    /* descktop*/
    @media (min-width: 1200px) {
    }
  }

  /* 글겾차기 */
  .sub__container button:nth-child(6) {
    grid-row: 1/2;
    grid-column: 8/10;
    @media (min-width: 768px) {
    }

    /* table2 */
    @media (min-width: 1124px) {
    }

    /* descktop*/
    @media (min-width: 1200px) {
    }
  }
}
