.container {
  display: flex;
  justify-content: space-between;
  @media (min-width: 768px) {
    width: 90%;
    margin: 0 auto;
  }

  /* table2 */
  /* 이 사이즈가 제일 문제임  */
  @media (min-width: 1124px) {
    width: 90%;
    margin: 0 auto;
  }

  /* descktop*/
  @media (min-width: 1200px) {
    width: calc(100% - 40rem);
    margin: 3rem auto;
    padding: 1rem;
  }
}

.sub__container {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);

  @media (min-width: 768px) {
  }

  /* table2 */
  @media (min-width: 1124px) {
  }

  /* descktop*/
  @media (min-width: 1200px) {
  }
}

.add__button {
  @media (max-width: 767px) {
    position: fixed;
    border-radius: 15px;

    left: 50%;
    bottom: 110px;
    transform: translateX(-50%);
  }
  @media (min-width: 768px) {
  }
  /* table2 */
  @media (min-width: 1124px) {
  }

  /* descktop*/
  @media (min-width: 1200px) {
  }
}

/* 아이템버튼들 하나하 */
/* 
/* 모바일 */
@media (max-width: 1124px) {
  .sub__container button:nth-child(1) {
    grid-row: 1/2;
    grid-column: 2/4;
  }

  /* 유용한글 */
  .sub__container button:nth-child(2) {
    grid-row: 2/3;
    grid-column: 2/4;
  }

  /* 나만의장소 */
  .sub__container button:nth-child(3) {
    grid-row: 2/3;
    grid-column: 4/6;
  }

  .sub__container button:nth-child(4) {
    grid-row: 1/2;
    grid-column: 6/8;
  }
  .sub__container button:nth-child(5) {
    grid-row: 1/2;
    grid-column: 4/6;
  }

  .sub__container button:nth-child(6) {
    grid-row: 1/2;
    grid-column: 8/10;
  }
}

@media (min-width: 1125px) {
  .sub__container button:nth-child(1) {
  }

  /* 유용한글 */
  .sub__container button:nth-child(2) {
    width: 100px;
  }

  /* 나만의장소 */
  .sub__container button:nth-child(3) {
    width: 100px;
  }

  .sub__container button:nth-child(4) {
    width: 100px;
  }
  .sub__container button:nth-child(5) {
    width: 100px;
  }

  .sub__container button:nth-child(6) {
    width: 100px;
  }
}
