.container {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18rem;

  /* tablet1 */
  @media (min-width: 768px) and (max-width: 1123px) {
  }

  /* tablet2 */
  @media (min-width: 1124px) {
  }
  /* descktop*/
  @media (min-width: 1200px) {
  }
}

.button__container {
  border: 3px solid var(--primary);
  border-radius: 15px;
  background-color: var(--white);
  width: 85%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* tablet */
  @media (min-width: 768px) {
  }

  /* table2 */
  @media (min-width: 1124px) {
  }

  /* descktop*/
  @media (min-width: 1200px) {
    width: 80%;
  }
}

.input__container {
  display: flex;
  align-items: center;
}

.input {
  width: 1000px;
  border: none;
}

.input:focus {
  outline: none;
}

.image {
  height: 3rem;
  text-align: center;
}
.add_button {
  width: 10rem;
  height: 2.5rem;
  align-self: center;
  margin-right: 1rem;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 5px;
  border: none;
}
