html{
    height: 100%;
}
body{
    height: 100%;
    background-color: #F0F6FF;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23.8rem;
}


/* header */
.header-logo img{
    width: 21rem;
}
nav{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin: 1.6rem 0;
}
.nav-link{
    font-weight: 600;
    text-decoration: underline;
    color: var(--primary);
}


/* main */
/* form */
label{
    display: block;
    font-size: 1.4rem;
}

form{
    margin: 3rem 0;
}

form input{
    width: 40rem;
    padding: 1.8rem 1.5rem ;
    border-radius: 8px;
    margin: 1.2rem 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
    border: 1px solid #CCD5E3;
    color: #373740;
}

.form-item input.error{
    border-color:var(--red);
    margin-bottom: .6rem;
}

.form-item p{
    color: var(--red);
    font-size: 1.4rem;
}

.form-item{
    position: relative;
}

.hide-password-check,
.hide-password{
    position: absolute;
    right: 1.5rem;
    top: 50%;
}

.hide-password-check.hide,
.hide-password.hide{
    content: url(../../images/eye-on.svg);
}

.form-item:not(:first-child){
    margin-top: 2.4rem;
}

.form-item input:focus {
    border-color:var(--primary);
    outline: none;
}

.btn{
    width: 100%;
    padding: 1.6rem 2rem;
    font-size: 1.8rem;
    font-weight: 600;
}


/* sns */
.sns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #CCD5E3;
    background-color: #E7EFFB;
    border-radius: 8px;
    padding: 1.2rem 2.4rem;
    margin-top: 3.2rem;
}

.sns span{
    font-size: 1.4rem;
    font-weight: 400;
    color: #373740;
}

.sns-icons{
    display: flex;
    gap:1.6rem;
}

.sns-icons img{
    width: 4.2rem;
}

/* 반응형 */
/* Mobile */
@media (max-width: 768px){
    main{
        width: 100%;
        padding: 3.2rem;
        max-width: 40rem;
        min-width: 30rem;
    }

    form input{
        width: 100%;
    }
}
