@import "@/styles/global.scss";

.dropdown {
  position: absolute;
  right: 5rem;
  top: 3rem;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  overflow: hidden;
  z-index: $KEBAB_ZINDEX;
  box-shadow: 3px 3px 3px 3px var(--color-gray2);
  & button,
  a {
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem;
    width: 100%;
    height: 100%;
    &:hover {
      color: var(--color-primary);
      background: var(--color-linkbrary);
    }
  }
}
