/* -- folder hero section -- */
.hero--folder {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 24px 32px 40px 32px;
  justify-content: center;
  gap: 20px;
  background: #f0f6ff;
  position: relative;
}

@media (max-width: 767px) {
  .hero--folder {
    padding: 10px 0 40px;
  }
}

.container {
  width: 800px;
  position: relative;
}

.div-link > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input-link {
  justify-content: space-between;
  border: none;
  display: flex;
  width: 800px;
  height: 53px;
  padding: 20px 20px 20px 52px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid #6d6afe;
  background: #fff;
}

.div-link img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1200px) {
  .container {
    width: 325px;
  }
  .input-link {
    width: 100%;
    padding: 12px 10px 12px 42px;
  }
  .div-link img {
    left: 15px;
  }
}

@media (max-width: 1200px) and (min-width: 767px) {
  .container {
    width: 710px;
  }
}

.link_container {
  right: 10px;
}

.link_button {
  color: #f5f5f5;
  font-size: 14px;
  width: 80px;
  margin-right: 5px;
  border-radius: 8px;
  border: none;
  height: 35px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
}
