/* -- folder hero section -- */
.main-header--folder {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0 90px;
  justify-content: center;
  gap: 20px;
  background: #f0f6ff;
  position: relative;
}

.container {
  width: 800px;
  position: relative;
}

.div-link {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.div-link > div {
  position: absolute;
  display: flex;
  align-items: center;
}

.input-link {
  justify-content: space-between;
  border: none;
  display: flex;
  width: 800px;
  padding: 20px 20px 20px 52px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid var(--linkbrary-primary-color, #6d6afe);
  background: var(--linkbrary-white, #fff);
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    margin: 0 32px;
  }
  .input-link {
    width: 100%;
  }
}

.div-link img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 21px;
  left: 20px;
}

.link_container {
  top: 13px;
  right: 10px;
}

.link_button {
  color: #f5f5f5;
  font-size: 14px;
  width: 80px;
  margin-right: 5px;
  border-radius: 8px;
  border: none;
  height: 35px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
}
