@import "src/commons/styles/global.scss";

.button-modifier {
  height: 0;
  display: flex;
  gap: 1rem;
  & button {
    display: flex;
    justify-content: center;
  }
}

.folder-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.2px;
}

.modifier-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 0 4rem;

  @media (min-width: 1124px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 500px;
    width: 1060px;
    padding: 0;
    margin: 0 auto;
  }
}
