@import "../../../../commons/styles/global.scss";
// @import "commons/styles/global.scss";

.button-modifier {
  height: 0;
  display: flex;
  gap: 1rem;
  & button {
    display: flex;
    justify-content: center;
  }
}
