.section-title-first {
    background-color: #F0F6FF;
    width: 100%;
    height: 244px;
}

.folder .section-title-first {
    padding-top: 60px;
}

.section-title-inner {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-title-first .add-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--linkbrary-white);
    padding: 16px 20px;
    border: 1px solid var(--linkbrary-primary-color);
    border-radius: 15px;
}

.add-link img {
    flex-basis: 20px;
    margin-right:12px;
}
.add-link input {
    flex-grow: 2;
    height: 24px;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: #9FA6B2;
    font-style: normal;
    font-weight: 400;
}

.add-link button {
    width: 80px;
    height: 37px;
    border-radius: 8px;
    background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
    color: #f5f5f5;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
    outline: 0;
    flex-shrink: 0;
}

.icon-wrap {
    width:60px;
    height: 60px;
    margin: 20px 0 12px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--primary-purple-70); */
}

.icon-wrap img {
    width: 100%;
    border-radius: 50%;
}
/* section2 */
.section-title-inner h4 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.section-title-inner h3 {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000;
    margin-top: 20px;
}

.section-title-second {
    width: 100%;
    max-width: 1060px;
    margin:40px auto;
}

.search-inner-box {
    background-color: #F5F5F5;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-inner-box img {
    flex-basis: 16px;
}

.search-inner-box input {
    margin-left: 10px;
    height:24px;
    width: 100%;
    border:0;
    outline: 0;
    background-color: #F5F5F5;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    color:#666;
}
.user-folder {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}
.folder-lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.folder-lists ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.folder-lists ul li {
    border: 1px solid var(--linkbrary-primary-color);
    border-radius: 5px;
    
}

.folder-lists ul li:hover {
    background-color: var(--linkbrary-primary-color);
}

.folder-lists ul li:hover a {
    color: #fff;
}


.folder-lists ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    padding: 8px 12px;
}

.folder-lists h4 {
    color: #6D6AFE;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.folder-lists h4 span {
    line-height: 1px;
    margin-right:4px;
}


.select-folder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-folder h2 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.2px;
}

.select-folder ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:12px;
}

.select-folder ul li {
    display: flex;
    align-items: center;
    color: var(--linkbrary-gray-60);
    gap:4px;
    cursor: pointer;
}

.select-folder ul li img {
    width: 18px;
}

.select-folder ul li span {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

/* section3 */
.section-title-third {
    width: 100%;
    max-width: 1060px;
    margin:0 auto 100px;
}
.section-title-third-inner {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap:25px 20px;
}

.section-title-third-inner a {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 15px;
    width: 340px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}

.card-img-wrap{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
  }
  
.card-img-wrap .logo-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-img-wrap .star-img {
    position: absolute;
    top: 15px;
    right: 15px;
}

.card:hover .card-img {
    transform: scale(130%);
    transition: 1s;
}

.card:hover .card-inpormation {
    background: var(--linkbrary-bg)
}

.card-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
}

.card-img img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-inpormation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 15px 20px;
    height: 131px;
    width: 100%;
}

.card-inpormation .card-inpormation-first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-inpormation .time {
    color: #666;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-inpormation .Kebab-botton {
    width: 21px;
    height: 17px;
}

.card-inpormation p {
    overflow: hidden;
    /* 2줄이상 긴텍스트 생략 */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /*  */
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.card-inpormation .day {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #333; 
}

.noLink {
    width: 100%;
    max-width: 1060px;
    margin: 81px auto 0;
    text-align: center;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 124.5px auto;
}

@media screen and (max-width: 1199px) {
    .section-title-second {
        padding: 0 32px;
        max-width: 765px;
    }
    .section-title-third{
        padding: 0 32px;
        max-width: 765px;
    }
    .user-folder {
        padding: 0 32px;
        max-width: 765px;
    }
    .folder .section-title-first {
        padding: 60px 32px 0;
    }
    .folder-lists ul {
        max-width: 500px;
        flex-wrap: wrap;
    }
    
}

@media screen and (max-width: 768px) {
    .section-title-first {
        height: 161px;
    }
    .section-title-second {
        max-width: 390px;
        margin: 20px auto 32px;
    }
    .section-title-first .add-link {
        max-width: 325px;
        padding: 8px 10px;
    }
    .add-link input {
        font-size: 14px;
    }
    .section-title-third{
        max-width: 390px;
    }
    .icon-wrap {
        width: 40px;
        height: 40px;
        margin: 10px 0 6px;
    }
    .section-title-inner h4 {
        font-size: 14px;
    }
    .search-inner-box {
        padding: 13px 16px;
    }
    .section-title-inner h3 {
        font-size: 32px;
        margin-top: 10px;
    }

    .search-inner-box input{
        font-size: 14px;
    }
    .user-folder {
        max-width: 390px;
        gap: 28px;
    }
    .folder-lists ul {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .folder-lists ul li {
        padding: 6px 10px;
    }
    .folder-lists h4 {
        display:none;
    }

    .select-folder {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
}

