$linkbrary-bg: #F0F6FF;
$linkbrary-primary-color: #6D6AFE;
$linkbrary-red: #FF5B56;
$linkbrary-white: #FFF;
$linkbrary-gray-100: #373740;
$linkbrary-gray-60: #9FA6B2;
$linkbrary-gray-20: #CCD5E3;
$linkbrary-gray-10: #E7EFFB;
$linkbrary-grad: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
$grey-light: #F5F5F5;
$the-julge-black: #111322;
