$linkbrary-bg: #f0f6ff;
$linkbrary-primary-color: #6d6afe;
$linkbrary-red: #ff5b56;
$linkbrary-white: #fff;
$linkbrary-gray-100: #373740;
$linkbrary-gray-60: #9fa6b2;
$linkbrary-gray-20: #ccd5e3;
$linkbrary-gray-10: #e7effb;
$linkbrary-grad: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
$grey-light: #f5f5f5;
$the-julge-black: #111322;
