@use "variables" as *;

@mixin text-linear-grad {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin mobile {
    @media screen and (max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: $breakpoint-tablet) {
        @content;
    }
}
