/* 초기화 css 코드 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
}

html,
body {
  font-size: 62.5%;
  background-color: #f0f6ff;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 메인 css 코드 */
main {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1440px;
  padding: 238px 0px 252px 0px;

  flex-direction: column;
  gap: 32px;
}

.signin_main {
  display: flex;
  /* justify-content: center; */
  align-items: center;

  flex-direction: column;
  gap: 30px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.title_logo {
  width: 210.583px;
  height: 38px;
}

.title > p {
  display: flex;
  align-items: flex-start;
  gap: 8px;

  color: var(--black, #000);

  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.to_signup {
  color: var(--linkbrary-primary-color, #6d6afe);

  font-weight: 600;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  position: relative;
}

label {
  color: var(--black, #000);

  font-size: 14px;
  font-weight: 400;
}

input {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20, #ccd5e3);
  background: var(--linkbrary-white, #fff);
}

input:focus {
  outline: none;
  border: 1px solid var(--linkbrary-gray-20, #6d6afe);
}

.eye-off {
  position: absolute;
  right: 15px;
  top: 50px;

  cursor: pointer;
}

.login_button {
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  border: 0;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );

  color: var(--grey-light, #f5f5f5);
  font-size: 18px;
  font-weight: 600;

  cursor: pointer;
}

.signin_social {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;

  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20, #ccd5e3);
  background: var(--linkbrary-gray-10, #e7effb);
}

.signin_social > p {
  color: var(--linkbrary-gray-100, #373740);

  font-size: 14px;
  font-weight: 400;
}

.images {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
