@import "styles/mixin";

.footer_wrapper {
  margin-top: 100px;
  background-color: #111322;
  min-width: 375px;
}

.footer_container {
  height: 160px;
  display: grid;
  padding: 32px 104px 64px;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 1.6rem;
  grid-template-areas: "copyright directLink icons";
  gap: 60px;

  @include mobile {
    grid-template-areas:
      "directLink icons"
      "copyright .";
    padding: 32px 32px 64px;
  }
}

.copyright {
  flex-shrink: 0;
  color: #676767;
  grid-area: copyright;
}

.direct_links {
  flex-shrink: 0;
  display: flex;
  gap: 30px;
  grid-area: directLink;
}

.links {
  flex-shrink: 0;
  color: #cfcfcf;
  text-decoration: none;
}

.icon_wrapper {
  display: flex;
  gap: 12px;
  grid-area: icons;
}
