.root {
  background-color: var(--gray1);
  padding: 8.8rem 0 6rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.ownerImage {
  width: 6rem;
}

.ownerName {
  font-size: 1.4rem;
  margin: 1.2rem 0 2rem;
}

.folderName {
  font-size: 4rem;
  font-weight: 600;
}

@media (max-width: 767px) {
  .profile {
    padding: 6.4rem 0 6rem;
  }

  .ownerImage {
    width: 4rem;
  }

  .ownerName {
    margin: 0.6rem 0 1rem;
  }

  .folderName {
    font-size: 3.2rem;
  }
}
