/* signup-page */

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.signup-container {
  display: flex;
  padding: 238px 0px 252px 0px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  gap: 32px;
}

.signup-logo {
  width: 210.583px;
  height: 38px;
}

.signup-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.signup-header-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.signup-header-subtext {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.signup-header-text a {
  text-decoration: underline;
  color: var(--color-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.signup-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.signup-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.signup-input-name {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signup-input {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--color-gray-30);
  background: var(--color-white);
}

.signup-btn {
  width: 400px;
  padding: 16px 20px;
  gap: 10px;
  border-radius: 8px;
  border-style: none;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--color-gray-10);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.signup-social {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--color-gray-30);
  background: var(--color-gray-20);
}

.signup-social-title {
  color: var(--color-gray-100);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signup-social-icons {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.google-ic-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border: 1px solid #d3d4dd;
  border-radius: 100%;
  background-color: var(--color-white);
}

.kakao-ic-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 100%;
  background-color: #f5e14b;
}

.password-input {
  position: relative;
}

.eye-off-ic {
  position: absolute;
  top: 35%;
  right: 15px;
}
