/* 초기화 css 코드 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Pretendard";
}

html,
body {
    font-size: 62.5%;
    background-color: #F0F6FF;

    display: flex;
    justify-content: center;
    align-items: center;
}
  
/* a {
    color: inherit;
    text-decoration: none;
} */
  
/* 메인 css 코드 */
main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1440px;
    padding: 238px 0px 252px 0px;

    flex-direction: column;
    gap: 32px;
}

.contents_01 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
    flex-direction: column;
    gap: 30px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.title_logo {
    width: 210.583px;
    height: 38px;
}

.title > p {
    display: flex;
    align-items: flex-start;
    gap: 8px;

    color: var(--black, #000);

    /* Linkbrary/body1-regular */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.to_signin {
    color: var(--linkbrary-primary-color, #6D6AFE);

    /* Linkbrary/body 1-semibold */
    font-weight: 600;
    line-height: normal;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

label {
    color: var(--black, #000);

    /* Linkbrary/body2-regular */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input {
    display: flex;
    width: 400px;
    padding: 18px 15px;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
    background: var(--linkbrary-white, #FFF);
}

input:focus {
    outline: none;
    border: 1px solid var(--linkbrary-gray-20, #6D6AFE);
}

.signup_button {
    display: flex;
    width: 400px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    border: 0;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));

    color: var(--grey-light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    cursor: pointer;
}

.contents_02 {
    display: flex;
    width: 400px;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;

    border-radius: 8px;
    border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
    background: var(--linkbrary-gray-10, #E7EFFB);
}

.contents_02 > p {
    color: var(--linkbrary-gray-100, #373740);

    /* Linkbrary/body2-regular */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.images {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}