@import url(/style/common.css);

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 238px 0px 116px;
  height: 100vh;
  background: var(--color-bg);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
input {
  width: 400px;
  padding: 18px 15px;
  border: 1px solid var(--color-gray-30);
  border-radius: 8px;
  background: var(--color-white);
  outline: none;
}
input:focus {
  border: 1px solid var(--color-primary);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .logo {
  width: 210px;
  height: 38px;
  margin-bottom: 16px;
}
.container p {
  color: var(--color-black);
  font-weight: 400;
  line-height: 150%;
}
.container .sign-in {
  color: var(--color-primary);
  font-weight: 600;
}
.input-box {
  margin: 30px 0;
}
label {
  display: block;
  font-size: 0.875rem;
  color: var(--color-black);
  margin-bottom: 12px;
}
.input-box input:not(.input-password2) {
  margin-bottom: 24px;
}
.btn-login {
  width: 400px;
  border: none;
  margin-bottom: 32px;
}

.social-login {
  width: 400px;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: var(--color-gray-20);
  border: 1px solid var(--color-gray-30);
}
.social-login p {
  color: #373740;
  font-size: 0.875rem;
}
.sns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.sns a {
  width: 42px;
  height: 42px;
  display: inline-block;
}

.email-field.error input,
.pwd-field.error input,
.pwd-confirm-field.error input {
  border-color: red;
  margin-bottom: 5px;
}
.email-field.error .error,
.pwd-field.error .error,
.pwd-confirm-field.error .error {
  font-size: 14px;
  color: red;
}

/* Mobile */
@media (max-width: 767px) {
  body {
    padding: 120px 0 119px;
    height: 100%;
  }
  .container {
    margin: auto 32px;
  }
}