.root {
  display: flex;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
  flex: 0 8rem;
  letter-spacing: -0.03rem;
  align-items: center;
  color: var(--primary);
  gap: 0.4rem;
}

@media (max-width: 767px) {
  .root {
    background-color: var(--primary);
    color: white;
    position: fixed;
    padding: 0.8rem 2.4rem;
    border-radius: 2rem;
    bottom: 101px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
