.header {
  width: 100%;
  background-color: var(--color-gray1);
  padding: 2rem 3.2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.user-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-content: center;
  text-align: center;
}

.user-section div {
  text-align: center;
}

.folder-profile-img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.folder-user-name {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.folder-name {
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
