/* color */
:root {
    --error-color: #FF5B56;
}

/* main */
main {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 238px 0 252px 0;
    justify-content: center;
    align-items: center;
    background: #F0F6FF;
    font-family: Pretendard, sans-serif;
}

/* sign 상단 타이틀 */
.sign-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.sign-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.logo {
    width: 210.583px;
    height: 38px;
}

.sign-container h3 {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

/* sign 상단 타이틀 링크 */
.sign-link-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sign-link {
    color: #6D6AFE;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: underline;
    text-underline-offset: 4px;
}

/* sign 입력란 */
.sign-form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.sign-form-container form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.sign-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signin-input {
    width: 400px;
    padding: 18px 15px;
    border-radius: 8px;
    border: 1px solid #CCD5E3;
    background: #FFF;
}

.sign-form-container input:focus {
    border: 1px solid #6D6AFE;
}

.sign-input.password {
    position: relative;
}

.error-input {
    outline: none;
    border-color: var(--error-color);
}

.email-type-error,
.password-type-error {
    color: var(--error-color);
    font-size: 0.8rem;
}

.eye-off-icon {
    position: absolute;
    right: 15px;
    top: 48px;
}

.btn {
    display: flex;
    width: 400px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
    color: #F5F5F5;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* 소셜 로그인 */
.social-login {
    display: flex;
    margin-top: 2px;
    width: 400px;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #CCD5E3;
    background: #E7EFFB;
}

.social-login-title {
    color: #373740;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social-icon {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.social-icon-background {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon-background.google {
    background: url("images/google-background.svg") no-repeat center;
    background-size: cover;
    width: 42px;
    height: 42px;
    flex-shrink: 0;
}

.social-icon-background.google img {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
}

.social-icon-background.kakao {
    background: url("images/kakao-background.svg") no-repeat center;
    background-size: cover;
    width: 42px;
    height: 42px;
}

.social-icon-background.kakao img {
    width: 26px;
    height: 24px;
    flex-shrink: 0;
}

/* 모바일 */
@media (min-width: 375px) and (max-width: 767px) {
    /* main */
    main {
        padding: 198px 32px 232px 33px;
        flex-direction: column;
        align-items: center;
    }

    .sign-container {
        width: 100%;
        max-width: 400px;
    }

    .sign-form-container {
        width: 100%;
        max-width: 400px;
    }

    .sign-form-container form {
        width: 100%;
        max-width: 400px;
    }

    .sign-form-container input {
        width: 100%;
        max-width: 400px;
    }

    .sign-input {
        width: 100%;
        max-width: 400px;
    }

    .sign-link-btn {
        width: 100%;
        max-width: 400px;
    }

    .btn {
        width: 100%;
        max-width: 400px;
    }

    .social-login {
        width: 100%;
        max-width: 400px;
    }
}
