body {
  background: var(--gray_color_5);
}

main {
  display: flex;
  justify-content: center;
}

.container {
  width: 40rem;
  margin-top: 23.8rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {  
  height: 7.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem

}


.site-logo img {
  width: 21.05834rem;
  height: 3.8rem;
}


.header_message{
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  width: 21.8rem;
  height: 2.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.header_message a {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  color: var(--primary_color)
}



.input_container {
  width: 100%;
  margin: 3rem 0 3.2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input_container .input_content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem
}



.input_container label {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
}

.input_container input{
  display: block;
  width: 100%;
  height: 6rem;
  display: flex;
  padding: 1.8rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid gray;
  background: var(--white_color);
  font-size: 1.6rem;
  line-height: 2.4rem;
}


.input_container #password_repeat_box {
  margin-bottom: 2.3rem;
}

.input_container input:focus {
  border-color: blue;
  outline: none;
}



button {
  display: flex;
  width: 100%;
  height: 5.4rem;
  padding: 1.6rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: .6rem;
  border-radius: 8px;
  border: none;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, var(--primary_color) 0.12%, #6AE3FE 101.84%));
  border-color: var(--gray_color_5);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--white_color);
}


.contain_mark {
  position:relative;
}

.contain_mark > .eye_mark_container {
  width: 1.6rem;
  height: 1.6rem;
  right: 1.5rem;
  position: absolute;
  top: 5rem;
}



.sns_link_container {
  display: flex;
  width: 100%;
  height: 6.6rem;
  padding: 1.2rem 2.4rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20, var(--gray_color_3));
  background: var(--linkbrary-gray-10,var(--gray_color_4));
  font-size: 1.4rem;
}

.icon_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.icon_link img {
  width: 4.2rem;
  height: 4.2rem;
}


@media (max-width: 1200px) {
  .container {
    margin-top: 20rem; 
  }
}

@media (max-width: 768px) {
  .container {
    margin: 12rem 3.2rem auto;
    width: 100%;
    }

  button, .input_container, .sns_link_container {
    max-width: 40rem;
  }
}

.check_message {
  font-size: 1.7rem;
  color: red ;
}

.input_container .error_box {
  margin-bottom: 0.6rem;
  border-color: red;
}


