.folder-name {
  display: flex;
  height: 3.5rem;
  padding: 0.8rem 1.2rem;
  border: 1px solid var(--primary);
  background: #fff;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  align-items: center;
}

@media (max-width: 1123px) {
  .folder-name {
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  .folder-name {
    width: auto;
    height: 3rem;
  }
}
