.buttonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: auto;
  gap: 1.2rem;
}

/* Tablet 화면 크기 (768px 이상 ~ 1199px 이하) */
@media screen and (min-width: 768px) and (max-width: 1199px) {
}

/* Mobile 화면 크기 (375px 이상 ~ 767px 이하) */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .buttonContainer {
    max-width: 8rem;
  }
}
