/* PC 화면 크기 (1200px 이상) */
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  height: 3.7rem;
  padding: 1rem 1.6rem;
  border-radius: 0.8rem;
  cursor: pointer;
  color: #f5f5f5;
  background-image: linear-gradient(135deg, var(--primary) 0%, #6ae3fe 100%);
  font-size: 1.4rem;
  font-weight: 600;
  white-space: nowrap;
}

.ctaShort {
  width: 8rem;
}

/* Tablet 화면 크기 (768px 이상 ~ 1199px 이하) */
@media screen and (min-width: 768px) and (max-width: 1199px) {
}

/* Mobile 화면 크기 (375px 이상 ~ 767px 이하) */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .cta {
    top: 0.8rem;
    right: 1rem;
  }
}
