.root {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media (max-width: 767px) {
    flex-direction: column;
    gap: 1.2rem;
  }
}
.folderName {
  font-size: 2.4rem;
  font-family: 600;
  @media (max-width: 767px) {
    font-size: 2rem;
  }
}
.buttons button {
  display: flex;
  align-items: center;
  color: var(--linkbrary-gray-60, #9fa6b2);
  font-size: 1.4rem;
  gap: 0.4rem;
}
.buttons {
  display: flex;
  gap: 1.2rem;
}
.hidden {
  display: none;
}
