.cards {
  width: 1060px;
  /* height: 1052px; */
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.5rem;
  column-gap: 1.25rem;
  margin: auto;
}
