.hero__profile {
  padding-top: 5.5rem;
  margin: 0;
  text-align: center;
}

.hero__profile__image {
  width: 3.75rem;
  height: 3.75rem;
}

.hero__profile__name {
  margin: 1rem 0;
}

.hero__title {
  padding-bottom: 3.75rem;
  font-size: 2.5rem;
  font-weight: var(--font-semibold);
  margin: 0 auto;
}

/* Mobile */
@media only screen and (min-width: 375px) and (max-width: 767px) {
  .hero__profile {
    padding-top: 4.5rem;
  }

  .hero__profile__image {
    width: 2.5rem;
    height: 2.5rem;
  }

  .hero__profile__name {
    margin: 0;
    margin-bottom: 10px;
    font-size: 0.875rem;
  }

  .hero__title {
    padding-bottom: 2.5rem;
    font-size: 2rem;
  }
}
