.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  height: 3.7rem;
  padding: 1rem 1.6rem;
  border-radius: 0.8rem;
  cursor: pointer;
  color: #f5f5f5;
  background-image: linear-gradient(135deg, var(--primary) 0%, #6ae3fe 100%);
  font-size: 1.4rem;
  font-weight: 600;
}

.cta_short {
  width: 9rem;
}
