.section {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.search-section {
  width: 100%;
}

.card-section {
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .card-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

/* 1124 이상 컴퓨터에서는
 * 좌우 padding이 20rem이며 브라우저 창이 작아지면 로고와 버튼 간의 간격이 줄어든다.
 */
@media (min-width: 1124px) {
  .card-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
}
