@import './reset.css';

/* Tablet */
@media (max-width: 1199px) {
  .blue_btn {
    padding: 16px 20px;
    font-size: 1.8rem;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .blue_btn {
    padding: 10px 16px;
    font-size: 1.4rem;
  }
  .login_btn {
    width: 80px;
  }
  .content_container {
    width: 100%;
    padding: 0 32px;
  }
}
