.card-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  justify-content: center;
  gap: 25px 20px;
  padding-bottom: 100px;
  background-color: var(--linkbrary-white);
}

@media (max-width: 1124px) {
  .card-list {
    grid-template-columns: repeat(2, 340px);
  }
}

@media (max-width: 767px) {
  .card-list {
    grid-template-columns: 340px;
  }
}
