.card-list {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-title-first {
  background-color: #f0f6ff;
  width: 100%;
  height: 244px;
}

.section-title-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icon-wrap {
  width: 60px;
  height: 60px;
  margin: 20px 0 12px;
  /* display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--primary-purple-70); */
}

.icon-wrap img {
  width: 100%;
  border-radius: 50%;
}
/* section2 */
.section-title-inner h4 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.section-title-inner h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #000;
  margin-top: 20px;
}

.section-title-second {
  width: 100%;
  max-width: 1060px;
  margin: 40px auto;
}

.search-inner-box {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-inner-box img {
  flex-basis: 16px;
}

.search-inner-box input {
  margin-left: 10px;
  height: 24px;
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #f5f5f5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  color: #666;
}

/* section3 */
.section-title-third {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}
.section-title-third-inner {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 25px 20px;
}

.section-title-third-inner a {
  text-decoration: none;
}
