.CategoryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.1rem;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--linkbrary-primary-color, #6d6afe);
  background: #fff;
  font-size: 1.6rem;
  white-space: nowrap;
}

.CategoryButton:hover {
  background: var(--linkbrary-gray-10, #e7effb);
}

.CategoryButton:active {
  background: var(--linkbrary-primary-color, #6d6afe);
}

.CategoryButton.selected {
  background: var(--linkbrary-primary-color, #6d6afe);
}
