.FolderInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.FolderInfo__profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.FolderInfo__profile-img {
  width: 6rem;
  border-radius: 50%;
}

.FolderInfo__user-name {
  font-size: 1.6rem;
}

.FolderInfo__folder-name {
  font-size: 4rem;
}

/* Tablet 화면 크기 (768px 이상 ~ 1199px 이하) */
@media screen and (min-width: 768px) and (max-width: 1199px) {
}

/* Mobile 화면 크기 (375px 이상 ~ 767px 이하) */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .FolderInfo__profile-img {
    width: 4rem;
    border-radius: 50%;
  }

  .FolderInfo__user-name {
    font-size: 1.4rem;
  }

  .FolderInfo__folder-name {
    font-size: 3.2rem;
  }
}
