.root {
  height: 160px;

  display: flex;
  justify-content: center;

  background-color: #111322;
}

.container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 104px 64px 104px;
}

.copyright {
  display: inline-block;
  padding-right: 18px;

  font-size: 16px;
  color: #676767;
}

.information {
  display: inline-block;

  font-size: 16px;
  color: #676767;
}

.information a {
  padding-right: 18px;
  text-decoration: none;
  color: #676767;
}

.sns {
  height: 20px;

  display: inline-block;
}

.sns a {
  padding-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .root {
    width: 100%;
    margin-top: 4rem;
  }

  .container {
    display: grid;
    grid-template:
      'links sns'
      '. .'
      'copyright .';
    padding: 0 3.2rem;
  }

  .information {
    grid-area: links;
  }

  .copyright {
    grid-area: copyright;
  }

  .sns {
    grid-area: sns;
  }
}
