/* ------------------------------------------------------------------------- */
/* HEADER */

.gnb {
  z-index: 1;

  background-color: var(--linkbrary-bg);

  position: fixed;
  top: 0;

  width: 100%;
  height: 6.3rem;
  padding: 1.3rem 3.2rem;

  @media (min-width: 768px) {
    height: 9.4rem;
    padding: 3.2rem 20rem;
  }
}

.gnb__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  width: 8.8rem;

  @media (min-width: 768px) {
    width: 13.3rem;
  }
  height: fit-content;
}

.btn--short {
  width: 12.8rem;
  height: fit-content;

  @media (max-width: 767px) {
    width: 8rem;
    font-size: 1.4rem;
  }
}

.btn--long {
  width: 20rem;

  @media (min-width: 768px) {
    width: 35rem;
  }
}

.profile {
  display: flex;
  align-items: center;
}

.profile__img {
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 0.6rem;
  border-radius: 50%;
}

.profile__email {
  font-family: Pretendard;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--gray-100);
}
