header {
  width: 100%;
  background-color: var(--color-gray1);
  padding: 2rem 3.2rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
