header {
  width: 100%;
  padding: 20px 200px;
  background: var(--bg);
}

.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

.header_container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: var(--gray-100);
}

.profile_img {
  width: 2.8rem;
  height: 2.8rem;
  object-fit: cover;
  border-radius: 100%;
}

.profile_email {
  font-size: 1.4rem;
}

@media (max-width: 1199px) {
  header {
    padding: 20px 32px;
  }
  .header_container {
    max-width: 799px;
  }
  .linkbrary_logo {
    height: 24px;
  }
}

@media (max-width: 767px) {
  header {
    padding: 13px 32px;
  }
  .linkbrary_logo {
    height: 18px;
  }
}
