@import "./global.scss";

#article1 {
  grid-area: article1;
}
#article2 {
  grid-area: article2;
}
#article3 {
  grid-area: article3;
}
#article4 {
  grid-area: article4;
}
#img1 {
  grid-area: img1;
}
#img2 {
  grid-area: img2;
}
#img3 {
  grid-area: img3;
}
#img4 {
  grid-area: img4;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 3rem 0 3rem;
  background-color: var(--color-gray1);
  & h1 {
    font-size: 5rem;
    text-align: center;
    font-weight: 700;
    line-height: 8rem; /* 125% */
    text-wrap: nowrap;
    & .important {
      background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .link-button {
    display: flex;
    width: 350px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    color: var(--grey-light, #f5f5f5);
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue);
  }
  .sample-img {
    min-width: 450px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
  }
}

.container {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 3rem auto;
}
.content {
  display: grid;
  margin: 120px auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "article1"
    "img1"
    "article2"
    "img2"
    "article3"
    "img3"
    "article4"
    "img4";
  gap: 80px;
  padding: 32px;

  & .article {
    width: 320px;
    & div,
    p {
      width: 100%;
    }
  }
  & .title {
    margin-bottom: 30px;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
    & span {
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  & .description {
    color: #6b6b6b;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
  }
  & .img {
    min-width: 300px;
  }
}
.important1 {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
}
.important2 {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
}
.important3 {
  background: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
}
.important4 {
  background: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
}

@include tablet {
  .header {
    padding: 7rem 0 0 0;
    margin: 0 auto;
    gap: 4rem;
    & h1 {
      font-size: 6.4rem;
      min-width: 300px;
    }
    .sample-img {
      max-width: 70rem;
    }
  }
  .content {
    grid-template-columns: 320px 100px minmax(10px, 100px) 100px 320px;
    grid-template-areas:
      "article1 . . img1 img1"
      "img2 img2 . . article2"
      "article3 . . img3 img3"
      "img4 img4 . . article4";
    grid-row-gap: 50px;
    grid-column-gap: 0;
    & .img {
      max-width: 450px;
    }
    .article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
}
