.intro-section {
  display: flex;
  padding: 16.4rem 62.4rem 0;
  background: #f0f6ff;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.bookmark {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 6rem;
}
