.root {
  display: flex;
  align-items: center;
  gap: 6px;
}

.loginButton {
  width: 128px;

  display: flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  border: none;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
