.root {
  background: var(--linkbrary-bg, #f0f6ff);
  padding: 20px 624px 60px 624px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.profileImage {
  width: 60px;
}

.name {
  font-size: 1.4rem;
  margin: 1.2rem 0 2rem;
}

.title {
  font-size: 4rem;
  font-weight: 600;
}
