.ProfileInfo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.ProfileInfo__profile-img {
  border-radius: 50%;
  width: 2.8rem;
}

.ProfileInfo__email {
  color: var(--linkbrary-gray-100, #373740);
  font-size: 1.4rem;
}
