* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pretendard";
}

:root {
  --linkbrary-bg: #f0f6ff;
  --primary-color: #6d6afe;
  --red: #ff5b56;
  --black: #111322;
  --white: #ffffff;
  --gray-10: #e7effb;
  --gray-20: #ccd5e3;
  --gray-60: #9fa6b2;
  --gray-100: #373740;
}

html,
body {
  height: 100vh;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}
