.search {
  width: 100%;
  background-color: var(--linkbrary-white);
  padding: 40px 32px;
}

.search-box {
  margin: auto;
  max-width: 1060px;
  background-color: #f5f5f5;
  padding: 15px 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-img {
  width: 16px;
  height: 16px;
}

.search-input {
  width: 90%;
  background-color: transparent;
  border: none;
  outline: none;
}
