.search_bar_container{
    position : relative;
}

.search_bar_input{
    width : 100%;
    padding : 15px 40px;
    border : none;
    border-radius: 10px;
    background-color: var(--grey-light);
    font-size : 1.6rem;
}

.search_bar_icon{
    position : absolute;
    width : 16px;
    height : 16px;
    top : 17px;
    left : 16px;
}