.SelectItem {
  display: flex;
  padding: 8px 12px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--linkbrary-primary-color, #6d6afe);
  background: #fff;
  white-space: nowrap;
  max-width: 90px;

  text-align: center;
}

.active {
  &.active {
    background-color: var(--linkbrary-primary-color, #6d6afe);
    border: 1px solid var(--linkbrary-primary-color, #6d6afe);
  }
}
