header {
  margin-top: 9.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--linkbrary-bg);
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9.4rem;
  background-color: var(--linkbrary-bg);
  padding: 0 20rem;
}

.nav-box {
  width: 152rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
  padding-top: 7rem;
}

.slogan {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem;
}

.slogan-gradient {
  background-image: var(--linkbrary-slogan-gradient);
}

.background-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero-image {
  width: 120rem;
  height: 59rem;
}

article {
  padding-top: 7rem;
  padding-bottom: 12rem;
}

section {
  display: grid;
  justify-content: center;
  column-gap: 15.7rem;
  row-gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 50px 0;
}

section:nth-of-type(odd) {
  grid-template:
    ". image"
    "title image"
    "description image"
    ". image"
    /29.1rem 55rem;
}

section:nth-of-type(even) {
  grid-template:
    "image ."
    "image title"
    "image description"
    "image ."
    /55rem 29.1rem;
}

.title {
  grid-area: title;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.8rem;
  letter-spacing: -0.03rem;
}

.title-1-gradient {
  background-image: var(--linkbrary-title-1-gradient);
}
.title-2-gradient {
  background-image: var(--linkbrary-title-2-gradient);
}
.title-3-gradient {
  background-image: var(--linkbrary-title-3-gradient);
}
.title-4-gradient {
  background-image: var(--linkbrary-title-4-gradient);
}

.description {
  grid-area: description;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--linkbrary-description);
  line-height: 150%;
}

.content-image {
  grid-area: image;
  object-fit: cover;
  width: 100%;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  nav {
    padding: 0;
  }

  .nav-box {
    width: 79.9rem;
    padding: 0 min(32px);
  }

  .slogan {
    width: 47.2rem;
    word-break: keep-all;
  }

  /* Images */
  .hero-image {
    width: 65rem;
    height: 38.3rem;
  }

  article {
    padding-top: 3rem;
  }

  section {
    column-gap: 5.1rem;
    row-gap: 1rem;
    height: 41.5rem;
    padding: 5rem 0;
  }

  section:nth-of-type(odd) {
    grid-template:
      ". image"
      "title image"
      "description image"
      ". image"
      /26.2rem 38.5rem;
  }

  section:nth-of-type(even) {
    grid-template:
      "image ."
      "image title"
      "image description"
      "image ."
      /38.5rem 26.2rem;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  nav {
    padding: 0;
  }

  .nav-box {
    width: 100%;
    padding: 0 min(32px);
  }

  .nav-logo {
    width: 8.9rem;
  }

  .slogan {
    font-size: 3.2rem;
    line-height: 4.2rem;
    word-break: keep-all;
    width: 23.6rem;
  }

  .hero-header {
    row-gap: 2.4rem;
    padding-top: 0;
  }

  /* Images */
  .hero-image {
    width: 30.2792rem;
    height: 17.8712rem;
    flex-shrink: 0;
  }

  article {
    padding-top: 0;
  }

  section {
    column-gap: 2.4rem;
    row-gap: 1.6rem;
    padding: 4rem 3.2rem;
    height: 100%;
  }

  .title {
    font-size: 2.4rem;
    line-height: normal;
  }
  .description {
    font-size: 1.5rem;
  }

  section:nth-of-type(odd) {
    grid-template:
      "title"
      "image"
      "description"
      / 1fr;
  }

  section:nth-of-type(even) {
    grid-template:
      "title"
      "image"
      "description"
      / 1fr;
  }
}
