.profileImage {
  width: 10px;
  height: 10px;

  flex-shrink: 0;
}

.profileEmail {
  color: #373740;
  /* Linkbrary/body2-regular */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .profileEmail {
    display: none;
  }
}
