// Layout 관련 z index는 50 ~ 99
$NAV_ZINDEX: 80;
$FOOTER_ZINDEX: 80;

// Container 내부 z index는 10 ~ 49
$KEBAB_ZINDEX: 30;
$STAR_ZINDEX: 30;
$FLOATING_BUTTON_ZINDEX: 50;

// 모달 관련 z index는 900 ~ 999
$MODAL_BACKGROUND_ZINDEX: 900;
$MODAL_CONTAINER_ZINDEX: 990;
