/* -----------------------
   공통 스타일
----------------------- */
.card {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  width: 340px;
  height: 334px;
  margin: 10px;
  position: relative;
}

.card img:hover {
  transform: scale(1.3);
  transition: transform 0.3s;
}

.card img {
  width: 100%;
  height: 60%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.no-image {
  height: 200px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.card-text {
  height: 40%;
  padding: 15px;
  font-family: "Pretendard";
  font-style: normal;
}

.card-text h3,
.card-text p {
  margin: 0px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.no-link {
  padding: 40px 0px;
}

.date {
  color: #666;
  font-size: 13px;
  font-weight: 400;
}

.title,
.description {
  overflow: hidden;
  font-weight: 400;
  text-overflow: ellipsis;
}

.title {
  color: #000;
  font-size: 16px;
  line-height: 150%;
}

.description {
  color: #333;
  white-space: nowrap;
  font-size: 14px;
}

/* -----------------------
   folder-page일 때의 스타일
----------------------- */
.card.folder-page {
  .star-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .star-button,
  .kebab-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .card-text-top {
    display: flex;
    justify-content: space-between;
  }
}

/* -----------------------
   share-page일 때의 스타일
----------------------- */
.card.share-page {
  .star-button {
    display: none;
  }
}

/* PC (1124px 이상) */
@media (min-width: 1124px) {
  .card-list {
    width: 1080px;
  }
}

/* Tablet (764px ~ 1123px) */
@media (min-width: 764px) and (max-width: 1123px) {
  .card-list {
    width: 720px;
  }
}

/* Mobile (763px 이하) */
@media (max-width: 763px) {
  .card-list {
    padding: 0 32px;
  }
}
