main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 10rem;
}

.content_wrapper {
  width: 106rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
}

#search {
  display: flex;
  width: 106rem;
  padding: 1.5rem 1.6rem 1.5rem 4.2rem;
  justify-content: space-between;
  align-items: flex-start;
  border: none;
  border-radius: 1rem;
  background: #f5f5f5;

  background-image: url("../../image/search.svg");
  background-repeat: no-repeat;
  background-size: 1.6rem;
  background-position: 1.6rem center;
}

.folder_wrapper {
  display: flex;
  width: 1060px;
  justify-content: space-between;
  align-items: center;
}

.folder_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.folder_buttons {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.folder_item {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  background: var(--linkbrary-white);

  color: var(--linkbrary-black);
  font-size: 16px;
}

.folder_item.selected {
  background: var(--primary-color);
  color: var(--linkbrary-white);
}

.folder_title {
  color: var(--linkbrary-black);
  font-size: 24px;
  font-weight: 600;
}

.add_folder {
  display: flex;
  align-items: center;
  gap: 4px;

  border: none;
  background-color: var(--linkbrary-white);
  cursor: pointer;
}

.add_folder_msg {
  color: var(--primary-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.add_folder_img {
  width: 16px;
  height: 16px;
}

.function_buttons {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.function_button {
  display: flex;
  align-items: center;
  gap: 4px;

  border: none;
  background-color: var(--linkbrary-white);
  cursor: pointer;
}

.function_button_img {
  width: 18px;
  height: 18px;
}

.function_button_msg {
  color: var(--linkbrary-gray-2);
  font-size: 14px;
  font-weight: 600;
}

.no_link {
  display: flex;
  width: 1060px;
  height: 100px;
  padding: 41px 0px 35px 0px;
  justify-content: center;
  align-items: center;

  color: var(--linkbrary-black);
  text-align: center;
  font-size: 16px;
  line-height: 24px; /* 150% */
}

@media (max-width: 1124px) {
  .content_wrapper,
  #search,
  .folder_wrapper,
  .no_link {
    width: 70.4rem;
  }
}

@media (max-width: 767px) and (min-width: 375px) {
  .content_wrapper,
  #search,
  .folder_wrapper,
  .no_link {
    width: 34rem;
  }

  .content_wrapper {
    margin-right: 3.2rem;
    margin-left: 3.2rem;
  }
}
