/* 모달 공통 스타일 */
.modal-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
  padding: 35px 40px;
  border-radius: 15px;
  width: 32rem;
  height: 24.4rem;
  border: 1px solid var(--gray-botticelli);
  position: relative;
  border: 1px solid green; /*나중에 지우기*/
}

.modal-close-btn {
  border: none;
  background: none;
}

.modal-close-img {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
}

.modal-box h1 {
  color: var(--gray-tuna);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 15px;
  border-radius: 8px;
  border: 1px solid var(--gray-botticelli);
}

.modal-input:focus {
  border: 1px solid var(--primary);
  outline: none;
}

.modal-submit-btn {
  padding: 16px 20px;
  border: 0;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
/* 폴더 이름 변경, 폴더 추가 */

/* 폴더 삭제, 링크 삭제 */

/* 폴더 공유 */

/* 폴더에 추가 */
