.wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-primary-varient);
  z-index: 1;
}

.container {
  padding: 1.25rem 12.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  margin: auto;
}

.logo {
  cursor: pointer;
}

.navbar {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.profileImage {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
}

.button {
  padding: 1rem 1.25rem;
  width: 128px;
  border: none;
  border-radius: 0.5rem;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--color-white);
  font-size: var(--font-small);
  font-weight: var(--font-semibold);
  cursor: pointer;
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 863px;
    padding: 1.25rem 2rem;
  }
}

/* Mobile */
@media only screen and (min-width: 375px) and (max-width: 767px) {
  .logo {
    width: 5.5rem;
    height: 1rem;
  }

  .container {
    padding: 0.8rem 2rem;
  }

  .header__login__btn {
    width: 5rem;
    padding: 0.625rem 1rem;
    font-size: 0.875rem;
  }

  .profileEmail {
    display: none;
  }
}
