.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.8125rem;
  background-color: var(--linkbrary-bg);
}

/*--main--*/

.folderInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 3.75rem;
  width: 100%;
  background-color: var(--linkbrary-bg);
  border: solid 2px black;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rebeccapurple;
}
