.cta {
  text-align: center;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--grey-light);
  font-size: 1.125rem;
  font-weight: 600;
}
