/* global css */
@import url(reset.css);

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-style: normal;
}

:root {
  --main_color: #6d6afe;

  --font_white: #f0f6ff;
  --font_black: #000000;

  --error_msg_red: #ff5b56;
}

/* Error CSS */
.error_msg {
  font-size: 14px;
  font-weight: 400;
  color: var(--error_msg_red);
}

.errorInput {
  border: solid 1px var(--error_msg_red) !important;
}
