.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  height: 100%;
  padding: 20px 200px;
  margin: auto;
}

.profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.3rem;
}
