.searchBar-large {
  width: 100%;
  max-width: 66.25rem;
  height: 3.375rem;
  padding: 0.94rem 1rem;
  border-radius: 0.625rem;
  background-color: var(--gray-light);
}

input {
  flex-grow: 1;
  border: none;
  background: transparent;
}
