.categoryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.2rem;
  border: 0.1rem solid var(--linkbrary-primary-color, #6d6afe);
  height: 4.1rem;
  background: #fff;
  font-size: 1.6rem;
  white-space: nowrap;
  border-radius: 0.5rem;
}

.categoryButton:hover {
  background: var(--linkbrary-gray-10, #e7effb);
}

.categoryButton:active {
  background: var(--linkbrary-primary-color, #6d6afe);
}

.categoryButton.selected {
  background: var(--linkbrary-primary-color, #6d6afe);
  color: #fff;
}
