@use "../utils" as *;

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 7rem;
    background-color: $linkbrary-bg;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        @include tablet {
            width: 47.5rem;
        }

        text-align: center;
        font-size: 6.4rem;
        font-weight: 700;
        line-height: 1.25;

        &--grad {
            background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
            @include text-linear-grad;
        }
    }

    &__signup {
        width: 35rem;
        margin: 4rem;
    }

    &__frame {
        @include tablet {
            width: 65rem;
            height: 33rem;
        }

        overflow: hidden;
        display: flex;
        justify-content: center;
        position: relative;
        width: 111.8rem;
        height: 59rem;
        padding: 5rem 4.1rem 0;
        background-color: transparent;
    }

    &__img {
        @include tablet {
            width: 65rem;
            height: 38.3rem;
        }

        width: 111.8rem;
        height: 70.7rem;
        background-image: url("/public/images/main-screen.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0 0.4rem 2.5rem 0 rgba(#000, 0.08);
        border-radius: 2.5rem;
    }

    &__dim {
        @include tablet {
            width: 65rem;
            height: 37rem;
        }
        
        position: absolute;
        top: 0;
        width: 111.8rem;
        height: 65.9rem;
        background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, #F0F6FF 94.76%);
    }
}

.section-container {
    @include tablet {
        padding-top: 8rem;
    }
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    width: 100%;
    padding-top: 12rem;
    padding-bottom: 17rem;
}

.section {
    @include tablet {
        gap: 5.1rem;

        .section-container :nth-child(odd){
            grid-template-columns: 26.2rem 38.5rem;
        }
        .section-container :nth-child(even){
            grid-template-columns: 38.5rem 26.2rem;
        }
    }

    display: grid;
    gap: 15.7rem;

    .section-container :nth-child(odd){
        grid-template-columns: 29.1rem 55rem;
    }
    .section-container :nth-child(even){
        grid-template-columns: 55rem 29.1rem;
    }

    &__text {
        @include tablet {
            width: 26.2rem;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        flex-shrink: 0;
        width: 29.1rem;

        .section-container :nth-child(odd) & {
            grid-column: 1;
            grid-row: 1;
        }
        .section-container :nth-child(even) & {
            grid-column: 2;
            grid-row: 1;
        }
    }

    &__title {
        font-size: 4.8rem;
        font-weight: 700;
        letter-spacing: -0.03rem;

        .section-container :first-child &--grad {
            background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
        }
        .section-container :nth-child(2) &--grad {
            background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
        }
        .section-container :nth-child(3) &--grad {
            background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
        }
        .section-container :nth-child(4) &--grad {
            background: linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%);
        }

        .section-container .section &--grad {
            @include text-linear-grad;
        }
    }

    &__desc {
        color: #6B6B6B;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
    }

    &__frame {
        @include tablet {
            width: 38.4rem;
            height: 31.5rem;
        }

        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 55rem;
        height: 45rem;

        .section-container :nth-child(odd) & {
            grid-column: 2;
            grid-row: 1;
        }
        .section-container :nth-child(even) & {
            grid-column: 1;
            grid-row: 1;
        }
    }

    &__img {
        width: 100%;
    }
}
