* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: pretendard;
}
/* 바뀐것들 */

.div_searchLink {
  width: 100%;
  display: flex;
  align-items: flex-start;
  position: relative;
  align-items: center;
}

.div_searchLink_input {
  padding: 15px 42px;
  border-radius: 10px;
  background: #f5f5f5;
  border: none;
  width: 100%;
}

.div_searchLink_image {
  position: absolute;
  left: 15px;
}

/* -- header -- */
header {
  display: flex;
  width: 100%;
  padding: 32px 60px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background: #f0f6ff;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  white-space: nowrap;
}

#div-myprofile {
  display: flex;
  align-items: center;
  gap: 6px;
}

#div-myprofile h4 {
  color: #373740;

  /* Linkbrary/body2-regular */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.userImg {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 50%;
}

/* -- main header -- */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.main-header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0 90px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  background: #f0f6ff;
  position: relative;
}

.folder-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.folder-image {
  border-radius: 47px;
  display: flex;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
}

.folder-userText {
  color: black;
  font-size: 16px;
  line-height: 24px; /* 150% */
}

.folder-nameText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 40px;
  font-weight: 600;
}

/* -- link input -- */
.container {
  width: 800px;
  position: relative;
}

#div-link {
  position: relative;
  display: flex;
  width: 800px;
  justify-content: space-between;
  align-items: flex-start;
}

#div-link > div {
  position: absolute;
  display: flex;
  align-items: center;
}

#input-link {
  justify-content: space-between;
  border: none;
  display: flex;
  width: 800px;
  padding: 20px 20px 20px 52px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid var(--linkbrary-primary-color, #6d6afe);
  background: var(--linkbrary-white, #fff);
}

#div-link img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 21px;
  left: 20px;
}

#link_container {
  top: 13px;
  right: 10px;
}

.link_button {
  color: #f5f5f5;
  font-size: 14px;
  width: 80px;
  margin-right: 5px;
  border-radius: 8px;
  border: none;
  height: 35px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
}

/* ------------ */
/* --content -- */
/* ------------ */
.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
}

/* -- tag buttons -- */
#div-tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 40px;
}

#tag-buttons {
  display: flex;
  gap: 8px;
  white-space: nowrap;
}

.tag {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #6d6afe;
  background: #fff;
}

.tag:active {
  border-radius: 5px;
  border: 1px solid #6d6afe;
  background: #6d6afe;
  color: white;
}

.tag.checked {
  border-radius: 5px;
  border: 1px solid #6d6afe;
  background: #6d6afe;
  color: white;
}

.tag.hasemoji a {
  margin-top: -1px;
}

#text-content {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 79px;
  height: 19px;
  text-align: center;
}
#div-tag h4 {
  color: #6d6afe;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
  letter-spacing: -0.3px;
}

/* -- title -- */
#div-title {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.icons-option {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: 12px;
  visibility: hidden;
}

.option {
  display: flex;
  flex-direction: row-reverse;
  white-space: nowrap;
  gap: 4px;
  align-items: center;
}

.option h5 {
  color: var(--linkbrary-gray-60, #9fa6b2);
  /* Linkbrary/body2-semibold */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* ---------------- */
/* -- card images -- */
/* ---------------- */
.cardImg {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  position: absolute;
}

.cardImg:hover {
  width: 130%;
  height: 130%;
  top: -20px;
  right: -55px;
}

.link-img {
  text-decoration: none;
}

.div-text {
  display: flex;
  width: 340px;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 0px 0px 15px 15px;
  background: #fff;
}

.div-img {
  width: 340px;
  height: 200px;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  background: #d9d9d9;
  position: relative;
}

.div-text h5 {
  color: #666;

  /* Linkbrary/caption */
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.div-text p {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  /* white-space: nowrap; */

  /* Linkbrary/body1-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  height: 49px;
  align-self: stretch;
}

.div-text h4 {
  overflow: hidden;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 19px;
  align-self: stretch;
  /* Linkbrary/body2-regular */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.img-star {
  position: absolute;
  top: 12px;
  right: 10px;
}

.row-cards {
  display: flex;
  gap: 20px;
}

.cards {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  justify-content: center;
  position: relative;
}
/* 465 */
@media (max-width: 1124px) and (min-width: 666px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 665px) {
  .cards {
    display: flex;

    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  width: 340px;
  height: 334px;
  border-radius: 0px 0px 15px 15px;
  display: "flex";
  flex-direction: "row";
  flex-wrap: "wrap";
}

/* -- footer -- */
footer {
  display: flex;
  height: 160px;
  padding: 32px 104px 64px 104px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  margin-top: 60px;
  background: #111322;
}

footer #footer-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

footer #label-container {
  display: flex;
  width: 181.111px;
  align-items: flex-start;
  gap: 30px;
}

footer .footer-label {
  color: #cfcfcf;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer #sns-container {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

footer .sns-icon {
  width: 20px;
  height: 20px;
  text-decoration: none;
  color: #ffffff;
}

footer #copyright {
  color: #676767;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
