.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 60px;
  padding: 18px 15px;
  border: 1px solid var(--gray20);
  border-radius: 8px;
  background-color: var(--white);
}

.Container :focus-within {
  border-color: var(--primary);
}

.Input {
  flex-grow: 1;
  line-height: 1.5rem;
  color: var(--gray100);
  border: none;
  outline: none;
}

.Input ::placeholder {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--gray60);
}

.Error {
  display: inline-block;
  margin-top: 6.1px;
  font-size: 0.875rem;
  color: var(--red);
}
