.card-container {
  width: 106rem;
  height: 105.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2.5rem 2rem;
}

.card {
  max-width: 34rem;
  min-width: 34rem;
  height: 33.4rem;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  border-radius: 3rem;
  overflow: hidden;
}

.folder-img-container {
  height: 19.9rem;
  overflow: hidden;
}

.folder-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}
.folder-img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.folder-contents-container {
  margin: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.folder-createdAgo {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: normal;
  color: #666;
}

.folder-description {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.folder-createdAt {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
