.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 45rem;
  height: 45rem;
  font-size: 1.5rem;
  font-weight: bold;
  row-gap: 2rem;
  border-radius: 10px;
  box-shadow: 0 0.5rem 2.5rem 0 rgba(0, 0, 0, 0.08);
  padding-top: 1rem;
  /* tablet */
  @media (min-width: 768px) {
    /* width: 100%; */

    width: 35rem;
  }

  /* tablet2 */
  @media (min-width: 1124px) {
    /* width: 100%; */
    width: 35rem;
  }

  /* descktop*/
  @media (min-width: 1200px) {
    /* width: 80%; */
    width: 45rem;
  }
}

.title {
  border: 5px solid red;
}
