.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-light-blue;
  height: 100%;
  width: 100%;

  // @include tablet {

  // }
}

.items {
  justify-content: center;
  width: 40rem;
  gap: 3rem;
}

.logo {
  height: 3.8rem;
}

.signin {
  display: inline-block;
  width: 40rem;
  padding: 1rem 0;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;

  @include tablet {
    width: 12.8rem;
    padding: 1.6rem 0;
    font-size: 1.8rem;
  }
}
