* {
  box-sizing: border-box;
  font-family: "Pretendard";
  word-break: keep-all;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

input:focus {
  outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}
