.footer {
    width: 100%;
    background-color: var(--the-julge-black);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 192rem;
    margin: 0 auto;
    padding: 3.2rem 10.4rem 6.4rem;
}

.footer__copyright {
    flex-shrink: 0;
    font-family: Arial;
    font-size: 1.6rem;
    font-weight: 400;
    color: #676767;
}

.footer__extra-page {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    gap: 3rem;
    margin: 0 20px;
}

.footer__link {
    font-family: Arial;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    color: #CFCFCF;
}

.footer__sns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    gap: 1.2rem;
}