body {
    padding: 238px 0px 252px 0px;
}

/* -- main -- */
.contents {
    flex-direction: column;
    gap:16px;
}

.img--logo {
    width: 210.583px;
    height: 38px;
}

.contents__txt {
    display: flex;
    gap:8px;
}

.txt--isMember {
    color: var(--color-black);
    line-height: 24px; /* 150% */    
}

.txt--intent {
    color: var(--color-primary);
    font-weight: 600;
    text-decoration: underline;
}

/* -- sign-in form -- */
.form {
    display: flex;
    flex-direction: column;
    gap:30px;
}

.form__input__wrap {
    display: flex;
    flex-direction:column;
    gap:12px;
}

.input {
    width: 400px;
    padding: 18px 15px;
    border-radius: 8px;
    border: 1px solid var(--color-gray-1);
    background: var(--color-white);
    color: var(--color-gray-2);
    line-height: 24px; /* 150% */
}

.input:focus {
    border: 1px solid var(--color-primary);
    background: var(--color-white);
}

.input:focus-visible {
    outline: none;
}

.margin--bottom-24 {
    margin-bottom:24px;
}

/* -- sign-in btn -- */
.form__input_button {
    width: 400px;
    color: var(--color-gray-3);
    margin-bottom:32px;
}
    
/* -- social login -- */
.social_login {
    width: 400px;
    padding: 12px 24px;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid var(--color-gray-1);
    background: var(--color-gray-4);
}

.social_login__txt {
    color: var(--color-gray-2);
    font-size: 14px;
}

.social_login__contents {
    display: flex;
    align-items: flex-start;
    gap: 16px;   
}

.btn--circle-background {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    position:relative;
}

.img--google, .img--kakao {
    width: 22px;
    height: 22px;
    position:absolute;
    margin-top:10px;
    margin-left:-33px;
    z-index: 2;
}

.img--kakao {
    width: 26px; 
    height: 24px;
}

@media (max-width:465px)  {

    .input {
        width:100%;
    }
    .main{
        margin:auto 30px;
    }

    .btn--signin {
        width:100%;
    }
    .social_login {
        width:100%;
    }
    .container{
        width:100%;
    }
}