.folderListContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 40px;
}
.linkList {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 340px);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 20px;
  padding: 0;
  margin: auto;
}

.linkList li {
  list-style: none;
  width: 340px;
}

/* tablet */
@media (max-width: 1124px) {
  .linkList {
    grid-template-columns: repeat(2, 340px);
  }
}

/* mobile */
@media (max-width: 767px) {
  .linkList {
    grid-template-columns: repeat(1, 340px);
  }
}
