.searchLinkContainer {
  position: relative;
  width: 1060px;
  margin: auto;
}
.searchImg {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 13px;
  left: 15px;
}

.searchLinkInput {
  display: flex;
  width: 100%;
  padding: 15px 16px;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  border-radius: 10px;
  border: 0;
  background: #f5f5f5;
  color: #666666;
}

.searchLinkInput::placeholder {
  position: relative;
  left: 20px;
}

.searchLinkInput:focus::placeholder {
  opacity: 0;
}

.searchLinkInput:focus + .searchImg {
  display: none;
}

@media (max-width: 1124px) {
  .searchLinkContainer {
    margin: 0 32px;
    width: auto;
  }
}
