.header {
  display: flex;
  width: 28rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
}

.title {
  color: #373740;
  font-size: 2rem;
  font-weight: 700;
}

.subTitle {
  color: #9fa6b2;
  font-size: 1.4rem;
  line-height: 2.2rem;
}
