.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding: 4rem 3.2rem;
}
.addLink {
  display: flex;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 9rem;
  background: var(--linkbrary-bg, #f0f6ff);
}
.section {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4rem;
}
.folderSection {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.emptyLink {
  width: 106rem;
  padding: 4.1rem 0 3.5rem;
  text-align: center;
  font-size: 1.6rem;

  @media (max-width: 1199px) {
    width: 70.4rem;
  }
  @media (max-width: 767px) {
    width: 32.5rem;
    font-size: 1.4rem;
  }
}
