.root {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
  max-width: 112.4rem;
  padding: 0rem 3.2rem;
  margin: 4rem auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
}

@media (max-width: 767px) {
  .flex {
    flex-direction: column;
  }
}
