.folder-buttons {
  position: relative;
}

.add-folder-button {
  position: absolute;
  top: 1rem;
  right: 10rem;
  background-color: transparent;
  color: var(--color-primary);
  border: none;
}

.folder-modifier-buttons {
  position: absolute;
  bottom: 0;
  right: 10rem;
}
