@import url(/src/shared/reset.css);
@import url(/src/shared/common.css);

/* PC size*/
.cards-list {
  display: table;
  place-items: center;
  margin: 40px auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 34rem);
  gap: 20px;
}

/* tablet Size */
@media (min-width: 768px) and (max-width: 1124px) {
  .cards-list {
    padding: 0 32px;
  }

  .cards {
    grid-template-columns: repeat(2, 34rem);
  }
}

/* mobile Size */
@media (max-width: 767px) {
  .cards-list {
    padding: 0 32px;
  }

  .cards {
    grid-template-columns: 32rem;
  }
}
