form .password-invisible {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-100%);
  cursor: pointer;
}

form .login-btn {
  padding: 1rem 1.25rem;
  align-items: center;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  margin-top: -0.3rem;
  font-size: 1rem;
  font-weight: 600;
  color: #f5f5f5;
  border: none;
  cursor: pointer;
}