.container {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.8rem 1.5rem;
  border: 0.1rem solid var(--linkbrary-gray-20, #ccd5e3);
  width: 28rem;
  background: var(--linkbrary-white, #fff);
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--linkbrary-gray-60, #9fa6b2);
  border-radius: 0.8rem;
}

.input:focus {
  border: 0.1rem solid var(--linkbrary-primary-color, #6d6afe);
  color: var(--linkbrary-gray-100, #373740);
}
