.modalButton {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 2rem;
  width: 28rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--grey-light, #f5f5f5);
  border-radius: 0.8rem;
}

.blue {
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%));
}

.red {
  background: var(--linkbrary-red, #ff5b56);
}
