@use '../utils' as *;

.folder-container {
  padding: 2rem 3rem;

  @include pc {
    margin: 0 auto;
    width: 106rem;
  }
}

.card-container {
  display: grid;
  gap: 2rem;
  margin: 0 auto;
  padding-top: 3.2rem;

  @include tablet {
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
    gap: 2.5rem;
    padding-top: 4rem;
  }

  @include pc {
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto;
    gap: 2.5rem 2rem;
    padding-top: 4rem;
  }
}
