.search-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 20px;
  border: 1px solid var(--color-gray-20);
  border-radius: 10px;
  width: 100%;
}

.search-bar-search-icon {
  width: 16px;
  height: 16px;
}

.search-bar-cancel-button {
  color: var(--color-white);
}

.search-bar {
  width: 100%;
  border-radius: 10px;
  border: none;
}

.search-bar:focus {
  outline: none;
}

.search-bar::placeholder {
  color: var(--color-gray-40);
  font-size: 16px;
}
