.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 1.6rem;
  width: 106rem;
  border-radius: 10px;
  background: #f5f5f5;
  margin-bottom: 4rem;
}

.search-icon {
  width: 1.6rem;
  height: 1.6rem;
  right: 0;
  margin-right: 1rem;
}

.search-bar-input {
  border: none;
  background: transparent;
  color: var(--Text, #666);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
}

.search-bar-input:focus {
  outline: none;
}

@media (max-width: 1124px) {
  .search-bar {
    width: 70.4rem;
  }
}

@media (max-width: 768px) {
  .search-bar {
    width: 32.5rem;
    height: 4.3rem;
  }
}
