.searchbar {
  display: flex;
  width: 106rem;
  padding: 1.5rem 1.6rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  background: #f5f5f5;
  transition: 0.5s;
}

.searchbar-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.searchbar-input {
  background-color: transparent;
  border: none;
  color: var(--Text, #666);
  width: 100%;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.searchbar-input:active {
  border: none;
  outline: none;
}

.searchbar-input:focus {
  border: none;
  outline: none;
}

.searchbar-delete {
  cursor: pointer;
}

/* Tablet */
@media screen and (max-width: 1124px) {
  .searchbar {
    width: 70.4rem;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .searchbar {
    width: 32.5rem;
  }
}
