.container {
  border: 5px solid red;

  @media (min-width: 768px) {
  }
  /* descktop*/
  @media (min-width: 1200px) {
  }
}

.search__input {
  border: 5px solid blue;

  @media (min-width: 768px) {
    display: inline-block;
  }
  /* descktop*/
  @media (min-width: 1200px) {
    display: inline-block;
  }
}
