.eyeIcon {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 15px;
  border: none;
  background-color: var(--color-white);
}

.container {
  display: flex;
  position: relative;
  width: 100%;
}

.errorMessage {
  color: var(--color-red-10);
  font-size: 14px;
  font-weight: 400;
}
