.container {
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.descriptionContainer {
  text-align: center;
}

.status {
  font-size: 6.8rem;
  font-weight: 700;
  color: var(--red);
  animation: shake 0.4s ease-in-out infinite;
}

.description {
  font-size: 2rem;
  font-weight: 700;
  color: #535353;
}

@keyframes shake {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
