.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--backgroundcolor-skyblue-10);
  padding: 24px 0px;
}

.addLinkInput {
  width: 100%;
  border: none;
}

.addLinkInput:focus {
  outline: none;
}

.addLinkInput::placeholder {
  color: var(--color-gray-40);
}

.addLinkInputContainer {
  width: 800px;
  border: 1px solid var(--color-primary);
  border-radius: 15px;
  padding: 16px 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color: var(--color-white);
}

.addLinkIcon {
  color: var(--color-black);
}

.addLinkButton {
  width: 92px;
  padding: 10px 16px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  border: none;
  color: var(--color-gray-10);
  font-weight: 600;
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .addLinkInputContainer {
    width: 704px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .addLinkInputContainer {
    width: 325px;
    padding: 8px 10px;
  }

  .addLinkInput {
    width: 50%;
  }

  .wrapper {
    padding: 16px 0px;
  }
}
