@import url('../../styles/global.css');

.kebab-icon {
  color: var(--color-gray-100);
  width: 21px;
  height: 17px;
}

.kebab-button {
  border: none;
  background-color: var(--color-white);
  cursor: pointer;
  position: relative;
}

.kebab-container {
  position: relative;
}
