@import url(../reset.css);
@import url(../root.css);

body {
    background: var(--linkbrary-bg);
}

#login {
    height: 100vh;
}

.login-form {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
    padding: 238px 30px 116px;
}

.login-form h1 {
    text-align: center;
}
.login-form h1 a {
    text-decoration: none;
    display:inline-block;
    width: 210.583px;
    height: 38px;
}

.login-form h1 img {
    width: 100%;
}

.join-link {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:16px;
}

.join-link h3 {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-right: 8px;
}

.join-link a {
    color:  var(--linkbrary-primary-color);
    font-size: 16px;
    font-weight: 600;
}
form {
    margin: 30px 0 32px;
}
form .input-box:not(:last-child) {
    margin-bottom: 24px;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box label {
    margin-bottom: 12px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.input-box .inner-icon {
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 18px 15px;
    border-radius: 8px;
    border: 1px solid var(--linkbrary-gray-20);
    background:  var(--linkbrary-white);
}

.input-box input:focus {
    outline-color: var(--linkbrary-primary-color);
  }


.password-box.empty input,
.password-box.empty input, 
.password-box.wrong input {
    border: 1px solid var(--linkbrary-red);
}
.email-box.empty input,
.email-box.wrong input,
.email-box.disaccord input {
    border: 1px solid var(--linkbrary-red);
}


  /* 이메일 값 없을 경우 나타나는 에러메세지 */
.email-box.empty::after {
    content:"이메일을 입력해주세요.";
    margin-top: 6px;
    color: var(--linkbrary-red);
    font-size: 14px;
    font-weight: 400;
}
/* 이메일 값이 옳지 않을 경우 나타느는 에러메세지 */
.email-box.wrong::after {
    content:"올바른 이메일 주소가 아닙니다.";
    margin-top: 6px;
    color: var(--linkbrary-red);
    font-size: 14px;
    font-weight: 400;
}
/* 이메일 값이 일치 하지않을 경우 나타나는 에러메세지 */
.email-box.disaccord::after {
    content:"이메일을 확인해주세요.";
    margin-top: 6px;
    color: var(--linkbrary-red);
    font-size: 14px;
    font-weight: 400;
}


/* 비밀번호값이 없을경우 나타나는 에러메세지 */
.password-box.empty::after {
    content:"비밀번호를 입력해주세요.";
    margin-top: 6px;
    color: var(--linkbrary-red);
    font-size: 14px;
    font-weight: 400;
}
/* 비밀번호가 일치하지 않을 경우 나타나는 에러메세지 */
.password-box.disaccord::after {
    content:"비밀번호를 확인해주세요.";
    margin-top: 6px;
    color: var(--linkbrary-red);
    font-size: 14px;
    font-weight: 400;
}

.fa-solid {
    width:20px;
    height:auto;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(-50%, -50%);
}

.login-btn {
    width: 100%;
    padding: 16px 20px; 
    border-radius: 8px;
    background: linear-gradient(91deg, var(--linkbrary-primary-color) 0.12%, #6AE3FE 101.84%);
    color: #F5F5F5;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}


.login-form-social {
    display: flex;
    max-width: 100%;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid  var(--linkbrary-gray-20);
    background: var(--linkbrary-gray-10);
    gap: 16px;
}

.login-form-social h3 {
    flex-grow:2;
    color: var(--linkbrary-gray-100);
    font-size: 14px;
    font-weight: 400;
}
.login-form-social a {
    width: 42px;
    height:42px;
}


.login-form-social img {
    width: 100%;
    height: auto;
}





