@import url(../reset.css);
@import url(../root.css);

body {
    background:var(--linkbrary-bg);
}

#join {
    height: 100vh;
}


.join-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 238px 0 116px;
}

.join-form h1 {
    text-align: center;
}
.join-form h1 a {
    text-decoration: none;
    display:inline-block;
    width: 210.583px;
    height: 38px;
}

.join-form h1 img {
    width: 100%;
}

.login-link {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:16px;
}

.login-link h3 {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-right: 8px;
}

.login-link a {
    color:  var(--linkbrary-primary-color);
    font-size: 16px;
    font-weight: 600;
}
form {
    margin: 30px 0 32px;
}
form .input-box:not(:last-child) {
    margin-bottom: 24px;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box label {
    margin-bottom: 12px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.input-box .inner-icon {
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 18px 15px;
    border-radius: 8px;
    border: 1px solid var(--linkbrary-gray-20);
    background:  var(--linkbrary-white);
}

.input-box input:focus {
    outline-color: var(--linkbrary-primary-color);
  }
.fa-solid {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(-50%, -50%);
}
.join-btn {
    width: 100%;
    padding: 16px 20px; 
    border-radius: 8px;
    background: linear-gradient(91deg, var(--linkbrary-primary-color) 0.12%, #6AE3FE 101.84%);
    color: #F5F5F5;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}

/* .input-box .check-text {
    margin-top: 6px;
    color: var(--linkbrary-red);
    font-size: 14px;
    font-weight: 400;
    display: none;
} */

/* .input-box::after {
    content:"비밀번호를 다시 입력해주세요";
    margin-top: 6px;
    color: var(--linkbrary-red);
    font-size: 14px;
    font-weight: 400;
    display: none;
} */

.join-form-social {
    display: flex;
    max-width: 100%;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid  var(--linkbrary-gray-20);
    background: var(--linkbrary-gray-10);
    gap: 16px;
}

.join-form-social h3 {
    flex-grow:2;
    color: var(--linkbrary-gray-100);
    font-size: 14px;
    font-weight: 400;
}

.join-form-social a {
    width: 42px;
    height:42px;
}


.join-form-social img {
    width: 100%;
    height: auto;
}




