/* PC 화면 크기 (1200px 이상) */
.navBar {
  display: flex;
  justify-content: center;
  /* position: sticky; */
  top: 0;
  z-index: 1;
  background: var(--linkbrary-bg, #f0f6ff);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1920px;
  padding: 2rem 20rem;
}

a.logo img {
  width: 13.3rem;
  height: 2.4rem;
}

.login {
  text-align: center;
  text-decoration: none;
  width: 12.8rem;
  padding: 1.6rem 2rem;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--grey-light);
}

/* Tablet 화면 크기 (768px 이상 ~ 1199px 이하) */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    padding: 2rem 3.2rem;
  }
}

/* Mobile 화면 크기 (375px 이상 ~ 767px 이하) */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    padding: 1.3rem 3.2rem;
  }
}
