footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 16rem;
  padding-top: 3.2rem;
  background-color: #111322;
}

.footerWrapper {
  display: grid;
  grid-template: "footerLogo footerLinkToPage footerSocialIcon";
  justify-content: space-between;
  width: 100%;
  max-width: 192rem;
  height: fit-content;
  padding: 0 10.4rem;

  @media (max-width: 767px) and (min-width: 375px) {
    grid-template:
      "footerLinkToPage footerSocialIcon"
      "footerLogo .";
    padding: 0 2rem;
    gap: 5rem;
  }
}

.footerLogo {
  grid-area: footerLogo;
  font-size: 1.6rem;
  color: #676767;
}

.footerLinkToPage {
  grid-area: footerLinkToPage;
  display: flex;
  column-gap: 3rem;
  padding-right: 1.8rem;
}

.footerLink {
  font-size: 1.6rem;
  color: #cfcfcf;
}

.footerSocialIcon {
  grid-area: footerSocialIcon;
  display: flex;
  column-gap: 1.2rem;
  height: 2rem;
}
