* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

span {
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  line-height: 125%;
}

