@use "../utils" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__input {
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;

    &-box {
      width: 100%;
      margin-top: 1.2rem;
      padding: 1.8rem 1.5rem;
      outline: none;
      border: 0.1rem solid $linkbrary-gray-20;
      border-radius: 0.8rem;

      &:focus {
        border-color: $linkbrary-primary-color;
      }

      &__error {
        border-color: $linkbrary-red;
      }
    }
  }

  &__password-toggle {
    position: absolute;
    top: 4.6rem;
    right: 1.5rem;
  }
}

.error-msg {
  margin-top: 0.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: $linkbrary-red;
}
