.link-add-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 32rem;
  background-color: var(--gray-zircon);
}

.link-add-label {
  position: relative;
}

.link-add {
  display: flex;
  min-width: 80rem;
  min-height: 7rem;
  padding: 16px 30px 16px 50px;
  background-image: url("../assets/images/link.svg");
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: 20px;
  border-radius: 15px;
  border: 1px solid var(--primary);
}

.link-add-button {
  position: absolute;
  right: 2%;
  top: 25%;
  font-size: 14px;
  color: var(--gray-wild-sand);
  width: 80px;
  padding: 10px 16px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  white-space: nowrap;
}

/* tablet Size */
@media (min-width: 768px) and (max-width: 1124px) {
  .link-add {
    min-width: 66rem;
  }
}

/* mobile Size */
@media (max-width: 767px) {
  .link-add {
    min-width: 32.5rem;
    min-height: 5.3rem;
  }
}
