.card-list-wrapper {
  max-width: 1060px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 40px;
  padding-bottom: 60px;
}
.card-list {
  max-width: 1060px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 340px));
  justify-content: center;
  align-items: center;
  gap: 25px 20px;
  margin: 40px auto 0 auto;
  background-color: rgba(255, 255, 255, 1);

  @media (min-width: 768px) and (max-width: 1124px) {
    grid-template-columns: repeat(2, 340px);
  }
  @media (min-width: 1px) and (max-width: 767px) {
    grid-template-columns: repeat(1, 340px);
  }
}
