.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px;
  max-width: 340px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}

.card-img-wrap {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}

.card-img-wrap .logoImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card:hover .card-img {
  transform: scale(130%);
  transition: 1s;
}

.card:hover .card-information {
  background: var(--linkbrary-bg);
}

.card-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-img img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding: 15px 20px;
}

.card-information .time {
  color: #666;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-information p {
  overflow: hidden;
  /* 2줄이상 긴텍스트 생략 */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /*  */
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.card-information .date {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #333;
}

.cardlist {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}
.cardlist-inner {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 25px 20px;
}

.cardlist-inner a {
  text-decoration: none;
}
