

.info-area .card-extra-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
}

.card-extra-info .upload-time {
  color: #666;
  font-size: 1.3rem;
}


.card-extra-info .kebab {
  width: 2.1rem;
  height: 1.7rem;
}

.info-area .text {
  height: 4.9rem;
  align-self: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.6rem;
  line-height: 2.4rem; /* 150% */
  margin: 0;
}

.info-area .text:hover {
  text-decoration: underline;
}

.info-area .date {
  height: 1.9rem;
  align-self: stretch;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.4rem;
}