.card-list-wrapper {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 40px;
  padding-bottom: 60px;
}
.card-list {
  width: 1060px;
  height: 1146px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 340px));
  justify-content: center;
  align-items: center;
  gap: 25px 20px;
  margin: 40px auto 0 auto;
  background-color: rgba(255, 255, 255, 1);
}
