.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3.3rem 20rem;
  background: var(--gray-zircon);
}

.nav .logo {
  width: 133px;
  height: 24px;
}

.nav .login-link {
  display: flex;
  width: 128px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
}

.nav .user-info {
  display: flex;
  align-items: center;
  gap: 6px;
}

.nav .user-profile {
  width: 28px;
  height: 28px;
  border-radius: 999px;
}

.folder-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 60px;
  background: var(--gray-zircon);
}

.folder-info .folder-profile {
  width: 60px;
  height: 60px;
}

.folder-info .folder-user-name {
  color: #000;
  margin: 12px auto 20px;
  font-size: 16px;
}

.folder-info .folder-name {
  font-size: 40px;
}

/* tablet Size */
@media (min-width: 768px) and (max-width: 1123px) {
  .nav {
    padding: 3.3rem 3.25rem 3.2rem;
  }
}

/* mobile Size */
@media (max-width: 767px) {
  .nav {
    padding: 1.8rem 3.2rem 1.7rem;
  }

  .nav .logo {
    width: 87px;
    height: 16px;
  }
}
