.add-link {
  background-color: #F0F6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.add-link-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  padding: 16px 20px;
  margin: 60px 199px 90px;
  border-radius: 15px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-white);
}
.add-link-img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.add-link-input {
  width: calc(100% - 80px);
  outline: none;
  border: none;
  color: var(--color-gray-02);
  font-size: 16px;
}
.add-link-button {
  width: 80px;
  padding: 10px;
  background: var(--color-background);
  color: var(--color-white);
  border-radius: 8px;
  border: none;
  font-size: 13px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
/* .search-container {
  display: flex;
  align-items: center;
  padding: 15px 16px;
  border-radius: 10px;
  background-color: #F5F5F5;
}
.search-img {
  width: 16px;
  height: 16px;
  margin-right: -20px;
  z-index: 10;
}
.search-input {
  background-color: #F5F5F5;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  color: #666;
  padding-left: 26px;
}
.search-input::placeholder {
  font-size: 14px;
} */
.menuBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggleMenu {
  display: flex;
  align-items: center;
  gap: 8px;
}
.menuList {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid var(--color-primary);
}
.add-folder {
  color: var(--color-primary);
  display: block;
}

@media screen and (max-width: 1124px) {
  .container2 {
    margin: min(32px);
  }
  .add-link-form {
    margin: 60px 32.5px 90px;
  }
  
}

@media screen and (max-width: 768px) {
  .add-link-form {
    margin: 24px 32px 40px;
  }
  .container {
    margin: 20px 0;
  }
  .container2 {
    margin: min(32px);
  }
  .menuList {
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
  }
  
}
@media screen and (max-width: 480px) {
  .add-folder {
    display: none;
  }
  .toggleMenu {
    flex-wrap: wrap;
    gap: 8px;
  }
}