/* .folder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F6FF;
  width: 100%;
} */
/* .folder-container {
  min-width: 180px;
  flex-direction: column;
  text-align: center;
  margin: 20px 0 60px;
} */
/* .profile-img {
  width: 60px;
  height: 60px;
  margin-bottom: 12px;
} */
/* .folder-user {
  font-family: Pretendard;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
} */
/* .folder-name {
  font-size: 40px;
  font-weight: 600;
} */


.addLink {
  background-color: #F0F6FF;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-form {
  border: 1px solid var(--color-primary);
  width: 800px;
  padding: 16px 20px;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.link-img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.link-input {
  width: calc(100% - 80px);
  outline: none;
  border: none;
  color: var(--color-gray-02);
  font-size: 16px;
}
.link-button {
  width: 80px;
  padding: 10px;
  background: var(--color-background);
  color: var(--color-white);
  border-radius: 8px;
  border: none;
  font-size: 13px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.container2 {
  width: 1060px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.search-container {
  display: flex;
  align-items: center;
  padding: 15px 16px;
  border-radius: 10px;
  background-color: #F5F5F5;
}
.search-img {
  width: 16px;
  height: 16px;
  margin-right: -20px;
  z-index: 10;
}
.search-input {
  background-color: #F5F5F5;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  color: #666;
  padding-left: 26px;
}
.search-input::placeholder {
  font-size: 14px;
}
.menuBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggleMenu {
  display: flex;
  align-items: center;
  gap: 8px;
}
.menuList {
  border: 1px solid #000;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid var(--color-primary);
}