.folder {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.25rem 2rem 3.75rem 2rem;
	gap: 1.25rem;
}
@media screen and (max-width: 70.1875rem) {
	.folder {
		gap: 1.5rem;
	}
}

.folder__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.5rem;
}

.folder__user-avatar {
	width: 3.75rem;
}

.folder__user {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	gap: 0.75rem;
}

.folder__user-name {
	color: #000;
	font-size: 1rem;
}
@media screen and (max-width: 47.9375rem) {
	.folder__user-name {
		font-size: 0.875rem;
	}
}

.folder__title {
	color: #000;
	font-size: 2.5rem;
	font-weight: 600;
}

@media screen and (max-width: 47.9375rem) {
	.folder__title {
		font-size: 2rem;
	}
}

.cardList {
	display: grid;
	grid-template-columns: repeat(3, 21.25rem);
	justify-content: center;
	gap: 1.25rem;
}
@media screen and (max-width: 70.1875rem) {
	.cardList {
		grid-template-columns: repeat(2, 21.25rem);
		gap: 1.5rem;
	}
}
@media screen and (max-width: 47.9375rem) {
	.cardList {
		grid-template-columns: minmax(auto, 20.3125rem);
		gap: 1.25rem;
	}
}

.card {
	text-decoration: none;
	color: #000;
	box-shadow: 0 0.3125rem 1.5625rem 0 rgba(0, 0, 0, 0.08);
	display: grid;
	grid-template-rows: 12.5rem 1fr;
	overflow: hidden;
	transform-origin: center center;
}
@media screen and (max-width: 47.9375rem) {
	.card {
		width: 100%;
		max-width: 20.3125rem;
		grid-template-rows: 12rem 1fr;
	}
}

.card__image-wrap {
	position: relative;
	border-radius: 0.9375rem 0.9375rem 0 0;
	overflow: hidden;
}

.card__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.9375rem 0.9375rem 0 0;
	transform-origin: center center;
	transition: all 0.3s ease-in-out;
}

.card__image--hover {
	transform: scale(1.3);
	overflow: hidden;
}

.card__star {
	position: absolute;
	top: 0.9375rem;
	right: 0.9375rem;
}

.card__time {
	display: flex;
	justify-content: space-between;
	grid-area: card__time;
}

.card__text {
	padding: 0.9375rem 1.25rem;
	display: grid;
	gap: 0.625rem;
	grid-template-rows: 1rem 3.0625rem 1.1875rem;
	grid-template-areas:
		"card__time"
		"card__title"
		"card__created-date";
}

.card__text--hover {
	background-color: var(--linkbrary-zircon);
}

.card__time-diff {
	font-size: 0.8125rem;
	font-weight: 400;
	color: #666;
}
.card__title {
	display: -webkit-box;
	color: #000;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 2rem;
	line-height: 1rem;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	grid-area: card__title;
}
.card__created-date {
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.875rem;
	font-weight: 400;
	grid-area: card__created-date;
}
