.folders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1060px;
}

.folder-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.add-folder {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--linkbrary-primary-color);
}

button {
  background-color: var(--linkbrary-white);
  color: "black";
  border: 1px solid var(--linkbrary-primary-color);
  border-radius: 5px;
  line-height: 100%;
  display: flex;
  padding: 8px 12px;
  flex-shrink: 0;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .folders {
    max-width: 704px;
    padding: 20px 0px;
  }
}

@media (max-width: 768px) {
  .folders {
    max-width: 325px;
    padding: 0;
  }

  .add-folder {
    position: fixed;
    bottom: 261px;
    left: 50%;
    transform: translateX(-50%);
    padding: 9px 24px;
    background-color: var(--linkbrary-primary-color);
    border-radius: 20px;
    color: var(--linkbrary-white);
    z-index: 3;
  }

  .add-folder img {
    fill: var(--linkbrary-white);
  }

  button {
    padding: 6px 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
