footer {
  display: flex;
  height: 160px;
  padding: 32px 104px 64px 104px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-basis: 300px;
  background-color: #111322;
}

.footer-company {
  color: #676767;
  font-family: Arial;
  font-size: 1rem;
  font-weight: 400;
}

.footer-info {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.footer-each {
  text-decoration: none;
  color: #cfcfcf;
  font-family: Arial;
  font-size: 1rem;
  font-weight: 400;
}

.footer-sns {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
