header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: #f0f6ff;
}
header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 200px;
  margin: 0 auto;
}

header a img {
  width: 100%;
  height: auto;
}
.header-login {
  display: flex;
  align-items: center;
}

.header-login button {
  display: inline-block;
  width: 133px;
  padding: 16px 20px;
  border: 0;
  outline: 0;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: #f5f5f5;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
}

.Profile {
  display: flex;
  align-items: center;
  flex: 1 0 1;
}

.profile_logo {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.profile_id {
  margin-left: 6px;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  header .inner {
    max-width: 767px;
    padding: 20px 0px;
  }
}

@media screen and (max-width: 775px) {
  header .inner {
    padding: 13px 32px;
  }
  header a {
    width: 88.667px;
  }
  header a img {
    width: 100%;
    /*  height: 16px; */
  }
  .header-login a {
    width: 80px;
    height: 37px;
    padding: 10px 16px;
    font-size: 14px;
  }
}

@media screen and (max-width: 390px) {
  header a img {
    height: 16px;
  }
}
