* {
  margin: 0;
}
.Header {
  background: #F0F6FF;
  width: 100%;
}
.gnb {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-bg);
  z-index: 100;
}
.logo {
  width: 133px;
  height: 24px;
}
.login {
  width: 128px;
}

.folder {
  /* 임시 */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.folder-wrapper {
}
.avatar {
  background-color: purple;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
}
.folder-name {
  font-size: 40px;
}