main {
  margin: 4rem 19rem 10rem 19rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media screen and (max-width: 1124px) {
  main {
    margin-left: 3.2rem;
    margin-right: 3.2rem;
  }
}

@media screen and (max-width: 767px) {

}