.main-container {
  width: 100%;
}
.search-bar {
  width: 100%;
  margin-top: 40px;
}

.search-bar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.search-icon {
  position: absolute;
  left: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (max-width: 1124px) {
    left: 150px;
  }
}

.search-bar-input {
  width: 1060px;
  padding: 15px 16px;
  border-radius: 10px;
  padding-inline-start: 36px;
  border: none;
  background-color: #f5f5f5;
  outline: none;

  @media (max-width: 1124px) {
    max-width: 704px;
  }
}

.card-list-wrapper {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 40px;
  padding-bottom: 60px;
}
.card-list {
  max-width: 1060px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 340px));
  justify-content: center;
  align-items: center;
  gap: 25px 20px;
  margin: 40px auto 0 auto;
  background-color: rgba(255, 255, 255, 1);

  @media (max-width: 1124px) {
    grid-template-columns: repeat(2, 340px);
  }
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}
