.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 40px;
}

.main-search {
  display: flex;
  width: 1060px;
  padding: 15px 16px;
  align-items: center;
  border-radius: 10px;
  background: #f5f5f5;
  gap: 10px;
}
@media (max-width: 1124px) {
  .main-search {
    width: 100%;
  }
}

.search-div {
  color: #666;
  text-align: right;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.main-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media (max-width: 1124px) {
  .main-content-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .main-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}

a {
  text-decoration: none;
}

.card-wrapper {
  width: 340px;
  height: 365px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.card-wrapper :hover {
  background-size: 160%;
}

.card-box {
  width: 340px;
  background-color: #fff;
  border-radius: 15px;
}

.card-image {
  width: 340px;
  height: 230px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0px 0px;
}

.card-text {
  display: flex;
  padding: 15px 20px;
  flex-direction: column;
  gap: 10px;
}

.card-time-ago {
  color: #666;
  font-family: Pretendard;
  font-size: 13px;
  font-weight: 400;
}

.text-description {
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #000;
}

.card-year {
  color: #333;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
}
