.modal-background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
}

container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 40px;
  background-color: var(--linkbrary-white);
  border-radius: 15px;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.title {
  font-size: 20px;
  font-weight: 700;
}
