.nav-bar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #f0f6ff;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.nav-wrapper {
  max-width: 1920px;
  width: 100%;
  padding: 32px 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 33px 32.5px 32px 32.5px;
    max-width: 700px;
  }

  @media (max-width: 767px) {
    padding: 1.3rem 3.2rem;
  }
}

.user-account {
  display: flex;
  align-items: center;
  gap: 6px;
}

.user-account img {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 20px;
}
