.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F0F6FF;
  padding: 32px 200px;
}
.logo-img {
  width: 200px;
}
.profile-img {
  width: 28px;
  height: 28px;
  border-radius: 50px;
  vertical-align: middle;
  margin-right: 6px;
}
.profile-email {
  color: #373740;
  font-size: 14px;
}