.option-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1060px;
  margin: 24px auto;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  color: black;
}

.option-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--linkbrary-gray-60);
  gap: 12px;
}

.option-box {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.option-box img {
  width: 18px;
  height: 18px;
}

@media screen and (max-width: 1024px) {
  .option-container {
    max-width: 704px;
  }
}

@media (max-width: 768px) {
  .option-container {
    max-width: 325px;
  }
}
