@import "styles/mixin";

.basic_header {
  width: 100%;
  height: 93px;
  background-color: var(--bg);
  margin: 0 auto;

  @include mobile {
    .Header_wrapper {
      padding: 10px 0 40px;
    }
  }
}

.fixed_header {
  width: 100%;
  height: 93px;
  background-color: var(--bg);
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;

  @include mobile {
    .Header_wrapper {
      padding: 10px 0 40px;
    }
  }
}
