.container {
  display: flex;

  justify-content: space-between;
  margin: 0 auto;
  column-gap: 2rem;
  width: calc(100% - 10rem);

  @media (min-width: 768px) {
    width: calc(100% - 14rem);
  }
  /* table2 */
  @media (min-width: 1124px) {
    width: calc(100% - 14rem);
  }

  /* descktop*/
  @media (min-width: 1200px) {
    width: 80%;
  }
}

.sub__container {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header" /* 1행: 4열 모두 header                */
    "main main . sidebar";

  @media (min-width: 768px) {
  }
  /* table2 */
  @media (min-width: 1124px) {
  }

  /* descktop*/
  @media (min-width: 1200px) {
    grid-template-areas: "whole favorite useful myplace new hire test ";
  }
}

.add__folder__button {
  display: none;
  @media (min-width: 768px) {
    display: inline;
  }
  /* table2 */
  @media (min-width: 1124px) {
    display: inline;
  }

  /* descktop*/
  @media (min-width: 1200px) {
    display: inline;
  }
}
.sub__container button:nth-child(1) {
  grid-area: "whole";
}

.sub__container button:nth-child(2) {
  grid-area: "favorite";
}

.sub__container button:nth-child(3) {
  grid-area: "useful";
}

.sub__container button:nth-child(4) {
  grid-area: "myplace";
}

.sub__container button:nth-child(5) {
  grid-area: "new";
}

.sub__container button:nth-child(6) {
  grid-area: "hire";
}

.sub__container button:nth-child(7) {
  grid-area: "test";
}
