@import './colors.css';

/* main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 3.2rem;
}

/* 카드리스트 */
.card-list {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 2rem;
}

@media (min-width: 768px) {
    main {
        margin: 4rem 0;
        gap: 4rem;
    }
    .card-list {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 2.5rem;
    }
}

/* 카드 */
.card-wrapper {
    width: 34rem;
    height: 33rem;
    flex-shrink: 0;
    border-radius: 15px;
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.16);
}

.card-image-box {
    width: 100%;
    height: 19.5rem;
    position: relative;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 100%;
    background: lightgray 50% / cover no-repeat;
    border-radius: 15px 15px 0 0;
    transition: 0.5s;
    object-fit: contain;
}

.card-image:hover {
    transform: scale(1.3);
}

.card-info-box {
    display: flex;
    width: 100%;
    height: 13.5rem;
    padding: 1.5rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.star-mark {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.card-info-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.card-passed-time {
    color: var(--gray06);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
