.card-list {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 2rem;
}

@media (min-width: 768px) {
  .container {
    margin: 4rem 0;
    gap: 4rem;
  }
  .card-list {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 4rem 0;
    gap: 4rem;
  }
  .card-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 2rem 2.5rem;
  }
}
