.card-wrapper {
    width: 32.5rem;
    height: 32.7rem;
    flex-shrink: 0;
    border-radius: 15px;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.08);

    @media (min-width: 768px) {
        width: 34rem;
        height: 33rem;
    }

}

.card-image-box {
    width: 100%;
    height: 19rem;
    position: relative;
    overflow: hidden;

    @media (min-width: 768px) {
        height: 19.7rem;
    }
}

.card-image {
    width: 100%;
    height: 100%;
    background: lightgray 50% / cover no-repeat;
    border-radius: 15px 15px 0 0;
    transition: 0.5s;
    object-fit: contain;
}

.card-image:hover {
    transform: scale(1.3);
}

.star-mark {
    width: 3rem;
    height: 3rem;

    @media (min-width: 768px) {
        width: 3.4rem;
        height: 3.4rem;
    }
}

.card-info-box {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1.5rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.card-info-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.card-passed-time {
    color: var(--gray06);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-info-description {
    font-size: 1.6rem;
    line-height: 2.4rem;
    height: 4.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.star-mark-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}
