.folder-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.folder-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}

.folder-avatar {
    border-radius: 47px;
    width: 4rem;
    height: 4rem;

    @media (min-width: 768px) {
        width: 6rem;
        height: 6rem;
    }
}

.folder-owner-name {
    font-size: 1.4rem;
    font-weight: 400;

    @media (min-width: 768px) {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

.folder-name {
    font-size: 3.2rem;
    font-weight: 600;
    letter-spacing: -0.2px;

    @media (min-width: 768px) {
        font-size: 4rem;
    }
}
