@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");





.list-button {
  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid #6d6afe;
  border-radius: 5px;
  height: 100%;
}


.list-button:hover {
  cursor: pointer;
  background-color: #6d6afe;
  color: #fff;
  
}

