@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
  margin: 0;
  font-size: 62.5%;
}

body {
  font-family: "Pretendard", "sans-serif";
  color: #373740;
  font-size: 1.4rem;
  font-weight: 400;
  max-width: 192rem;
  width: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 200px 32px;
  width: 100%;
  background-color: #f0f6ff
}

@media (max-width: 1123px) {
  .nav {
    padding-left: 32.5px;
    padding-right: 32.5px;
  }
}

@media (max-width: 768px) {
  .nav {
    padding-top: 18px;
    padding-bottom: 17px;
  }
}

.nav-inform {
  display: flex;
  gap: 6px;
  align-items: center;
}

.nav-inform > img {
  width: 28px;
  height: 28px;
  border-radius: 47px;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 192rem;
  width: 100%;
  margin-bottom: 40px;
  background-color: #f0f6ff
}

.header-section.user{
  padding-top: 2rem;
  padding-bottom: 6rem;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 768px) {
  .header-section .user {
    padding-top: 1rem;
    padding-bottom: 4rem;
    margin-bottom: 20px;
  }
}

.header-section.folder{
  padding-top:6rem;
  padding-bottom: 9rem;
}

.link-search-box{
  padding : 16px 20px;
  width: 800px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #6D6AFE;
}

.link-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.link-input-box{
  display: flex;
  justify-content: space-between;
  gap :12px;
}

.link-input-box > input {
  color: #9fa6b2;
  border: none;
  font-size: 1.6rem;
}

.link-box > button {
  padding: 10px 16px;
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border: none;
  color : #fff;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

@media (max-width: 768px) {
  .profile {
    gap: 10px;
  }
}

.profile > img {
  width: 60px;
  height: 60px;
  width: 100%;
}

.title {
  color: #000;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}

.article {
  display: flex;
  justify-content: center;
  width: 100%;
}

.article-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 768px) {
  .article-section {
    gap: 32px;
  }
}

.search-box {
  padding: 15px 16px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .search-box {
    padding: 13px 16px;
  }
}

.search-box > input {
  border: none;
  background-color: #f5f5f5;
}

.card-button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}

.card-button-box > span {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #6d6afe;
  text-align: center;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.card-button {
  display: flex;
  gap : 8px;
  list-style: none;
  padding-inline-start: 0px;
}

.list-button {
  padding : 8px 12px;
  background-color: #fff;
  border: 1px solid #6d6afe;
  border-radius: 5px;
  height: 100%;
}

.list-button:hover{
  cursor: pointer;
  background-color: #6d6afe;
  color: #fff;
}

.card-container {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 20px 25px;
}

@media (max-width: 1123px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 25px;
  }
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

.card {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  border-radius: 18px 18px 15px 15px;
  width: 340px;
  height: 334px;
  cursor: point;
  color: black;
  text-decoration: none;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.5s; /*부드럽게*/
  border: 2px solid #6d6afe;
}

.card-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 20px;
}

.description {
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-option{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-option > img {
  width: 21px;
  height: 17px;
}

.card-image-container {
  width: 340px;
  height: 200px;
  position: relative;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}

.star {
  position: absolute;
  top: 15px;
  right: 15px;
}

.footer {
  width: 100%;
  padding: 32px 104px 64px;
  background-color: #111322;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .footer {
    padding: 32px 32px 64px;
    margin-top: 40px;
  }
}

.footer-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #676767;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.sns {
  display: flex;
  gap: 12px;
}

.sns > a {
  text-decoration: none;
  color: #676767 !important;
}

.sns > a:visited,
.sns > a:hover {
  color: #0000ff;
}
