.section-title-first {
    background-color: #F0F6FF;
    width: 100%;
    height: 244px;
}

.section-title-inner {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icon-wrap {
    width:60px;
    height: 60px;
    margin: 20px 0 12px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--primary-purple-70); */
}

.icon-wrap img {
    width: 100%;
    border-radius: 50%;
}
/* section2 */
.section-title-inner h4 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.section-title-inner h3 {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000;
    margin-top: 20px;
}

.section-title-second {
    width: 100%;
    max-width: 1060px;
    margin:40px auto;
}

.search-inner-box {
    background-color: #F5F5F5;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-inner-box img {
    flex-basis: 16px;
}

.search-inner-box input {
    margin-left: 10px;
    height:24px;
    width: 100%;
    border:0;
    outline: 0;
    background-color: #F5F5F5;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    color:#666;
}

/* section3 */
.section-title-third {
    width: 100%;
    max-width: 1060px;
    margin:0 auto;
}
.section-title-third-inner {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap:25px 20px;
}

.section-title-third-inner a {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 15px;
    max-width: 340px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}

.card-img-wrap{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
  }
  
  .card-img-wrap .logoImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .card:hover .card-img {
    transform: scale(130%);
    transition: 1s;
  }
  
  .card:hover .card-inpormation {
    background: var(--linkbrary-bg)
  }

.card-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-img img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-inpormation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 15px 20px;
    
}

.card-inpormation .time {
    color: #666;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-inpormation p {
    overflow: hidden;
    /* 2줄이상 긴텍스트 생략 */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /*  */
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.card-inpormation .day {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #333; 
}

@media screen and (max-width: 1200px) {
    .section-title-second {
        padding: 0 32px;
        max-width: 765px;
    }
    .section-title-third{
        padding: 0 32px;
        max-width: 765px;
    }
}

@media screen and (max-width: 770px) {
    .section-title-second {
        max-width: 390px;
    }
    .section-title-third{
        max-width: 390px;
    }
}

