.root {
  display: flex;
  width: 80%;
  padding: 15px 16px;
  gap: 1rem;
  border-radius: 10px;
  background: #f5f5f5;
  margin: 4rem auto 4rem;
}
input {
  border: none;
  background: #f5f5f5;
}
input:focus {
  outline: none;
}
