.root {
  display: flex;
  width: 100%;
  padding: 1.2rem 1.4rem;
  margin-top: 3.2rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray3);
  background: var(--gray2);
}

.imageContainer {
  width: 4.2rem;
  height: 4.2rem;
  position: relative;
}

.title {
  color: var(--gray5);
  font-size: 1.4rem;
}

.icon {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}
