br.tablet {
  display: none;
}

br.mobile {
  display: none;
}

br.pc {
  display: inline;
}

.button {
  padding: 1.6rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--gray-light);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
  border-radius: 0.8rem;
  background: var(--gra-blue-to-skyBlue);
  display: flex;
  cursor: pointer;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

nav {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 20rem;
  background: var(--gray-five);
  position: sticky;
  top: 0;
}

nav .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  flex: 0 1 192rem;
}

#logo {
  width: 13.3rem;
  height: 2.4rem;
  cursor: pointer;
}

nav .button {
  width: 12.8rem;
  margin: 0;
}

.preview {
  display: flex;
  padding: 7rem 36rem 0 36rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 4rem;
  background: var(--gray-five);
  margin-bottom: 12rem;
}

.title {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem; /* 125% */
  margin: 0;
  width: 70.8rem;
  height: 16rem;
}

.title #gra-blue-to-pink {
  background: var(--gra-blue-to-pink);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.preview .button {
  width: 35rem;
  margin: 0;
}

.preview img {
  width: 120rem;
  height: 59rem;
}

.content {
  display: flex;
  padding: 5rem 46.1rem;
  justify-content: center;
  align-items: center;
  gap: 0 15.7rem;
}

.content.reverse-type {
  flex-direction: row-reverse;
}

.content h2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.03rem;
  margin: 0px;
  width: 29.1rem;
}

.text-gradation {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

#gra-pink-to-skyBlue {
  background-image: var(--gra-pink-to-skyBlue);
}

#gra-skyBlue-to-yellow {
  background-image: var(--gra-skyBlue-to-yellow);
}

#gra-blue-to-darkGreen {
  background-image: var(--gra-blue-to-darkGreen);
}

#gra-hotpink-to-skyBlue {
  background-image: var(--gra-hotpink-to-skyBlue);
}

h4 {
  color: #6b6b6b;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%; /* 24px */
  margin: 0px;
}

.content .text {
  display: flex;
  width: 29.1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin: 0;
}

.content img {
  flex-basis: 55rem;
  height: 45rem;
  float: right;
}

footer {
  margin-top: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
  width: 100%;
  padding: 3.2rem 10.4rem 6.4rem 10.4rem;
  flex-shrink: 0;
  background: var(--black);
  position: relative;
}

div.footer {
  display: flex;
  flex: 0 1 192rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

footer {
  font-family: Arial;
  font-size: 1.6rem;
  font-weight: 400;
}

footer #codeit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  color: #676767;
  text-align: center;
}

footer .info {
  display: flex;
  width: 18.1111rem;
  align-items: flex-start;
  gap: 3rem;
}

footer .info a {
  color: #cfcfcf;
}

footer .website {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
}

@media (max-width: 1199px) {
  br.pc {
    display: none;
  }
  
  br.tablet {
    display: inline;
  }

  nav {
    padding: 2rem 3.2rem;
  }

  div.header {
    width: 74.9rem;
    flex: 0 1 74.9rem;
  }

  .title {
    width: 47.2rem;
    height: 24rem;
  }

  .preview {
    padding: 3.9rem 25rem 0;
    margin-bottom: 8rem;
  }
  
  .preview img {
    width: 69.8rem;
    height: 34.3rem;
  }

  .content {
    padding: 5rem 25rem;
    gap: 0 5.1rem;
  }

  .content img {
    width: 38.5rem;
    height: 31.5rem;
  }

  .content .text {
    width: 26.2rem;
  }
}

@media (max-width: 767px) {
  br.tablet {
    display: none;
  }

  br.mobile {
    display: inline;
  }

  nav {
    padding: 1.3rem 3.2rem;
    top: 0;
  }

  #logo {
    height: 1.6rem;
    width: auto;
  }

  .button {
    font-size: 1.4rem;
    padding: 1rem 1.6rem;
  }

  nav .button {
    width: 8rem;
    margin: 0;
  }

  .title {
    font-size: 3.2rem;
    line-height: 4.2rem;
    width: auto;
    height: 12.6rem;
  }

  .preview {
    padding: 2.8rem 3.2rem;
    gap: 2.4rem;
    margin-bottom: 4rem;
    width: 100%;
  }

  .preview .button {
    width: 20rem;
    margin: 0;
  }

  .preview img {
    width: 100%;
    height: auto;
  }

  .content {
    position: relative;
    padding: 4rem 3.2rem 8rem 3.2rem;
    gap: 1.6rem;
    flex-direction: column;
  }

  .content.reverse-type {
    flex-direction: column;
  }

  .content .text {
    gap: 1rem;
    width: 100%;
    order: 2;
  }

  .content h2 {
    position: absolute;
    font-size: 2.4rem;
    top: 0;
  }

  .content h4 {
    font-size: 1.5rem;
    width: 10
  }

  .content img {
    width: 100%;
    height: auto;
    flex-basis: auto;
    order: 1;
  }

  footer {
    margin-top: 8rem;
    padding: 3.2rem;
  }

  div.footer {
    flex: 0 1 192rem;
    align-items: flex-start;
  }

  footer #codeit{
    position: absolute;
    bottom: 3.2rem;
    left: 3.2rem;
  }
}
