body {
  color: var(--black);
  font-family: Pretendard;
  font-style: normal;
  margin: 0;
}

.button {
  padding: 1.6rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--gray-light);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  background: var(--linkbrary-gradation);
  display: flex;
  cursor: pointer
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 2rem 20rem;
  background: var(--gray-five);
  position: sticky;
  top: 0;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  flex: 0 1 1920px;
}

#logo {
  width: 13.3rem;
  height: 2.4rem;
  cursor: pointer
}

nav .button{
  width: 12.8rem;
  margin: 0;
}

.preview{
  display: flex;
  padding: 7rem 36rem 0 36rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 4rem;
  background: var(--gray-five);
  margin-bottom: 12rem;
}

.title{
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem; /* 125% */
  margin: 0;
}
.title .highlight{
  background: var(--gra-blue-to-pink);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.preview .button{
  width: 35rem;
  margin: 0;
}

.preview img{
  width: 120rem;
  height: 59rem;
}

.content {
  display: flex;
  padding: 5rem 46.1rem ;
  justify-content: center;
  align-items: center;
  gap: 0 15.7rem
}

.content h2{
  font-size: 4.8rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.03rem;
  margin: 0px;
  width: 29.1rem;
}

#gra-pink-to-skyblue{
  background: var(--gra-pink-to-skyblue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#gra-skyblue-to-yellow{
  background: var(--gra-skyblue-to-yellow);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#gra-blue-to-darkgreen{
  background: var(--gra-blue-to-darkgreen);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#gra-hotpink-to-skyblue{
  background: var(--gra-hotpink-to-skyblue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 

h4{
  color: #6B6B6B;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%; /* 24px */
  margin: 0px
}

.content .text{
  display: flex;
  width: 29.1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin: 0;
}

.content img{
  flex-basis: 55.0rem;
  height: 45.0rem;
  float: right;
}


footer{
  margin-top: 12.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16.0rem;
  width: 100%;
  padding: 3.2rem 10.4rem 6.4rem 10.4rem;
  flex-shrink: 0;
  background: var(--black);
}
div.footer{
  display: flex;
  flex: 0 1 1920px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

footer{
  font-family: Arial;
  font-size: 1.6rem;
  font-weight: 400;
}

footer #codeit{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  color: #676767;
  text-align: center;
}

footer .info{
  display: flex;
  width: 18.1111rem;
  align-items: flex-start;
  gap: 3.0rem;
}

footer .info a{
  color: #CFCFCF;
}

footer .website{
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
}