body{
  padding-top: 23.8rem;
  padding-bottom: 11.6rem;
}

.body1-regular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3.2rem;
  color: var(--black, #000);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.body1-regular .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.body1-regular #logo {
  width: 210.583px;
  height: 38px;
}

.body1-regular .head .move-to-signin {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 1.6rem;
}

.body1-regular .head .move-to-signin a{
  color: var(--primary);
  text-decoration: none;
}

.body1-regular .head .move-to-signin a:hover{
  text-decoration: underline;
}