body{
  padding-top: 23.8rem;
  padding-bottom: 25.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.regular-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  color: var(--black, #000);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.regular-login .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.regular-login #logo {
  width: 210.583px;
  height: 38px;
}

.regular-login .head .move-to-signup {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 1.6rem;
}

.regular-login .head .move-to-signup a{
  color: var(--primary);
  text-decoration: none;
}

.regular-login .head .move-to-signup a:hover{
  text-decoration: underline;
}

input {
  display: flex;
  width: 40rem;
  padding: 1.8rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray-three, #CCD5E3);
  background: var(--white, #FFF);
  margin-top: 1.2rem;
}

input:focus {
  outline: 0.1rem solid var(--primary, #6D6AFE) !important;
}

.signin-field .text, .social-login .text {
  font-size: 1.4rem;
}

.button {
  display: flex;
  width: 40rem;
  padding: 1.6rem 2.0rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.8rem;
  background: var(--linkbrary-gradation);
  cursor: pointer;
}

.button .text{
  color: var(--gray-light, #F5F5F5);
  font-size: 1.8rem;
  font-weight: 600;
}

.button .text:hover{
  text-decoration: underline;
}


.social-login {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;

  border-radius: 8px;
  border: 1px solid var(--gray-three, #CCD5E3);
  background: var(--gray-four, #E7EFFB);
}

.social-login .social-login-icons {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.icon {
  width: 42px;
  height: 42px;
}

.input-container{
  position: relative;
}

.eye-off{
  padding-right: 15px;
  position: absolute;
  right: 0px;
  bottom: 18px;
  cursor: pointer;
}