#footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 16rem;
  padding-top: 3.2rem;
  background-color: #111322;
}

.footerBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 192rem;
  height: fit-content;
  padding: 0 10.4rem;
}

.copyright {
  color: var(--linkbrary-footer-copyright);
  font-family: Arial;
  font-size: 1.6rem;
}

.footerLinks {
  display: flex;
  column-gap: 3rem;
  padding-right: 1.8rem;
}

.footerLink {
  color: var(--linkbrary-footer-text);
  font-family: Arial;
  font-size: 1.6rem;
  position: relative;
  text-decoration: none;
}

.sns {
  display: flex;
  column-gap: 1.2rem;
  height: 2rem;
}

.snsIcon:hover {
  transform: scale(1.4);
  transition: transform 0.3s ease-in-out;
}

/* Footer Interactive Style */
.footerLink::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.footerLink:hover {
  transform: scale(1.1);
}

.footerLink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* Mobile */
@media screen and (max-width: 767px) {
  #footer {
    padding: 3.2rem;
  }

  .footerBox {
    display: grid;
    grid-template:
      "footer-text sns"
      "copyright ."
      /18.1rem 14.5rem;
    row-gap: 6rem;
    padding: 0;
  }

  .copyright {
    grid-area: copyright;
  }

  .footerLinks {
    grid-area: footer-text;
  }

  .sns {
    grid-area: sns;
  }
}
