footer {
  display: flex;
  flex-direction: column;
}

.footer-container {
  height: 160px;
  background: var(--black_color);
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  width: 100%;
  height: 24px;
  margin: 32px 104px 64px;
  justify-content: space-between;
  align-items: center;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-copyright {
  color: #676767;
}

.footer-policy-faq {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer-policy-faq a {
  color: #cfcfcf;
  text-decoration: none;
}

.footer-logo-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.footer-logo-link a {
  width: 20px;
  height: 20px;
}

a:hover {
  cursor: pointer;
}


@media (max-width:768px) {
  
  .footer-content {    
    margin: 32px 32px 64px;   
    position: relative;
  }
  
  .footer-copyright {
    position: absolute;
    left: 0;
    top: 7.8rem;
  }
}