/* -- footer -- */
.footer {
  display: flex;
  height: 160px;
  padding: 32px 104px 64px 104px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  margin-top: 60px;
  background: #111322;
}

#footer-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#label-container {
  display: flex;
  width: 181.111px;
  align-items: flex-start;
  gap: 30px;
}

.footer-label {
  color: #cfcfcf;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#sns-container {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.sns-icon {
  width: 20px;
  height: 20px;
  text-decoration: none;
  color: #ffffff;
}

#copyright {
  color: #676767;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
