.footer {
  padding-top: 120px;
}

.footer-content {
  align-self: stretch;
  height: 160px;
  padding: 32px 104px;
  background: var(--color-black-10);
}

.footer .section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer .section_1 {
  display: flex;
  justify-content: flex-start;
}

.footer .footer-content .section .section_1 p {
  margin: 0;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #676767;
  text-align: center;
}

.footer .section_2 {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.footer .footer-content .section .section_2 p {
  margin: 0;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #cfcfcf;
}

.footer .footer-content .section .section_3 {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.footer .footer-content .section .section_3 .icon {
  width: 20px;
  height: 20px;
}

/* mobile */

@media (min-width: 375px) {
  @media (max-width: 767px) {
    .footer {
      padding-top: 40px;
    }

    .footer-content {
      padding: 32px;
    }

    .footer .section {
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 60px;
    }

    .footer .section_1 {
      display: flex;
      justify-content: flex-start;
      grid-row: 2;
      grid-column: 1;
    }

    .footer .section_2 {
      display: flex;
      gap: 30px;
      justify-content: flex-start;
    }
  }
}

/* Tablet */

@media (min-width: 768px) and (max-width: 1199px) {
}

/* Desktop */

@media (min-width: 1200px) {
}
