footer {
  background-color: #111322;
  width: 100%;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  max-width: 192rem;
  height: 16rem;
  padding: 3.2rem 10.4rem;
}

.copyright {
  color: #676767;
  font-family: Arial;
  font-size: 1.6rem;
}

.footer_links {
  display: flex;
  column-gap: 3rem;
}

.footer_links > a {
  color: #cfcfcf;
  font-family: Arial;
  font-size: 1.6rem;
}

.footer_sns {
  display: flex;
  column-gap: 1.2rem;
  height: 2rem;
}

@media (max-width: 767px) and (min-width: 375px) {
  .footer_content {
    flex-wrap: wrap;
    gap: 6rem 0;
    height: auto;
    padding: 3.2rem;
  }

  .copyright {
    order: 1;
  }

  .footer_links {
    flex-basis: 50%;
  }

  .footer_sns {
    flex-basis: 50%;
    justify-content: end;
  }
}
