.folder-tag-list {
  width: 100%;
}

.folder-tags-container {
  width: 60%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.folder-name-button {
  padding: 1rem;
  white-space: nowrap;
  border-radius: 10px;
  background-color: white;
  border: 1px solid var(--color-primary);

  &:hover {
    background-color: var(--linkbrary-bg, #f0f6ff);
  }
}

.clicked {
  background-color: var(--color-primary);
  color: white;
}

@media (min-width: 1124px) {
  .folder-tags-container {
    width: 1060px;
    margin: auto;
  }
}
