@import "sharing/styles/global.scss";

.container {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}

.image {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.email {
  display: none; // <- 모바일
  font-size: 1.4rem;
  color: var(--gray100);

  @include tablet {
    // < - 타블렛 이상일때는 이게
    display: inline;
  }
}
