@import "commons/styles/global.scss";

.wrapper {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  padding: 3.2rem 4rem;
  z-index: 999;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  background-color: white;
  border-radius: 10px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.title-section {
  color: var(--linkbrary-gray-100, #373740);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.description-section {
  text-align: center;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
