footer {
  background: var(--black);
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

footer > .contentContainer {
  height: 6.4rem;
  align-items: flex-start;
  max-width: 171.2rem;
  padding: 3.2rem 10.4rem 6.4rem;
}

#leftItem {
  color: #676767;
  text-align: center;
}

.footerItem {
  font-family: Arial;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6rem;
}

#centerItemContainer {
  display: flex;
  gap: 3rem;
}

.centerItem {
  cursor: pointer;
  color: #cfcfcf;
}

#snsItemContainer {
  display: flex;
  gap: 1.2rem;
}

#snsItemContainer > a {
  height: 2rem;
}

#snsItemContainer img {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

@media (max-width: 767px) {
  footer {
    padding: 3.2rem;
  }

  footer .contentContainer {
    height: 9.6rem;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #leftItem {
    text-align: start;
    order: 3;
    align-self: flex-end;
  }

  #snsItemContainer {
    justify-content: flex-end;
  }
}
