header {
  display: flex;
  background: var(--background);
  padding: 2rem 20rem;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  justify-content: center;
  min-height: 9.4rem;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 152rem;
}

#logoImg {
  cursor: pointer;
  height: 2.4rem;
}

.defaultBtn {
  border-radius: 0.8rem;
  background: linear-gradient(91deg, var(--primary) 0.12%, #6ae3fe 101.84%);
  color: #f5f5f5;
  padding: 1.6rem 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#loginBtn {
  width: 12.8rem;
}

.profileContainer {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.profileContainer img {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.profileContainer .profileEmail {
  color: var(--linkbrary-gray-100, #373740);
  font-size: 1.4rem;
  font-weight: 400;
}

@media (min-width: 768px) and (max-width: 1199px) {
  header {
    padding: 1.8rem 3.2rem;
  }
}

@media (max-width: 767px) {
  header {
    padding: 3.3rem;
  }

  #logoImg {
    height: 1.8rem;
  }

  .profileEmail {
    display: none;
  }
}
