@import "@/styles/global.scss";

.title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.logo {
  width: 21rem;
  height: 3.3rem;
  position: relative;
}

.title-description {
  font-size: 1.6rem;
}

.link {
  font-weight: 600;
  color: $color-primary;
  text-decoration: underline;
  text-underline-position: under;
}
