.root {
  display: grid;
  width: 100%;
  grid-template: auto / repeat(3, 1fr);
  justify-items: center;
  gap: 2.5rem 2rem;
}

@media (max-width: 1199px) {
  .root {
    grid-template: auto / repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .root {
    grid-template: auto / repeat(1, 1fr);
  }
}
