/* header */

.header {
    display: flex;
    flex-direction: row;
  
    justify-content: space-between;
    padding: 33px 200px;
  
    background: var(--linkbrary-bg, #f0f6ff);
  }
  
  .profile {
    display: flex;
    flex-direction: row;
  
    align-items: center;
  }
  
  .profile img {
    background-color: #6d6afe;
    padding: 9px;
    border-radius: 100%;
  
    margin-right: 6px;
  }
  