.header {
    position: fixed;
    top: 0;
    max-width: 192rem;
    width: 100%;
    margin: 0 auto;
    padding: 2.0rem 20.0rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero_sec {
    background-color: #F0F6FF;
}

.hero_sec__container {
    max-width: 192.0rem;
    width: 100%;
    margin: 0 auto;
    padding: 17.0rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 4.0rem;
}

.hero_sec__title {
    text-align: center;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 8.0rem;
}

.hero_sec__title .text--gradiant {
    background-image: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
}

.hero_sec__img {
    flex-shrink: 0;
    max-width: 111.8rem;
    width: 100%;
    height: 53.9rem;
    margin: 0 auto;
    border-radius: 2.5rem 2.5rem 0 0;
    background-image: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, #F0F6FF 124.76%), url("/asset/images/hero_sec.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

.service_explain {
    max-width: 192rem;
    width: 100%;
    margin: 0 auto;
    padding: 12.0rem 0 5.0rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15.7rem;
}

.service_explain__container {
    width: 29.1rem;
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
}

.service_explain__title {
    font-size: 4.8rem;
    font-weight: 700;
    letter-spacing: -0.3rem;
}

.service_explain__subtitle {
    color: #6B6B6B;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
}

.service_explain__img {
    width: 55rem;
    height: 45rem;
    border-radius: 1.5rem;
    background-color: #F0F6FF;
}

#manage_your_link,
#search_your_link {
    flex-direction: row-reverse;
}

#save_your_link .text--gradiant {
    background-image: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
}

#manage_your_link .text--gradiant {
    background-image: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
}

#share_your_link .text--gradiant {
    background-image: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
}

#search_your_link .text--gradiant {
    background-image: linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%);
}

.footer {
    padding-top: 12.0rem;
    font-family: Arial;
    text-align: center;
}

.footer__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 16.0rem;
    padding: 3.2rem 10.4rem 6.4rem 10.4rem;
    background: #111322;
}

.footer__copyright {
    color: #676767;
    font-size: 1.6rem;
}

.footer__privacy {
    color: #CFCFCF;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
}

.footer__privacy a {
    display: block;
    width: 10.0rem;
}

.footer__social_media {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}