html {
    background-color: #F0F6FF;
}

body {
    width: 40rem;
    margin: 23.8rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

.header__subtitle {
    gap: 0.8rem;
    font-size: 1.6rem;
    display: flex;
    align-items: flex-start;
}

.main {
    width: 100%;
    margin-top: 3rem
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;
}

.form--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
    width: 100%;
}

.form--label {
    color: #000;
    font-size: 1.4rem;
}

.form--input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.8rem 1.5rem;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--gray3);
    background: var(--white);
}

.form--input:focus-within {
    border: 0.1rem solid var(--primary)
}

.input--container {
    border: none;
    flex: 1;
}

.input--container:focus {
    outline: none;
}

.input--eyes {
    width: 1.6rem;
    height: 1.6rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.input--eyes__off {
    background-image: url('/asset/images/eye-off.svg');
}

.input--eyes__on {
    background-image: url('/asset/images/eye-on.svg');
}

.form--btn {
    margin-top: 0.6rem;
}

.footer {
    display: flex;
    width: 100%;
    padding: 1.2rem 1.4rem;
    justify-content: space-between;
    align-items: center;
}