@import "../../../commons/styles/global.scss";

.kebab-button {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 33%;
  right: 1rem;
  z-index: 10;
}

.parent-kebab {
  display: relative;
}

.kebab-menu {
  position: absolute;
  right: -7rem;
  bottom: 4rem;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  overflow: hidden;
  z-index: 999;
  box-shadow: 3px 3px 3px 3px var(--color-gray2);
  & button {
    padding: 1rem;
    width: 100%;
    height: 100%;
  }
  & button:hover {
    color: var(--color-primary);
    background: var(--color-linkbrary);
  }
}
