/* Common */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Pretendard, sans-serif;
}

ul {
  margin: 0;
  list-style: none;
  padding-left: 0px;
}

a {
  text-decoration: none;
}
