/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-primary-varient);
}

.header__container {
  padding: 1.25rem 12.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  cursor: pointer;
}

.header__login__btn {
  padding: 1rem 1.25rem;
  width: 128px;
  border: none;
  border-radius: 0.5rem;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--color-white);
  font-size: var(--font-small);
  font-weight: var(--font-semibold);
  cursor: pointer;
}

/* Hero */
.hero {
  text-align: center;
  background-color: var(--color-primary-varient);
}

.hero__title {
  padding-top: 160px;
  margin: 0;
  font-size: var(--font-large);
  text-align: center;
  white-space: nowrap;
}

.title__gradient {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero__link {
  padding: 40px 0;
}

.hero__link__btn {
  width: 350px;
  padding: 1rem 1.25rem;
  background: var(--gra-purpleblue-to-skyblue);
  border-radius: 0.5rem;
  border: none;
  color: var(--color-white);
  font-size: var(--font-small);
  font-weight: var(--font-semibold);
  cursor: pointer;
}

.hero__image {
  width: 1200px;
  height: 590px;
  display: block;
  margin: auto;
}

/* Contents */
.contents {
  padding: 120px 0;
}

.content {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  row-gap: 12px;
  column-gap: 157px;
  width: 998px;
  height: 550px;
  margin: auto;
}

.content__info__title {
  grid-row: 2 / 3;
  margin: 0;
  font-size: var(--font-medium);
}

.content:nth-child(even) .content__info__title {
  grid-column: 2 / 3;
}

.content__info__description {
  grid-row: 3 /4;
  margin: 0;
  color: var(--color-text);
  line-height: 1.5rem;
}

.content:nth-child(even) .content__info__description {
  grid-column: 2 / 3;
}

.content__image {
  grid-row: span 4;
}

/* Content Text Gradient */
.content__gradient__link {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.content__gradient__create {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.content__gradient__share {
  background: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.content__gradient__search {
  background: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Footer */
.contact {
  height: 160px;
  background-color: var(--color-black);
}

.contact__container {
  height: 100%;
  padding: 2rem 6.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1920px;
  margin: auto;
}

.contact__rights {
  color: #676767;
}

.contact__policy {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contact__policy--text {
  color: #cfcfcf;
  text-decoration: none;
}

.contact__links {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .max-container {
    max-width: 863px;
  }

  .header__container {
    padding: 1.25rem 2rem;
  }

  .hero__title--line {
    display: flex;
    flex-direction: column;
  }

  .hero__image {
    width: 698px;
    height: 343px;
  }

  .contents {
    padding-top: 30px;
  }

  .content {
    width: 698px;
    height: 415px;
    column-gap: 51px;
  }

  .content__image {
    width: 385px;
    height: 315px;
  }

  .contact__container {
    max-width: none;
  }
}

/* Mobile */
@media only screen and (min-width: 375px) and (max-width: 767px) {
  .header__logo {
    width: 5.5rem;
    height: 1rem;
  }

  .header__container {
    padding: 13px 2rem;
  }

  .header__login__btn {
    width: 80px;
    padding: 10px 1rem;
    font-size: 14px;
  }

  .hero__title {
    padding-top: 91px;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .hero__title--line {
    display: flex;
    flex-direction: column;
  }

  .hero__link {
    padding: 1.5rem 0;
  }

  .hero__link__btn {
    width: 200px;
    padding: 10px 1rem;
    font-size: 14px;
  }

  .hero__image {
    width: 325px;
    height: 160px;
  }

  .contents {
    padding-top: 0;
    padding-bottom: 2.5rem;
  }

  .content {
    width: 100%;
    height: 100%;
    padding: 2.5rem 2rem;
  }

  .content__info__title {
    font-size: 24px;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  .content:nth-child(even) .content__info__title {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  .content__info__description {
    font-size: 15px;
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    word-break: keep-all;
  }

  .content:nth-child(even) .content__info__description {
    font-size: 15px;
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    word-break: keep-all;
  }

  .content__image {
    width: 100%;
    grid-row: 2 / span 2;
    grid-column: 1 / 3;
  }

  .contact__container {
    height: 100%;
    padding: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__rights {
    grid-row: 5;
    grid-column: 1 / 2;
  }

  .contact__policy {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-content: flex-start;
    align-items: baseline;
  }

  .contact__links {
    grid-column: 2 / 3;
    align-items: baseline;
  }
}
