@import "@/styles/global.scss";

.container {
  position: fixed;
  bottom: 101px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $FLOATING_BUTTON_ZINDEX;
  @include tablet {
    position: absolute;
    top: 450px;
    height: 0;
  }
}

.folder-maker-button {
  z-index: $FLOATING_BUTTON_ZINDEX;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
  background-color: var(--color-primary);
  padding: 8px 24px;
  border-radius: 20px;
  color: white;
  gap: 20px;

  @include tablet {
    color: var(--color-primary);
    background-color: transparent;
    position: absolute;
    right: 4rem;
  }
}
