/* footer */
.footer {
    width: 100%;
    height: 160px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    padding: 32px 104px 64px;
  
    color: #676767;
    background: #111322;
  }
  
  .icons a {
    margin-left: 12px;
  }
  