form .password-visible {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-60%);
  cursor: pointer;
}

form .signup-btn {
  padding: 1rem 1.25rem;
  align-items: center;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  font-size: 1rem;
  font-weight: 600;
  color: #f5f5f5;
  border: none;
  cursor: pointer;
}