@import '@/styles/global.scss';

.sign-input-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.sign-input-label {
  color: $color-black;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 1.5rem;
}

.sign-input {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid $color-gray20;
  background: $color-white;

  &:focus {
    border: 1px solid $color-primary;
  }
}

.error {
  border: 1px solid $color-red;
}

.error-message {
  color: $color-red;
  font-size: 1.4rem;
  font-weight: 400;
}
