.section {
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.search-section {
  width: 90%;
}

.card-section {
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .card-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .search-section {
    min-width: 30rem;
  }
}

@media (min-width: 1124px) {
  .card-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
}
