@import url(styles/globalStyles.css);

.header__navbar {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.navbar__userImage {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .max-container {
    max-width: 863px;
  }

  .header__container {
    padding: 1.25rem 2rem;
  }
}

/* Mobile */
@media only screen and (min-width: 375px) and (max-width: 767px) {
  .header__logo {
    width: 5.5rem;
    height: 1rem;
  }

  .header__container {
    padding: 0.8rem 2rem;
  }

  .header__login__btn {
    width: 5rem;
    padding: 0.625rem 1rem;
    font-size: 0.875rem;
  }

  .navbar__userEmail {
    display: none;
  }
}
