@import "./reset.css";

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family:
    Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  word-break: keep-all;
  word-wrap: break;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
