@import "./global.css";

body{
    display: flex;  
    align-items: center;
    flex-direction: column;
}

nav {
    padding: 2rem 20rem;
    position: sticky;
    top: 0;        
    width: 100%;
    background-color: var(--linkbrary-bg);
}

.gnb{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 192rem;  
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background-image: linear-gradient(135deg, var(--primary) 0%, #6ae3fe 100%);
    font-size: 1.8rem;
    font-weight: 600;
    color: #f5f5f5;
    cursor: pointer;
    border-radius: 0.8rem;
    text-decoration: none;
  }
  
  .cta--short {
    width: 12rem;
  }
  
  .cta--long {
    width: 35rem;
  }

.gnb__logo {    
    width: 8.3125rem;
    height: 1.5rem;
}

.intro {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 4.375rem 2rem 0rem 2rem;
    background-color: var(--linkbrary-bg);
}

.intro__title {
    gap: 0rem;
    font-family: Pretendard;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5rem; /* 125% */
    text-align: center;
}

.intro__title-color{    
    background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro__add-link {
    display: flex;
    gap: 0.625rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.25rem;
    width: 21.875rem;
    background: var(--gra-purpleblue-to-skyblue);
    font-family: Pretendard;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--grey-light);
    border-radius: 0.5rem;
    text-decoration-line: none;
}

.intro__img {
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
    width: 69.875rem;
    height: 41.1875rem;
    border-radius: 1.5625rem;
}

.contents {
    display: flex;
    gap: 6.24rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 7.5rem 27rem;
}

.contents__container {
    display: flex;
    gap: 9.8125rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}



.container__article{
    display: flex;
    gap: 0.625rem;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    width: 16.5rem;
}

.container__article-title {
    font-family: Pretendard;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01875rem;    
}

.container__article-title-color-1 {
    background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container__article-title-color-2 {
    background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container__article-title-color-3 {
    background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container__article-title-color-4 {
    background: var(--fandom-k-gra-blue-to-pink);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container__article-content {
    align-self: stretch;
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 1.5rem */
    color: #6B6B6B;
}

.container__img{
    width: 34.375rem;
    height: 28.125rem;
    background: #F0F6FF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 0.9375rem;
}

#first_container .container__img{
    background-image: url(/images/image1.png);
}

#second_container .container__img{
    background-image: url(/images/image2.png);
}

#third_container .container__img{
    background-image: url(/images/image3.png);
}

#fourth_container .container__img{
    background-image: url(/images/image4.png);
}

footer {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    flex-direction: column;
    padding: 2rem 6.5rem 4rem 6.5rem;
    height: 10rem;
    background: var(--the-julge-black);
}

.footer__container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    padding: 0 6.5rem;
}

.footer__container-left-mobile{
    display: flex;
    justify-content: space-between;    
    flex: 1 1 auto;
}

.footer__container-left {
    font-family: Arial;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #676767;
    text-align: center;
}

.footer__container-center{
    display: flex;
    gap: 1.875rem;
    align-items: flex-start;
    flex-direction: row;    
}

.footer__container-center > a{
    font-family: Arial;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #CFCFCF;
    text-decoration: none;
}

.footer__container-right {
    display: flex;
    gap: 0.75rem;
    justify-content: flex-end;
    flex: 1 1 auto;
}

/*--타블렛 사이즈--*/

@media (max-width: 1199px) and (min-width:768px){

    nav {
        padding: 2rem 20rem;
        position: sticky;
        top: 0;        
        width: 100%;
        background-color: var(--linkbrary-bg);
    }

    .gnb{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 3.2rem;
        min-width: 30rem;
    }

    .intro__title-underline{
        display: inline-block;
        width: 25rem;
    }

    .intro__img {
        flex-shrink: 0;
        box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
        width: 40.64394rem;
        height: 23.94463rem;
        border-radius: 1.5625rem;
    }

    .contents__container {
        display: flex;
        gap: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .container__img {
        width: 24.0625rem;
        height: 19.6875rem;         
        background: #F0F6FF;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .footer__container-left-mobile{
        display: flex;
        justify-content: space-between;    
        flex: 1 1 auto;
    }
}

/*모바일 사이즈*/
/*최소 사이즈 필요 없음*/
@media (max-width: 767px){

    .contents {
        display: flex;
        gap: 4rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 7.5rem 3.2rem;
    }

    .contents__container {        
        display: flex;
        gap: 1.5rem;
        align-items: center;
        
        flex-direction: column;
        width: 100%;         
    }   

    .contents :nth-child(2n){
        display: flex;
        flex-direction: column-reverse;
    }

    .container__article{
        width: 100%;
    }

    .container__article-title{
        display: flex;
        gap: 1rem;
        width: 100%;
    }

    .container__img-wrap {
		padding-bottom: 100%;
		overflow: hidden;
        position: relative;
		width: 100%;
		height: 0;
    }
    
    .container__img { 
        position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
    }

    .footer__container-left-mobile{
        display: flex;  
        gap: 3.75rem;
        flex-direction: column-reverse;      
    }

    .footer__container-left {       
        text-align: start;        
    }

}