header {
  display: flex;
  justify-content: center; /* 가로 방향 가운데 정렬 */
  position: fixed;
  z-index: 1;
  width: 100%;
  background: var(--color-bg);
}

.header-content {
  display: flex;
  align-items: center; /*세로 정렬*/
  justify-content: space-between; /*가로 정렬*/
}

.logo {
  width: 133px;
  height: 24px;
  cursor: pointer;
}

.loginBtn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 16px 20px;
  border: none;
  width: 128px;
  background: var(--gra-purpleblue-to-skyblue);
  font-family: "Pretendard";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--color-grey-light);
  cursor: pointer;
  border-radius: 8px;
}

/* mobile */

@media (min-width: 375px) {
  .header-content {
    margin: 13px 32px;
    width: 100%;
  }

  @media (max-width: 767px) {
    .loginBtn {
      padding: 10px 16px;
      width: 80px;
      font-size: 14px;
    }

    .logo {
      width: 88.667px;
      height: 16px;
    }
  }
}

/* Tablet */

@media (min-width: 768px) and (max-width: 1199px) {
  .header-content {
    margin: 20px 0;
    padding: 0px 32px;
    width: 864px;
  }
}
