.search-bar-container {
  max-width: 1060px;
  border-radius: 10px;
  background: #f5f5f5;
  padding: 15px 16px;
  margin: 40px auto;
}

form {
  display: flex;
  align-items: center;
}

.search-input {
  border: none;
  background-color: transparent;
  margin-left: 10px;
}

.search-icon {
  position: relative;
  left: -30px;
  color: #b3b3b3;
}
