* {
    box-sizing: border-box;
}

html {
    /* 62.5% of 16px browser font size is 10px */
    /* 16px * 0.625 = 10px */
    font-size: 62.5%;
  }

:root {
    --linkbrary-bg: #F0F6FF;
    --gra-purpleblue-to-skyblue: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
    --grey-light: #F5F5F5;
    --fandom-k-gra-blue-to-pink: linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%);
    --the-julge-black: #111322;
    --Primary: #6D6AFE;
    --Red: #FF5B56;
    --Black-and-White: #111322 #FFFFFF;
    --Gray: #3E3E43 #9FA6B2 #CCD5E3 #E7EFFB #F0F6FF;
    --linkbrary-primary-color: #6D6AFE;
}

.login {
    display: flex;
    flex-direction: column;
    background: var(--linkbrary-bg);
    padding: 14.875rem 0rem 15.75rem 0rem;
    justify-content: center;
    align-items: center;
}

.login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

.login__container-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.login__logo {
    width: 13.16144rem;
    height: 2.375rem;
}

.login__text {
    color: var(--black, #000);    
    font-family: Pretendard;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    gap: 0.5rem;
}

.login__text-signup {
    color: var(--linkbrary-primary-color);
    /* Linkbrary/body 1-semibold */
    font-family: Pretendard;
    font-size: 1rem;
    font-weight: 600;
}

.login__container-center{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.login__input-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
}

.login__label {
    color: var(--black, #000);

    /* Linkbrary/body2-regular */
    font-family: Pretendard;
    font-size: 0.875rem;
    font-weight: 400;
}

.login__input {
    display: flex;
    width: 25rem;
    padding: 1.125rem 0.9375rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid var(--linkbrary-primary-color);
    background: var(--linkbrary-white, #FFF);
}

.login__container-button {
    display: flex;
    width: 25rem;
    padding: 1rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    background: var(--gra-purpleblue-to-skyblue);
    color: var(--grey-light, #F5F5F5);
    font-family: Pretendard;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
}

.sotial {
    margin-top: 2rem;
    display: flex;
    width: 25rem;
    padding: 0.75rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
    background: var(--linkbrary-gray-10, #E7EFFB);
}