* {
    box-sizing: border-box;
}

html {
    /* 62.5% of 16px browser font size is 10px */
    /* 16px * 0.625 = 10px */
    font-size: 62.5%;
  }


body{        
    background: var(--linkbrary-bg);
}

.login-wrap {
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 14.875rem 0rem 7.25rem 0rem;
}

.login__container {
    display: flex;
    gap: 1.875rem;
    align-items: center;
    flex-direction: column;
}

.login__container-header{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    width: 20rem;
}


.login__text {
    gap: 0.5rem;    
    font-family: Pretendard;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    color: var(--black, #000);
}

.login__text-signin {
    /* Linkbrary/body 1-semibold */
    font-family: Pretendard;
    font-size: 1rem;
    font-weight: 600;
    color: var(--Primary);
    text-decoration: none;
}

.login__container-main{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.login__input-box {
    display: flex;
    gap: 0.75rem;
    align-items: flex-start;
    flex-direction: column;
}

.login__label {
    font-family: Pretendard;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--black, #000);
}

.login__input {
    position: relative;    
}

.input{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.125rem 0.9375rem;
    border: 1px solid var(--linkbrary-primary-color);
    width: 40rem;
    background: var(--linkbrary-white, #FFF);
    border-radius: 0.5rem;
}

.login__input-img{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.login__container-button {
    display: flex;
    gap: 0.625rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.25rem;
    width: 40rem;
    background: var(--gra-purpleblue-to-skyblue);
    font-family: Pretendard;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--grey-light);
    text-decoration: none;
    border-radius: 0.5rem;
}

.login__container_sotial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
    border: 1px solid var(--linkbrary-gray-20);
    width: 40rem;
    background: var(--linkbrary-gray-10);    
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--linkbrary-gray-100);
    border-radius: 0.5rem;
}

/*아이콘 크기 조절 필요*/
.sotial_icons{
    gap: 1rem;   
    
}

.sotial_icons a {
    text-decoration: none;
}

