* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
:root {
  --mainColor: #6d6afe;
  --mainBackColor: #f0f6ff;
  --mainWhiteFont: #f5f5f5;
  --blackColor: #000;
}

.header {
  display: flex;
  padding: 20px 10vw 0;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background: var(--mainBackColor);
}

@media (max-width: 1199px) {
  .header {
    padding: 20px 32px 0;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 20px 32px 0;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.header__nav_a {
  color: var(--mainWhiteFont);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  width: 128px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: linear-gradient(91deg, var(--mainColor) 0.12%, #6ae3fe 101.84%);
  text-decoration: none;
}
.all {
  display: flex;
  flex-direction: column;
  gap: 120px;
}
@media (max-width: 767px) {
  .all {
    gap: 40px;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
@media (max-width: 767px) {
  main {
    gap: 80px;
  }
}

.header__content {
  display: flex;
  height: auto;
  padding-top: 70px;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  align-self: stretch;
  background: var(--mainBackColor);
}
@media (max-width: 767px) {
  .header__content {
    height: 650px;
  }
}
.header__content_div1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__content_div1_h1 {
  text-align: center;
  font-family: Pretendard;
  font-size: max(3.4vw, 32px);
  font-weight: 700;
  line-height: 80px; /* 125% */
  color: var(--blackColor);
  margin-top: 0;
}

.header__content_div2 {
  width: auto;
  height: 590px;
  padding: 50px 41px;
  overflow: hidden;
  background-size: cover;
}

.header__content_div2_img {
  width: auto;
  height: 659px;
  flex-shrink: 0;
  border-radius: 25px;
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 67.68%,
    var(--mainBackColor) 94.76%
  );
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}
@media (max-width: 767px) {
  .header__content_div2_img {
    width: 80vw;
    height: auto;
  }
}

.header__content_div1_h1_span {
  background: linear-gradient(91deg, var(--mainColor) 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__content_a {
  text-decoration: none;
  display: flex;
  width: 350px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, var(--mainColor) 0.12%, #6ae3fe 101.84%)
  );
  color: var(--mainWhiteFont);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main__content1_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'div1 img'
    'div2 img';
}
@media (max-width: 767px) {
  .main__content1_container {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: none;
    gap: 12px;
    padding: 0 32px;
    grid-template-areas:
      'div1'
      'img'
      'div2';
  }
}

.main__content1,
.main__content2,
.main__content3,
.main__content4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__content2_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: right;
  grid-template-areas:
    'img div1'
    'img div2';
}
@media (max-width: 767px) {
  .main__content2_container {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: none;
    gap: 12px;
    padding: 0 32px;
    text-align: left;
    grid-template-areas:
      'div1'
      'img'
      'div2';
  }
}

.content5 {
  margin-bottom: 120px;
}
@media (max-width: 767px) {
  .content5 {
    margin-bottom: 80px;
  }
}

.c2div1 {
  display: inline-flex;
  width: 300px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 767px) {
  .c2div1 {
    width: 90vw;
  }
}

.c3div1 {
  display: inline-flex;
  width: 300px;
  flex-direction: column;
  align-items: flex-first;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 767px) {
  .c3div1 {
    width: 90vw;
  }
}

.main__content1_div1 {
  color: var(--blackColor);
  font-family: Pretendard;
  font-size: max(2.2vw, 29px);
  font-weight: 700;
  letter-spacing: -0.3px;
  padding-top: 150px;
  grid-area: div1;
}
@media (max-width: 767px) {
  .main__content1_div1 {
    padding: 0;
    margin: 0;
    width: 90vw;
  }
  .main__content1_div1 br {
    display: none !important;
  }
}

.main__content1_div1_span1 {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main__content1_div1_span2 {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Pretendard;
  font-size: max(2.2vw, 29px);
  font-weight: 700;
}

.main__content1_div2 {
  position: relative;
  color: #6b6b6b;
  font-family: Pretendard;
  font-size: max(0.72vw, 15px);
  font-weight: 500;
  line-height: 150%; /* 24px */
  grid-area: div2;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .main__content1_div2 {
    margin-top: 0px;
    grid-row: 3;
  }
  .main__content1_div2 br {
    display: none !important;
  }
}

.main__content1_div3 {
  width: 550px;
  height: 450px;
  border-radius: max(0.72vw, 15px);
  background: var(--mainBackColor);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: -12px;
  overflow: hidden;
  grid-area: img;
}
@media (max-width: 767px) {
  .main__content1_div3 {
    width: 90vw;
    height: 60vw;
    gap: 0;
  }
}

.main__content1_div3_img {
  width: 279px;
  height: 274.927px;
}
@media (max-width: 767px) {
  .main__content1_div3_img {
    width: 40vw;
    height: 40vw;
  }
}

.main__content1_div3_img-down {
  position: absolute;
  bottom: 20%;
  right: 26%;
}
@media (max-width: 767px) {
  .main__content1_div3_img-down {
    width: 7vw;
    height: 7vw;
  }
}
.main__content2_div2 {
  color: var(--blackColor);
  font-family: Pretendard;
  font-size: max(2.2vw, 29px);
  font-weight: 700;
  letter-spacing: -0.3px;
  padding: 0;
  grid-area: div1;
  padding-top: 150px;
}
@media (max-width: 767px) {
  .main__content2_div2 {
    padding: 0;
    width: 90vw;
  }
  .main__content2_div2 br {
    display: none !important;
  }
}
.main__content2_div3 {
  color: #6b6b6b;
  font-family: Pretendard;
  font-size: max(0.72vw, 15px);
  font-weight: 500;
  line-height: 150%; /* 24px */
  grid-area: div2;

  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .main__content2_div3 {
    margin-top: 0;
    margin-bottom: 0;
    grid-row: 3;
  }
  .main__content2_div3 br {
    display: none !important;
  }
}
.main__content2_div1 {
  width: 550px;
  height: 450px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  padding: 114px 68px 66px;
  background: var(--mainBackColor);
  grid-area: img;
}
@media (max-width: 767px) {
  .main__content2_div1 {
    width: 90vw;
    height: 60vw;
  }
}
.main__content2_div1_img {
  width: 414px;
  height: 270px;
}

@media (max-width: 767px) {
  .main__content2_div1_img {
    margin: 0;
    width: 55vw;
    height: 37vw;
  }
}

.main__content2_div2_span {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Pretendard;
  font-size: max(2.2vw, 29px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.main__content3_div1_span {
  background: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Pretendard;
  font-size: max(2.2vw, 29px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main__content3_div1 {
  color: var(--blackColor);
  font-family: Pretendard;
  font-size: max(2.2vw, 29px);
  font-weight: 700;
  letter-spacing: -0.3px;
  padding-top: 150px;
  grid-area: div1;
}
@media (max-width: 767px) {
  .main__content3_div1 {
    padding: 0;
    margin: 0;
    width: 90vw;
  }
  .main__content3_div1 br {
    display: none !important;
  }
}
.main__content3_div2 {
  color: #6b6b6b;
  font-family: Pretendard;
  font-size: max(0.72vw, 15px);
  font-weight: 500;
  line-height: 150%; /* 24px */
  grid-area: div2;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .main__content3_div2 {
    margin-top: 0px;
    grid-row: 3;
  }
  .main__content3_div2 br {
    display: none !important;
  }
}
.main__content3_div3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 469px;
  border-radius: 14px;
  padding: 121px 77px 77px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url('img/image\ 25.png');
  background-position: center;
  background-size: cover;
  grid-area: img;
}
@media (max-width: 767px) {
  .main__content3_div3 {
    width: 90vw;
    height: 60vw;
  }
}
.main__content3_div3_div_img {
  width: 416px;
  height: 271px;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .main__content3_div3_div_img {
    width: 55vw;
    height: 37vw;
  }
}
.main__content3_div3_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__content4_div2_span {
  background: linear-gradient(271deg, #7dd4eb -9.84%, #99bad8 107.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Pretendard;
  font-size: max(2.2vw, 29px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main__content4_div1_img {
  width: 619px;
  height: 584px;
  flex-shrink: 0;
  border-radius: 14px;
}

.main__content4_div1 {
  width: 550px;
  height: 469px;
  border-radius: 14px;
  padding-left: 60px;
  padding-top: 55px;
  background: var(--mainBackColor);
  overflow: hidden;
  grid-area: img;
}
@media (max-width: 767px) {
  .main__content4_div1 {
    width: 90vw;
    height: 60vw;
  }
}
@media (max-width: 767px) {
  .main__content4_div1_img {
    width: 100vw;
    height: auto;
  }
}

.footer {
  display: flex;
  height: 160px;
  padding: 32px 104px 64px 104px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;

  background: #111322;
}
@media (max-width: 767px) {
  .footer {
    display: grid;
    padding: 32px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
@media (max-width: 767px) {
  .footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px 30px;
  }
}

.footer_div1 {
  color: #676767;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .footer_div1 {
    text-align: left;
  }
}

.footer_div2 {
  gap: 30px;
}
@media (max-width: 767px) {
  .footer_div2 {
    grid-row: 1;
    grid-column: 1;
  }
}

.footer_div2_a {
  text-decoration: none;
  color: #cfcfcf;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
}

.privacy {
  color: #cfcfcf;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
}

.faq {
  color: #cfcfcf;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
}

.footer_div3 {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
@media (max-width: 767px) {
  .footer_div3 {
    grid-row: 1;
    grid-column: 2;
    justify-content: right;
  }
}

/*******************************/
/*signin*/
.contsignin {
  display: flex;
  padding: 238px 0 252px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--mainBackColor);
}
.contdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
@media (max-width: 767px) {
  .contdiv {
    padding: 0 32px;
  }
}

.contdivup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.contdiv1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.clink {
  width: 210px;
}

.contdiv11span {
  color: var(--blackColor);
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.contdiv11a {
  color: var(--mainColor);
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  text-underline-position: under;
}
.contdiv2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contdiv21 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contdiv21div {
  color: var(--blackColor);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
}
.contdiv21inp {
  position: relative;
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
  background: #fff;
}
@media (max-width: 767px) {
  .contdiv21inp {
    width: max(52.2vw, 277px);
  }
}
.contdiv21inp:focus {
  border: 1px solid var(--mainColor);
  outline: none;
}
.inp {
  position: relative;
}
.inpeye {
  position: absolute;
  top: 18px;
  right: 15px;
}
.contdiv22 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 767px) {
  .contdiv22 {
    width: max(52.2vw, 277px);
  }
}
.contdiv3div {
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: linear-gradient(91deg, var(--mainColor) 0.12%, #6ae3fe 101.84%);
  color: var(--mainWhiteFont);
  font-family: Pretendard;
  font-size: 18px;

  font-weight: 600;
}
@media (max-width: 767px) {
  .contdiv3div {
    width: max(52.2vw, 277px);
  }
}
.contdivdown {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
  background: #e7effb;
}
@media (max-width: 767px) {
  .contdivdown {
    width: max(52.2vw, 277px);
  }
}
.contdivdown1 {
  color: #373740;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
}
.contdivdown2 {
  display: flex;
  gap: 16px;
}
.contdivdown21 {
  transform: translate(0%, 5%);
}
.contdivdown22 {
  transform: translate(0%, 7%);
}
@media only screen and (max-width: 767px) {
  .c2div1 br {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .c3div1 br {
    display: none !important;
  }
}
