header {
  margin-top: 9.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--linkbrary-bg);
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9.4rem;
  background-color: var(--linkbrary-bg);
  padding: 0 20rem;
}

.nav-box {
  width: 152rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
  padding-top: 7rem;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.4rem;
  cursor: pointer;
  background-image: var(--linkbrary-button-gradient);
  border-radius: 0.8rem;
  color: var(--linkbrary-button-text);
  font-size: 1.8rem;
  font-weight: 600;
}

.cta-short {
  width: 12.8rem;
}

.cta-long {
  width: 35rem;
}

.slogan {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem;
}

.slogan-gradient {
  background-image: var(--linkbrary-slogan-gradient);
}

.background-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero-image {
  width: 120rem;
  height: 59rem;
}

article {
  padding-top: 7rem;
  padding-bottom: 12rem;
}

section {
  display: grid;
  justify-content: center;
  column-gap: 15.7rem;
  row-gap: 1rem;
  width: 100%;
  height: 55rem;
  padding: 50px 0;
}

section:nth-of-type(odd) {
  grid-template:
    ". image"
    "title image"
    "description image"
    ". image"
    /29.1rem 55rem;
}

section:nth-of-type(even) {
  grid-template:
    "image ."
    "image title"
    "image description"
    "image ."
    /55rem 29.1rem;
}

.title {
  grid-area: title;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.8rem;
  letter-spacing: -0.03rem;
}

.title-1-gradient {
  background-image: var(--linkbrary-title-1-gradient);
}
.title-2-gradient {
  background-image: var(--linkbrary-title-2-gradient);
}
.title-3-gradient {
  background-image: var(--linkbrary-title-3-gradient);
}
.title-4-gradient {
  background-image: var(--linkbrary-title-4-gradient);
}

.description {
  grid-area: description;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--linkbrary-description);
  line-height: 150%;
}

.content-image {
  grid-area: image;
  width: 55rem;
  height: 45rem;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 16rem;
  padding-top: 3.2rem;
  background-color: #111322;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 192rem;
  height: fit-content;
  padding: 0 10.4rem;
}

.copyright {
  color: var(--linkbrary-footer-copyright);
  font-family: Arial;
  font-size: 1.6rem;
}

.footer-links {
  display: flex;
  column-gap: 3rem;
  padding-right: 1.8rem;
}

.footer-link {
  color: var(--linkbrary-footer-text);
  font-family: Arial;
  font-size: 1.6rem;
}

.sns {
  display: flex;
  column-gap: 1.2rem;
  height: 2rem;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  nav {
    padding: 0;
  }

  .nav-box {
    width: 79.9rem;
    padding: 0 min(32px);
  }

  .slogan {
    width: 47.2rem;
    word-break: keep-all;
  }

  /* Images */
  .hero-image {
    width: 65rem;
    height: 38.3rem;
  }
  .content-image {
    width: 38.5rem;
    height: 31.5rem;
  }

  article {
    padding-top: 3rem;
  }

  section {
    column-gap: 5.1rem;
    row-gap: 1rem;
    height: 41.5rem;
    padding: 5rem 0;
  }

  section:nth-of-type(odd) {
    grid-template:
      ". image"
      "title image"
      "description image"
      ". image"
      /26.2rem 38.5rem;
  }
  
  section:nth-of-type(even) {
    grid-template:
      "image ."
      "image title"
      "image description"
      "image ."
      /38.5rem 26.2rem;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  nav {
    padding: 0;
  }

  .nav-box {
    width: 100%;
    padding: 0 min(32px);
  }

  .nav-logo {
    width: 8.9rem;
  }

  .slogan {
    font-size: 3.2rem;
    line-height: 4.2rem;
    word-break: keep-all;
    width: 23.6rem;
  }

  .hero-header {
    row-gap: 2.4rem;
    padding-top: 0;
  }

  .cta {
    height: 3.7rem;
    font-size: 1.4rem;
  }

  .cta-short {
    width: 8rem;
    padding: 1rem 1.6rem;
    gap: 1rem;
  }

  .cta-long {
    width: 20rem;
  }

  /* Images */
  .hero-image {
    width: 30.2792rem;
    height: 17.8712rem;
    flex-shrink: 0;
  }
  .content-image {
    width: 32.5rem;
    height: 26.5909rem;
  }

  article {
    padding-top: 0;
  }

  section {
    column-gap: 2.4rem;
    row-gap: 1.6rem;
    height: 45.7rem;
    padding: 4rem 0;
  }

  .title {
    font-size: 2.4rem;
    line-height: normal;
  }
  .description {
    font-size: 1.5rem;
  }

  section:nth-of-type(odd) {
    grid-template:
      "title"
      "image"
      "description"
      /32.5rem;
  }
  
  section:nth-of-type(even) {
    grid-template:
      "title"
      "image"
      "description"
      /32.5rem;
  }

  footer {
    padding: 3.2rem;
  }

  .footer-box {
    display: grid;
    grid-template:
      "footer-text sns"
      "copyright ."
      /18.1rem 14.5rem;
    row-gap: 6rem;
    padding: 0;
  }

  .copyright {
    grid-area: copyright;
  }
  
  .footer-links {
    grid-area: footer-text;
  }

  .sns {
    grid-area: sns;
  }
}