* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: var(--sky-blue);
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1920px;
    padding: 2rem 20rem;
}

span {
    display: inline;
}

.hero-header-colorful .background-clip-text {
    display: inline;
}

a.nav-log img {
    width: 13.3rem;
    height: 2.4rem;
}

.hero {
    background-color: var(--sky-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 7rem 36rem 0rem 36rem;
    height: 95.3rem;
    gap: 4rem;
}

.hero-header {
    width: 70.8rem;
    height: 16rem;
}

.hero-header h1 {
    text-align: center;
    font-style: normal;
    word-break: keep-all;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 8rem;
}

.hero-header-colorful {
    background: linear-gradient(119deg, var(--purple-blue) 0%, var(--salmon-red) 100%);
}


.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.4rem;
    cursor: pointer;
    background-image: linear-gradient(135deg, var(--purple-blue) 0%, var(--medium-cyan-blue) 100%);
    border-radius: 0.8rem;
    color: var(--white-smoke);
    font-size: 1.8rem;
    font-weight: 600;
}

.cta-short {
    width: 12.8rem;
}

.cta-long {
    width: 35rem;
}



.background-clip-text {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.hero-image {
    width: 120rem;
    height: 59rem;
}

ul {
    padding-top: 7rem;
    padding-bottom: 12rem;
}

li {
    display: grid;
    justify-content: center;
    column-gap: 15.7rem;
    row-gap: 1rem;
    padding: 5rem 0;
}

li:nth-of-type(odd) {
    grid-template:
        ". image"
        "title image"
        "description image"
        ". image"
        /29.1rem 55rem;
}

li:nth-of-type(even) {
    grid-template:
        "image ."
        "image title"
        "image description"
        "image ."
        /55rem 29.1rem;
}

.title {
    grid-area: title;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.8rem;
    letter-spacing: -0.03rem;
}

.title-save-gradient {
    background-image: linear-gradient(117deg, var(--soft-red) 2.29%, var(--cyan-blue) 100%);
}

.title-manage-gradient {
    background-image: linear-gradient(304deg, var(--light-cyan-blue) 0%, var(--yellow-brown) 100%);
}

.title-share-gradient {
    background-image: linear-gradient(133deg, var(--dark-blue) 0%, var(--light-blue) 100%);
}

.title-search-gradient {
    background-image: linear-gradient(310deg, var(--medium-pink) 0%, var(--aqua-cyan-blue) 100%);
}

.description {
    grid-area: description;
    font-size: 1.6rem;
    word-break: keep-all;
    font-weight: 500;
    color: var(--temple-gray);
    line-height: 150%;
}

.content-image {
    grid-area: image;
    width: 100%;
    height: 100%;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 16rem;
    padding-top: 3.2rem;
    background-color: var(--blue-black);
}

.footer-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 192rem;
    height: fit-content;
    padding: 0 10.4rem;
}

.copyright {
    color: var(--granite-gray);
    font-family: Arial;
    font-size: 1.6rem;
}

.footer-links {
    display: flex;
    column-gap: 3rem;
    padding-right: 1.8rem;
}

.footer-link {
    color: var(--light-gray);
    font-family: Arial;
    font-size: 1.6rem;
}

.sns {
    display: flex;
    column-gap: 1.2rem;
    height: 2rem;
}

@media (max-width: 767px) {
    nav {
        padding: 1.3rem 3.2rem;
    }

    a.header-logo img {
        width: 8.8667rem;
        height: 1.6rem;
    }

    .hero {
        padding: 2.8rem 2rem 0 3.3rem;
        height: 100%;
        gap: 2.4rem;
    }


    .hero-header {
        width: 23.6rem;
        height: 12.6rem;
    }

    .hero-header>h1 {
        font-size: 3.2rem;
        line-height: 131.25%;
    }

    .cta {
        padding: 1rem 1.6rem;
        font-size: 1.4rem;
        height: auto;
    }

    .cta-short {
        width: 8rem;
    }

    .cta-long {
        width: 20rem;
    }

    .hero-image {
        width: 100%;
        height: 100%;
    }

    ul {
        padding-top: 0;
        padding-bottom: 4rem;
    }

    li {
        align-items: center;
        padding: 4rem 3.2rem;
        row-gap: 1.6rem;
    }

    li:nth-of-type(odd),
    li:nth-of-type(even) {
        grid-template:
            "title title"
            "image image"
            "image image"
            "description description";
    }

    .title {
        font-size: 2.4rem;
    }

    .description {
        font-size: 1.5rem;
        font-weight: 500;
    }

    footer {
        width: 100%;
    }

    .footer-box {
        display: grid;
        grid-template:
            "links sns"
            ". ."
            "copyright .";
        padding: 0 3.2rem;
    }

    .footer-links {
        grid-area: links;
    }

    .copyright {
        grid-area: copyright;
    }

    .sns-links {
        grid-area: sns;
    }

    span {
        display: block;
    }

    span .inline {
        display: inline;
    }
}

@media(max-width:1199px) {
    nav {
        padding: 2rem 3.2rem;
    }

    .hero {
        padding: 3.9rem 25rem 0 25.1rem;
        height: 75.6rem;
    }

    .hero-header {
        width: 47.2rem;
        height: 24rem;
    }

    .hero-image {
        width: 65.0303rem;
        height: 38.3114rem;
    }

    ul {
        padding-top: 3rem;
    }

    li {
        column-gap: 5.1rem;
    }

    li:nth-of-type(odd) {
        grid-template-columns: 26.2rem 38.5rem;
    }

    li:nth-of-type(even) {
        grid-template-columns: 38.5rem 26.2rem;
    }

    footer {
        margin-top: 12rem;
    }
}