:root {
    --pale-blue: #F0F6FF;
    --sky-blue: #edf7ff;
    --white-smoke: #f5f5f5;
    --purple-blue: #6d6afe;
    --salmon-red: #ff9f9f;
    --soft-red: #fe8a8a;
    --cyan-blue: #a4ceff;
    --medium-cyan-blue: #6ae3fe;
    --light-cyan-blue: #6fbaff;
    --aqua-cyan-blue: #68e8f9;
    --cyan-blue-gray: #CCD5E3;
    --light-cyan-blue-gray: #E7EFFB;
    --yellow-brown: #ffd88b;
    --dark-blue: #2945c7;
    --light-blue: #dbe1f8;
    --medium-pink: #fe578f;
    --temple-gray: #6b6b6b;
    --blue-black: #111322;
    --granite-gray: #676767;
    --light-gray: #cfcfcf;
}