.modalWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.5rem;
  border: 0.1rem solid var(--stroke-light, #dee2e6);
  background: var(--gray-white, #fff);
  padding: 3.2rem 4rem;
  background-color: rgba(255, 255, 255, 1);
}

.closeModalButton {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2.4rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}
.folderName {
  color: var(--linkbrary-gray-60, #9fa6b2);
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.2rem; /* 157.143% */
  padding-top: 0.8rem;
}

.shareLinks {
  display: flex;
  gap: 3.2rem;
}
.shareLinks p {
  width: auto;
}
.shareLinks button {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.toast {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  background-color: var(--linkbrary-primary-color);
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
}
