.search-form-container {
  max-width: 1060px;
  width: 100%;
  min-width: 500px;
  background-color: white;

  .search-form {
    position: relative;
  }
}

.search-bar {
  padding: 1rem 4rem;
  width: 100%;
  height: 5rem;
  border-radius: 10px;
  border: none;
  background-color: #f5f5f5;
}

input:focus {
  outline: none !important;
  border: 2px solid var(--color-gray4);
}

.search-icon {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
}
