:root {
  /* color */
  --primary-color: #6d6afe;
  --red-color: #ff5b56;
  --black-color: #111322;
  --white-color: #ffffff;
  --gray100-color: #3e3e43;
  --gray80-color: #9fa6b2;
  --gray60-color: #ccd5e3;
  --gray40-color: #e7effb;
  --gray20-color: #f0f6ff;
}

* {
  box-sizing: border-box;
  font-family: "pretendard", sans-serif;
}

a,
button {
  cursor: pointer;
}
