.container {
  display: flex;
  padding: 6rem 32rem 9rem 32rem;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  background-color: var(--background, #f0f6ff);
}

.add-box {
  display: flex;
  width: 80rem;
  padding: 1.6rem 2rem;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  border-radius: 15px;
  border: 1px solid var(--primary, #6d6afe);
  background: var(--white, #fff);
}

.link-input {
  flex-grow: 1;
  color: var(--gray60, #9fa6b2);
  font-size: 1.6rem;
  line-height: 2.4rem;
  border: none;
}

.cta {
  display: flex;
  flex-direction: flex-start;
  width: 8rem;
  padding: 1rem 1.6rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.8rem;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%));
  color: #f5f5f5;
}
