body {
	background-color: var(--linkbrary--color--gray5);
}

/* PC */
.auth__container {
	width: 40rem;
	margin: 23.8rem auto 25.2rem auto;
}

.auth__legend-wrapper {
	margin-bottom: 3rem;
	text-align: center;
}

.auth__logo {
	display: inline-block;
	width: 21rem;
	height: 3.8rem;
	margin-bottom: 1.6rem;
}

.auth__wrapper {
	display: flex;
	align-items: flex-start;
	gap: 0.8rem;
}

.auth__link-text {
	color: var(--linkbrary--color--black);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
}

.auth__link {
	border-bottom: 0.1rem solid var(--linkbrary--color--primary);
	color: var(--linkbrary--color--primary);
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.8rem;
}

.auth__input-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	margin-bottom: 3rem;
}

.auth__input-title {
	margin-bottom: 1.2rem;
	font-size: 1.4rem;
	font-weight: 400;
	color: var(--linkbrary--color--black);
}

.auth__input {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40rem;
	height: 6rem;
	padding: 0 1.5rem;
	border: 0.1rem solid var(--linkbrary--color--gray3);
	border-radius: 0.8rem;
	background: var(--linkbrary--color--white);
	color: var(--linkbrary--color--gray0);
}

.auth__input:focus {
	border: 0.1rem solid var(--linkbrary--color--primary);
}

.auth__input.auth__input--hint {
	border-color: var(--linkbrary--color--red);
}

.auth__wrapper-password,
.auth__wrapper-password--confirm {
	position: relative;
}

.auth__wrapper-password button,
.auth__wrapper-password--confirm button {
	position: absolute;
	right: 1.5rem;
	bottom: 50%;
	transform: translateY(50%);
}

.auth__email-hint,
.auth__password-hint,
.auth__password-confirm-hint {
	min-height: 1.7rem;
	margin-top: 0.6rem;
	color: var(--linkbrary--color--red);
	font-size: 1.4rem;
	font-weight: 400;
}

.auth__button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 40rem;
	height: 5.4rem;
	margin-bottom: 3.2rem;
	border-radius: 8px;
	background: var(--linkbrary--gra--purpleblue);
	font-size: 1.8rem;
	font-weight: 600;
	color: var(--linkbrary--color--white);
}

.social-auth__wrapper {
	display: flex;
	align-items: center;
	height: 6.6rem;
	padding: 0 2.4rem;
	border: 1px solid var(--linkbrary--color--gray3);
	border-radius: 0.8rem;
	background: var(--linkbrary--color--gray4);
}

.social-auth__title {
	flex: 1;
	font-size: 1.4rem;
	font-weight: 400;
	color: var(--linkbrary--color--gray0);
}

.social-auth__button-wrapper {
	display: flex;
	align-items: center;
	gap: 1.6rem;
}

.social-auth__button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 4.2rem;
	height: 4.2rem;
	border-radius: 50%;
}

.social-auth__button--google {
	border: 0.1rem solid var(--google--color);
}

.social-auth__button--kakao {
	background-color: var(--kakao--color);
}

.social-auth__button--kakao img {
	position: relative;
	top: 0.1rem;
}

/* TABLET */
@media screen and (max-width: 1199px) {
	.auth__container {
		margin: 20rem auto 29rem auto;
	}
}
/* MOBILE */
@media screen and (max-width: 767px) {
	.auth__container {
		width: 100%;
		margin: 12rem auto 23.2rem auto;
		padding: 0 3.2rem;
	}

	.auth__input {
		width: 100%;
	}

	.auth__button {
		width: 100%;
	}
}
