@import './reset.css';

.card-wrapper {
  width: 34rem;
  height: 33rem;
  flex-shrink: 0;
  border-radius: 15px;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.16);
}

.card-image-box {
  width: 100%;
  height: 19.5rem;
  position: relative;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
  transition: 0.5s;
  object-fit: contain;
}

.card-image:hover {
  transform: scale(1.2);
}

.card-info-box {
  display: flex;
  width: 100%;
  height: 13.5rem;
  padding: 1.5rem 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.card-info-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.star-mark-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.star-mark {
  width: 3.4rem;
  height: 3.4rem;
}

.card-passed-time {
  color: var(--gray06);
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-description {
  height: 4.9rem;
  align-self: stretch;
  overflow: hidden;
  color: #000;

  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
