.categoryNav {
  display: flex;
  justify-content: space-between;
}

.categoryBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.categoryItemBox {
  display: flex;
  align-items: center;
  text-align: center;
}

/* mobile Size */
@media (max-width: 767px) {
  .categoryItemBox {
    max-width: 32.5rem;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    row-gap: 12px;
  }
}
