:root {
  --primary: #6d6afe;
  --red: #ff5b56;
  --black: #11322;
  --white: #ffffff;
  --gray100: #373740;
  --gray60: #9fa6b2;
  --gray20: #ccd5e3;
  --gray10: #e7effb;
  --bg: #f0f6ff;
  --gray-light: #f5f5f5;
  --gra-purpleblue-to-skyblue: linear-gradient(
    91deg,
    #6d6afe 0.12%,
    #6ae3fe 101.84%
  );
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"),
    url("/fonts/Pretendard-Black.subset.woff2") format("woff2"),
    url("/fonts/Pretendard-Black.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url("/fonts/Pretendard-ExtraBold.subset.woff2") format("woff2"),
    url("/fonts/Pretendard-ExtraBold.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("/fonts/Pretendard-Bold.subset.woff2") format("woff2"),
    url("/fonts/Pretendard-Bold.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url("/fonts/Pretendard-SemiBold.subset.woff2") format("woff2"),
    url("/fonts/Pretendard-SemiBold.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url("/fonts/Pretendard-Medium.subset.woff2") format("woff2"),
    url("/fonts/Pretendard-Medium.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("/fonts/Pretendard-Regular.subset.woff2") format("woff2"),
    url("/fonts/Pretendard-Regular.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url("/fonts/Pretendard-Light.subset.woff2") format("woff2"),
    url("/fonts/Pretendard-Light.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"),
    url("/fonts/Pretendard-ExtraLight.subset.woff2") format("woff2"),
    url("/fonts/Pretendard-ExtraLight.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"),
    url("/fonts/Pretendard-Thin.subset.woff2") format("woff2"),
    url("/fonts/Pretendard-Thin.subset.woff") format("woff");
}

* {
  box-sizing: border-box;
  text-decoration: none;
  line-height: normal;
  font-family: "Pretendard", sans-serif;
}

body {
  background-color: #fff;
  color: #000;
}

a {
  cursor: pointer;
}

button {
  overflow: visible;
  padding: 0;
  border: none;
  border-radius: 0;
  background: inherit;
  box-shadow: none;
  cursor: pointer;
  font-family: "Pretendard";
}
