@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Pretendard';
  line-height: normal;
}

@layer components {
  .btn-gra {
    display: flex;
    justify-content: center;
    background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
    color: #f0f6ff;
  }
}

input {
  outline: none;
}
