@import "reset.css";
@import "variables.css";

/* Components */
@import "./components/gnb.css";
@import "./components/footer.css";

/* Screens */
@import "./screens/homepage.css";

.blind {
    display: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 2rem;
    border-radius: 0.8rem;
    background: var(--linkbrary-grad);
}

.button__link {
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--grey-light);
}