/* @import "/styles/reset.css" 
이걸 추가하였더니 전체 테두리에 마진이 생기고, 아래 *{} 이부분은 적용이 안되는 것 같아요 ㅠㅠ
(현재는 적용되지 않도록 주석처리함) 왜 그런건가요.. ??   */

* {
  font-family: "Pretendard";
  box-sizing: border-box;
  margin: 0;
}

html{
  font-size: 16px;
}

header {
  background-color: rgba(240, 246, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
}

section {
  width: 100%;
  justify-content: center;
  display:flex;
  flex-direction:column;
  align-items: center;
}

section img {
  width: 550px;
  height: 450px;
}

.gradient-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 16px 20px;
  background-image: linear-gradient(
    90deg,
    rgba(109, 106, 254, 1),
    rgba(106, 227, 254, 1)
  );
  cursor: pointer;
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: rgba(245, 245, 245, 1);
}

.gradient-link.signin {
  width: 128px;
}

.gradient-link.signup {
  width: 350px;
  gap: 10px;
  margin: 20px 0;
}

.head-title {
  color: rgba(0, 0, 0, 1);
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  font-weight: 700;
  margin-top: 170px;
}

.head-title-gradient {
  background-image: linear-gradient(119deg, #6d6afe 0%, #ff9f9f 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.hero-image {
  width: 1200px;
  height: 590px;
  text-align: center;
}

.link {
  display: flex;
  flex-direction: row;
  margin: 50px 460px;
  width: 998px;
  height: 450px;
}

.text-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 157px;
}

.text-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 157px;
}

.main-text {
  font-size: 48px;
  font-weight: 700;
}

.main-text .section-gradient-1 {
  background-image: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-text .section-gradient-2 {
  background-image: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-text .section-gradient-3 {
  background-image: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-text .section-gradient-4 {
  background-image: 
    linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  color: #6b6b6b;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 160px;
  background: var(--the-julge-black, #111322);
  margin-top: 120px;
  padding: 32px 104px 64px;
}

.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /*space-between 속성값을 추가했는데 왜 로고 오른쪽 여백이 있을까요? ㅠㅠ 양쪽으로 정렬되는 것 아닌가요?? nav와 똑같이 했는데 왜 안될까요ㅠㅠ  */
  width: 100%;
}

.copyright {
  color: #676767;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
}

.explain {
  color: #cfcfcf;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
