.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3.3rem 20rem;
  background: var(--gray-zircon);
}

.nav .logo {
  width: 133px;
  height: 24px;
}

.nav .loginLink {
  display: flex;
  width: 128px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
}

.nav .userInfo {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}

.nav .userProfile {
  width: 28px;
  height: 28px;
  border-radius: 999px;
}

/* tablet Size */
@media (min-width: 768px) and (max-width: 1123px) {
  .nav {
    padding: 3.3rem 3.25rem 3.2rem;
  }
}

/* mobile Size */
@media (max-width: 767px) {
  .nav {
    padding: 1.8rem 3.2rem 1.7rem;
  }

  .nav .logo {
    width: 87px;
    height: 16px;
  }
}
