* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

:root {
  --primary: #6D6AFE;
  --red: #FF5B56;
  --black: #111322;
  --white: #FFFFFF;
  --gray-100: #373740;
  --gray-60: #9FA6B2;
  --gray-20: #CCD5E3;
  --gray-10: #E7EFFB;
  --bg: #F0F6FF;
}

html {
  font-family: 'Pretendard', sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  cursor: pointer;
}
