* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  src: url(../public/fonts/Pretendard-Black.woff2) format('woff2');
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  src: url(../public/fonts/Pretendard-ExtraBold.woff2) format('woff2');
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url(../public/fonts/Pretendard-Bold.woff2) format('woff2');
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url(../public/fonts/Pretendard-SemiBold.woff2) format('woff2');
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url(../public/fonts/Pretendard-Medium.woff2) format('woff2');
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url(../public/fonts/Pretendard-Regular.woff2) format('woff2');
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url(../public/fonts/Pretendard-Light.woff2) format('woff2');
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  src: url(../public/fonts/Pretendard-ExtraLight.woff2) format('woff2');
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  src: url(../public/fonts/Pretendard-Thin.woff2) format('woff2');
}

:root {
  --primary: #6d6afe;
  --red: #ff5b56;
  --black: #111322;
  --white: #ffffff;
  --gray-100: #373740;
  --gray-60: #9fa6b2;
  --gray-20: #ccd5e3;
  --gray-10: #e7effb;
  --bg: #f0f6ff;
}

html {
  font-family: 'Pretendard', sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  cursor: pointer;
}
