* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary: #6d6afe;
  --red: #ff5b56;
  --black: #111322;
  --white: #ffffff;
  --gray-100: #373740;
  --gray-60: #9fa6b2;
  --gray-20: #ccd5e3;
  --gray-10: #e7effb;
  --bg: #f0f6ff;
}

html {
  font-family: 'Pretendard', sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  cursor: pointer;
}
