
/* @import "/styles/reset.css" */
/* 원래css reset을 하지 않고 페이지를 만들고 있었는데요, 이후 @import로 reset.css를 불러왔더니
요소들이 폼 밖으로 삐져나가고, *로 적용한 속성들이 적용이 안되는 것 같아요..(현재는 적용이 되지 않도록 주석처리함)
ㅠㅠ어떻게 해야하나요...? */

* {
  font-family: "Pretendard";
  box-sizing: border-box;
  margin: 0;
  background-color: rgba(240, 246, 255, 1);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F6FF;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 530px;
  margin: 238px 0 116px 0;
}

header {
  /* width: 100%;  필요하다고 생각했는데.... 필요 없는 걸까요..?*/
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.title-logo{
  width: 210.583px;
  height: 38px;
}

.title-logo img {
  width: 100%
}

.title-subtext {
  margin-top: 16px;
  text-align: center;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  position: relative;
}

button {
  margin-top: 30px;
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 8px;
  border-color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(109, 106, 254, 1),
    rgba(106, 227, 254, 1)
  ); 
  font-size: 18px;
  font-weight: 600;
}

input {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
  background: #fff;
  margin: 12px 0 24px 0;
}

input:focus-visible {
  outline: 2px solid #6D6AFE;
  border-radius: 3px;
}

.input-eye-off{
  position: absolute;
  top: 48px;
  right: 15px;
  display:flex;
  flex-direction: row;
  justify-content: center;

}

.another-signup {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
  background-color: #e7effb;
}

.another-signup-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #e7effb;
  gap:16px;
    /* 위에 설정한 background-color가 아니라 *{} 안에 있는 배경 컬러가 적용되는 것 같습니다..왜죱..  */
}

.another-signup-text {
  background-color: #e7effb;
    /* 이것도..설정한 background-color가 아니라 *{} 안에 있는 배경 컬러가 적용되는 것 같습니다..왜죱...  */
}
