.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f6ff;
}

.inWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.emailInput {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.passwordInput {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.emailCheck {
  width: 100px;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 12px;
  background-color: #6c6afe;
  color: #fff;
  font-size: 13px;
  border-radius: 15px;
}
