
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--linkbrary-bg);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23.8rem;
    margin-bottom: 25.2rem;
    width: 40rem;
}

header {
    width: 21.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 3rem;
}

.logo {
    width: 21rem;
}

.plain {
    font: 400 1.6rem Pretendard;
}

.small {
    font-size: 1.4rem;
}

.gray {
    color: var(--gray-100);
}

.plain.link {
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: underline;
}

.cta {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
}

form {
    width: 100%;
    margin-bottom: 3.2rem;
    display: grid;
}

form.signin {
    grid-template-rows: 8.9rem 8.9rem 5.2rem;
    grid-template-areas: 
        'em'
        'pw'
        'bt';
    row-gap: 2.4rem;
}

form.signup {
    grid-template-rows: 8.9rem 8.9rem 8.9rem 5.2rem;
    grid-template-areas: 
        'em'
        'pw'
        'pwc'
        'bt';
    row-gap: 2.4rem;
}


label {
    display: block;
    font: 400 1.4rem Pretendard;
    color: black;
    margin-bottom: 1.2rem;
}


input {
    width: 100%;
    height: 6rem;
    border-radius: 8px;
    border: 0.1rem solid var(--gray-20);
    background-color: white;
    padding: 1.8rem 1.5rem;
    outline: none;
}


input:focus {
    border: 0.1rem solid var(--primary-color);
}

img#pw-eye, img#pwCheck-eye {
    position: absolute;
    width: 1.6rem;
    bottom: 2.0rem;
    right: 2.0rem;
}

.email {
    grid-area: em;
}

.pw {
    grid-area: pw;
    position: relative;
}

.pw-check {
    grid-area: pwc;
    position: relative;
}

button {
    grid-area: bt;
    border: 0;
}


footer {
    padding: 1.2rem 2.4rem;
    border-radius: 8px;
    background-color: var(--gray-10);
    display: flex;
    flex-basis: 6.6rem;
    justify-content: space-between;
    align-items: center;
}

.sns {
    display: flex;
    align-items: center;
}
