.signin__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--linkbrary-bg);
  
  height: fit-content;
  padding: 23.8rem 0 25.2rem;
}

/*-----------------------------------------------------------------------------*/
/* HEADER : LOGO, CTA */

.signin__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.signin-logo__img {
  width: 21rem;
  margin-bottom: 1.6rem;
}

.signin-cta {
  width: fit-content;
  display: flex;
  justify-content: space-between;
} 

.signin-cta__call {
  color: black;
  font: 400 1.6rem 'Pretendard';
  line-height: 2.4rem;
  margin-right: 0.8rem;
}

.signin-cta__action {
  color: var(--primary-color);
  font: 600 1.6rem 'Pretendard';
  text-decoration: underline;
}



/*-----------------------------------------------------------------------------*/
/* MAIN : FORM */

.signin-form {
  width: 40rem;
  margin-bottom: 3.2rem;
}

.signin-form__container {
  width: 100%;
  margin-bottom: 2.4rem;
  position: relative;
}

.signin-form__label {
  display: block;
  font: 400 1.4rem Pretendard;
  color: black;
  margin-bottom: 1.2rem;
}

.signin-form__input {
  background-color: white;
  
  width: 100%;
  height: 6rem;
  padding: 1.8rem 1.5rem;

  border: 0.1rem solid var(--gray-20);
  border-radius: 8px;
  outline: none;
}

.signin-form__input:focus {
  border: 0.1rem solid var(--primary-color);
}

.signin-form__pw-visible {
  position: absolute;
  width: 1.6rem;
  bottom: 2.0rem;
  right: 2.0rem;
}

.signin-form__btn {
  width: 100%;
  margin-top: 3rem;
  border: none;
}


/*-----------------------------------------------------------------------------*/
/* FOOTER : SNS */

.signin-footer {
  background-color: var(--gray-10);
  border-radius: 8px;
  max-width: 40rem;
  width: 100%;
  padding: 1.2rem 2.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signin-footer__text {
  color: var(--gray-100);
  font: 400 1.4rem Pretendard;
}

.signin-footer__sns {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
}