 @import "./reset.css";


* {
  box-sizing: border-box;
  margin: 0;
  background-color: rgba(240, 246, 255, 1);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F6FF;
  font-family: "Pretendard";
}

form {
  width:40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 23.8rem 0 11.6rem 0;

  @media (min-width: 375px) and (max-width: 767px){
    max-width: 40rem;
    margin-top: 12rem;
    padding: 0 3.2rem;
    width: 100%;
  }
}

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  align-items: center;;
  width:100%;
}

.title-logo{
  width: 21.05824rem;
  height: 3.8rem;
}

.title-logo img {
  width: 100%
}

.title-subtext {
  margin-top: 1.6rem;
  text-align: center;
  font-size: 1.6rem;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.8rem;
  max-width: 40rem;
  width: 100%;
  font-size: 1.6rem;
  margin: 1.2rem 0;
}

button {
  margin-top: 3rem;
  display: flex;
  width: 100%;
  padding: 1.6rem 2rem;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 0.8rem;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(109, 106, 254, 1),
    rgba(106, 227, 254, 1)
  ); 
  font-size: 1.8rem;
  font-weight: 600;
  cursor : pointer;
}

.input-container{
  width: 100%;
  margin-top: 1.2rem;
}

input {
  display: flex;
  padding: 1.8rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  border: 0.1rem solid #ccd5e3;
  background: #fff;
  width:100%;
}

input:focus {
  outline: none;
  border: 0.2rem solid #6D6AFE;
  border-radius: 0.8rem; 
}

.helper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  position: relative;
  width: 100%;
}

#eyeImage-password, #eyeImage-password-re {
  position: absolute;
  right: 1.5rem;
  display:flex;
  flex-direction: row;
  justify-content: center;
  cursor : pointer;
}

.email-error-message{
  padding-top:6px; 
  color: rgba(255, 91, 86, 1);
  display: none;
}

.password-error-message{
  padding-top:6px; 
  color: rgba(255, 91, 86, 1);
  display: none;
}

.password-re-error-message{
  padding-top:6px; 
  color: rgba(255, 91, 86, 1);
}

.error-border{
  border: 0.2rem rgba(255, 91, 86, 1);
}

.another-signup {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  border: 1px solid #ccd5e3;
  background-color: #e7effb;
}

.another-signup a {
  background-color: #e7effb;
}

.another-signup a img{
  background-color: #e7effb;
}

.another-signup-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #e7effb;
  gap:1.6rem;
}

.another-signup-text {
  background-color: #e7effb;
  font-size: 1.4rem;
}
