.addLinkModal {
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.link {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--linkbrary-gray-60, #9fa6b2);
}

.optionsContainer {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
}

.optionContainer {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.optionContainer:hover {
  background: var(--linkbrary-bg, #f0f6ff);
}

.optionContainer.selected {
  background: var(--linkbrary-bg, #f0f6ff);
}

.option {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.option h2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--linkbrary-gray-100, #373740);
}

.option p {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--linkbrary-gray-60, #9fa6b2);
}
