@import url('../../styles/global.css');

.header {
  width: 100%;
  margin-bottom: 93.5px;
  background-color: var(--backgroundcolor-skyblue-10);
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 100;
  padding: 20px 200px;
  background-color: var(--backgroundcolor-skyblue-10);
}

.login-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 128px;
  cursor: pointer;
  padding: 16px 20px;
  border-radius: 8px;
  border-style: none;
  color: var(--color-gray-10);
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
}

.user-profile-icon {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}

.user-profile-box {
  display: flex;
  align-items: center;
  gap: 6px;
}
