.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.2rem;
  background-color: #edf7ff;
  height: 7rem;
  /* tablet */
  @media (min-width: 768px) {
    height: 9.5rem;
  }
  /* descktop*/
  @media (min-width: 1200px) {
    padding: 0 20rem;
    height: 9.5rem;
  }
}
