/* list-share */
.list-share--container {
	width: 100%;
	padding: 0 190px;
}

.card-list--container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 33.5rem;
	gap: 2rem 2.5rem;
	width: 100%;
}
