/* PC */
.page--container {
  padding-top: 9.4rem;
}

.folder-info--wrapper {
  padding: 2rem 0 6rem;
  overflow: hidden;
  background-color: var(--linkbrary--color--gray5);
  text-align: center;
}

.profile-image {
  border-radius: 4.7rem;
  margin-bottom: 1.2rem;
}

.profile-name {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.folder-name {
  font-size: 4rem;
  font-weight: 600;
  line-height: normal;
}

.folder-contents--wrapper {
  padding: 4rem 19rem 10rem;
  display: grid;
  gap: 4rem;
}

.link-card-list--wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 33.5rem;
  gap: 2rem 2.5rem;
  width: 100%;
}

/* TABLET */
@media screen and (max-width: 1199px) {
  .folder-contents--wrapper {
    padding: 4rem 3.25rem 10rem;
    display: grid;
    gap: 4rem;
  }

  .link-card-list--wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem 2.5rem;
  }
}

/* MOBILE */
@media screen and (max-width: 767px) {
  .page--container {
    padding-top: 6.3rem;
  }

  .folder-info--wrapper {
    padding: 1rem 0 4rem;
  }

  .profile-image {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.6rem;
  }

  .profile-name {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }

  .folder-name {
    font-size: 3.2rem;
    letter-spacing: -0.2px;
  }

  .folder-contents--wrapper {
    padding: 2rem 3.25rem 4rem;
    gap: 3.2rem;
  }

  .link-card-list--wrapper {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
}
