.auth {
	background-color: var(--linkbrary-bg, #f0f6ff);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 0 2rem;
}
.auth__layout {
	padding: 14.875rem 0 15.75rem;
	flex: 0 1 25rem;
}
.auth__layout--sign-up {
	padding-bottom: 7.25rem;
}
.auth__inner {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1.875rem;
}

/* 헤더 */
.auth__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.125rem;
}
.auth__logo-link {
	width: 13.1614rem;
	height: 2.375rem;
}
.auth__logo-image {
	width: 100%;
	height: 100%;
}
.auth__header-text {
	color: var(--black, #000);
	font-family: Pretendard;

	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5rem;
}
.auth__header-link {
	color: var(--linkbrary-primary-color, #6d6afe);
	text-decoration: underline;
	font-family: Pretendard;
	font-size: 1rem;
	font-weight: 600;
	line-height: normal;
	font-style: normal;
}

/* 입력폼 */
.auth__form {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 1.5rem;
	align-items: center;
}
.form__field {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 0.75rem;
}
.form__label {
	color: var(--black, #000);
	font-family: Pretendard;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.form__input {
	height: 3.875rem;
	padding: 1.125rem 0.9375rem;
	border: 0.0625rem solid var(--linkbrary-gray-20, #ccd5e3);
	background: var(--linkbrary-white, #fff);
	border-radius: 0.5rem;
}
.form__input:focus {
	outline-color: var(--linkbrary-primary-color, #6d6afe);
}
.form__input--password {
	background-image: url("../images/eye-off.svg");
	background-repeat: no-repeat;
	background-size: 1rem 1rem;
	background-position: calc(100% - 1.125rem) center;
}
.form__field--password-check {
	gap: 0;
}
.form__label--password-check {
	margin-bottom: 0.75rem;
}
.form__password-warning {
	color: var(--linkbrary-red, #ff5b56);
	font-family: Pretendard;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-top: 0.375rem;
}

/* 버튼 */
.auth__button {
	width: 100%;
	padding: 1rem 1.25rem;
	height: 3.375rem;
	font-size: 1.125rem;
}

/* 푸터 */
.auth__footer {
	display: flex;
	width: 100%;
	padding: 0.75rem 1.5rem;
	border: 0.0625rem solid var(--linkbrary-gray-20, #ccd5e3);
	background: var(--linkbrary-gray-10, #e7effb);
	justify-content: space-between;
	align-items: center;
	border-radius: 0.5rem;
	font-size: 0.875rem;
	font-weight: 400;
	font-family: Pretendard;
	margin-top: 0.125rem;
}
.auth__social-text {
	color: var(--linkbrary-gray-100, #373740);
	font-family: Pretendard;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.auth__social {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}
.auth__social-link {
	width: 2.625rem;
	height: 2.625rem;
}
.auth__social-icon {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
}
