@import "@/styles/global.scss";

.main {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: $color-light-blue;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    gap: 3rem;

    @include tablet {
    }

    .items {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }
  }
}
