/* info */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 164px;

  padding: 20px 0;
  background: var(--linkbrary-bg, #f0f6ff);
}

.avatar {
  width: 28px;
  height: 28px;

  border-radius: 100%;

  margin-bottom: 12px;
}

.userName {
  font-family: Pretendard;
  font-size: 16px;
  line-height: 24px; /* 150% */

  margin-bottom: 20px;
}

.folderName {
  font-family: Pretendard;
  font-size: 40px;
  font-weight: 600;
}

/* cardWrapper */
.cardWrapper {
  max-width: 1060px;
  margin: 20px auto;
}
