
/* main */
.sharedMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 4rem 0;
}

/* folder 정보 */
.folder-info{
    padding: 9.6rem  0 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.folder-owner{
    display: flex;
    flex-direction: column;
}

.owner-profile img{
    width:6rem;
    height: 6rem;
    border-radius: 4.7rem;
}

.owner-name{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
}

.folder-name{
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
}

/* folder 검색 */
.search-bar{
    display: flex;
    background-color: #F5F5F5;
    padding: 1.5rem;
    margin: 0 3.2rem;
    border-radius: 10px;
    max-width: 113rem;
    width: 90%;
    gap: 1rem;
}

.search-input{
    border: 0;
    background-color: #F5F5F5;
    width: 100%;
}

.search-input:focus{
    outline:none;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 113rem;
    gap: 2.5rem 2rem;
    padding: 4rem 3.2rem 0;
}

/* login User 정보*/
.user-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}

.user-profile img{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 2rem;
}
