.main-folder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 4rem 0;
}

.add-link-container{
    margin: 9.6rem  0.6rem;
    background-color: #fff;
    border: 1px solid #6d6afe;
    border-radius: 15px;
    padding: 1.6rem 2rem;
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 80rem;
    position: relative;
}

.link-input{
    margin-left: 1rem;
}

.link-input::placeholder{
    margin-left: 1rem;
    color: #9fa6b2;
}

.btn-link{
    position: absolute;
    right: 2rem;
}
