@import url('../../styles/global.css');

.folder-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 320px 90px 320px;
  gap: 8px;
  background: var(--backgroundcolor-skyblue-10);
}

.folder-category-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folder-option-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
