.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  gap: 2.4rem;
}

.label {
  display: inline-block;
  margin-bottom: 1.2rem;
  color: var(--black);
  font-size: 1.4rem;
}
